Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update k8s.io/utils digest to 665eaae
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
Due: api

build(deps): update kubernetes packages to v0.22.15
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

go mod tidy
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): Update k8s dependencies
  cli/go.mod
  cli/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
Due: cli

build(deps): Update k8s dependencies (#8887)
  cli/go.mod
  cli/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
Due: cli

fix(shipyard-controller): Adopt previous value of IsUpstreamAutoProvisioned when migrating project with old git credentials structure (#8883)
  shipyard-controller/internal/db/migration/project_credentials_migration_test.go
  shipyard-controller/internal/db/project_credentials_repo.go
  shipyard-controller/models/expanded_project_old.go
Due: shipyard-controller

build(deps): Update keptn/go-utils to 8a053e609bfac3125ea2f9eb3bb1d404870bc402
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Auto-update go-utils to latest version (#8888)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update golang.org/x/time digest to f3bd1da
  api/go.mod
  api/go.sum
Due: api

build(deps): update golang.org/x/crypto digest to 4ba4fb4
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/moby/moby to v17.12.0-ce-rc4+incompatible
  cli/go.mod
Due: cli

build(deps): update golang.org/x/net digest to 8be6392
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update helm release nats to v0.18.0
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update module github.com/gobuffalo/packr/v2 to v2.8.3
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

Fix pipeline
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update sigstore/cosign-installer action to v2.7.0
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update c-py/action-dotenv-to-setenv action to v4
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(shipyard-controller): Adopt previous value of IsUpstreamAutoProvisioned when migrating project with old git credentials structure (#8882)
  shipyard-controller/internal/db/migration/project_credentials_migration_test.go
  shipyard-controller/internal/db/project_credentials_repo.go
  shipyard-controller/models/expanded_project_old.go
Due: shipyard-controller

Use cache key for every Go service respective
  .github/workflows/test-and-build-docker-images.yml
Due: none

Extract go mod download into a separate step
  .github/workflows/test-and-build-docker-images.yml
Due: none

remove meta keptn related files
  test/assets/keptn-on-keptn/endpoints-helm-service.yaml
  test/assets/keptn-on-keptn/endpoints-jmeter-service.yaml
  test/assets/keptn-on-keptn/endpoints-keptn.yaml
  test/assets/keptn-on-keptn/ingress.yaml
Due: none

remove meta keptn related pipeline code
  .github/workflows/integration_tests.yml
Due: none

debugging
  test/go-tests/test_importer.go
Due: none

debugging
  test/go-tests/test_provisioningURL.go
Due: none

remove unneeded env vars
  .github/workflows/integration_tests.yml
Due: none

add annotations to enable scaling and evicting of nats in integration tests
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

reenable other tests
  test/go-tests/testsuite_gke_test.go
Due: none

revert debugging changes
  test/go-tests/test_importer_test.go
Due: none

use different names for projects in test
  test/go-tests/test_provisioningURL.go
Due: none

revert debugging changes
  .github/workflows/integration_tests.yml
Due: none

more debugging
  test/go-tests/test_importer.go
Due: none

debugging
  .github/workflows/integration_tests.yml
  test/go-tests/test_importer.go
  test/go-tests/testsuite_gke_test.go
Due: none

revert debugging changes
  test/go-tests/test_importer_test.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/testsuite_gke_test.go
Due: none

debugging
  test/go-tests/testsuite_gke_test.go
Due: none

revert some changes
  test/go-tests/test_provisioningURL.go
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
