Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix(bridge): Settings view overflow problem
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.scss
Due: bridge2

build(deps): Update keptn/go-utils to 29e14a06fcb70ada7f3704dc80c02cb69b522aba
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Signed-off-by: brijesh <brijeshkori22@gmail.com>
  bridge/server/api/index.ts
  bridge/server/app.ts
Due: bridge2, bridge-server

chore: Use logrus StandardLogger in webhook and remediation service
  remediation-service/main.go
  webhook-service/main.go
Due: remediation-service, webhook-service

Calling setFilter inside subscribe instead of tap
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
Due: bridge2

chore: Use logrus StandardLogger in webhook and remediation service (#8292)
  remediation-service/main.go
  webhook-service/main.go
Due: remediation-service, webhook-service

chore: Bump swagger-ui to version 4.12.0 (#8281)
  api/swagger-ui/oauth2-redirect.html
  api/swagger-ui/swagger-ui-bundle.js
  api/swagger-ui/swagger-ui-bundle.js.map
  api/swagger-ui/swagger-ui-standalone-preset.js
  api/swagger-ui/swagger-ui-standalone-preset.js.map
  api/swagger-ui/swagger-ui.css
  api/swagger-ui/swagger-ui.css.map
  api/swagger-ui/swagger-ui.js
  api/swagger-ui/swagger-ui.js.map
Due: api

fix(shipyard-controller): Return `ErrProjectNotFound` instead of `nil, nil` when project is not in the db (#8266)
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/handler/projectmanager.go
Due: shipyard-controller

adapted test
  test/go-tests/test_resourceservice.go
Due: none

adapted tests
  test/go-tests/test_resourceservice.go
Due: none

fixed unwanted change
  webhook-service/skaffold.yaml
Due: none

feat(installer): Remove configuration-service references and resourceService.enabled option
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
  resource-service/README.md
  resource-service/deploy/service.yaml
Due: none

remove config svc from dependencies and licenses pipeline
  .github/workflows/dependencies-and-licenses.yml
Due: none

fixed unit tests
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.spec.ts
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
Due: bridge2

fix(bridge): Settings view overflow problem (#8291)
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.scss
Due: bridge2

moved routes into routing file. Fixed Sonar bugs
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view-routing.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.module.ts
Due: bridge2

test(bridge): Remove not needed and flaky UI test
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

chore: Remove configuration-service from pipelines (#8284)
  .github/workflows/CI.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  codecov.yml
  gh-actions-scripts/prepare_changed_artifacts.sh
  test/go-tests/test_resourceservice.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

cleanup refs to configuration-service
  .github/workflows/validate-semantic-pr.yml
  .gitignore
  CONTRIBUTING.md
Due: none

review
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): Update keptn/go-utils to 83692294c5793f5bcf7eda43aac1884c15c961f5
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Refactor secrets page - Refactor components to be reactive
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.html
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.spec.ts
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.html
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.spec.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.ts
Due: bridge2

trigger build
  installer/manifests/keptn.yaml
Due: none

remove resourceService.enabled from test-values.yaml
  test/zero-downtime/assets/test-values.yml
Due: none

test(bridge): Remove not needed and flaky UI test (#8298)
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

build(deps): Update keptn/go-utils to 0fc8c36d130663fbfe443872f4020a220c5cac24
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat: Removed (un)install/upgrade commands
  cli/cmd/api_service_type.go
  cli/cmd/auth.go
  cli/cmd/common.go
  cli/cmd/generate_support_archive.go
  cli/cmd/get_event_approvalTriggered.go
  cli/cmd/helpers.go
  cli/cmd/helpers_test.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/install_upgrade_params.go
  cli/cmd/install_upgrade_params_test.go
  cli/cmd/root.go
  cli/cmd/root_test.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/cmd/trigger_sequence.go
  cli/cmd/uninstall.go
  cli/cmd/uninstall_test.go
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  cli/cmd/usecase_type.go
  cli/cmd/version.go
  cli/internal/auth/oauth.go
  cli/internal/cespec/data.go
  cli/internal/cespec/genspec.go
  cli/pkg/common/quick_access_instructions.go
  cli/pkg/common/quick_access_instructions_darwin.go
  cli/pkg/common/quick_access_instructions_linux.go
  cli/pkg/common/quick_access_instructions_windows.go
  cli/pkg/docker/docker_utils_test.go
  cli/pkg/logging/log_printer.go
Due: cli

build(deps): Update keptn/go-utils to 61b52e51f8ffdf7a1023a2e9a890d2fe27a4982b
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

- Refactor Secret class into IClientSecret ans IServiceSecret interfaces - Adopt components and unit tests
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.spec.ts
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
  bridge/client/app/_models/secret.spec.ts
  bridge/client/app/_models/secret.ts
  bridge/client/app/_services/_mockData/api-responses/secrets-response.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/server/models/webhook-config.utils.spec.ts
  bridge/server/models/webhook-config.utils.ts
  bridge/server/services/api-service.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/secret.ts
Due: bridge2, bridge-server

add a nice header
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

remove config svc from artifact prepare script
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

add more log output
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

add lots of comments to the changed artifacts script
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

dont run bridge tests if its a build-everything run
  .github/workflows/CI.yml
Due: none

add new list of artifacts for build everything case
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

revert previous changes
  .github/workflows/CI.yml
Due: none
