Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Improve ktb-chart (#8561)
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

review
  installer/airgapped/install_keptn.sh
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
Due: shipyard-controller

Refactored deleteSubscription method
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.ts
  bridge/client/app/_interfaces/delete.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

javascript fixes
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
Due: shipyard-controller

- Fix unread icon behavior
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

Removed code smell
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.ts
Due: bridge2

Adapt and refactor UI tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/cypress/integration/components/line-chart.spec.ts
  bridge/cypress/support/pageobjects/LineChartComponentPage.ts
Due: bridge2

fixed unit test
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
Due: bridge2

Add @agardnerIT as Keptn member
  MAINTAINERS
Due: none

build(deps): update golang.org/x/net digest to 0bcc04d
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

feat(shipyard-controller): Introduce Debug-UI for shipyard-controller (#8400)
  shipyard-controller/Dockerfile
  shipyard-controller/debug-ui/favicon.png
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.css
  shipyard-controller/debug-ui/index.html
  shipyard-controller/debug-ui/treeview.css
  shipyard-controller/debug-ui/viewevents.html
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/db/mock/eventrepo_mock.go
  shipyard-controller/internal/db/mock/sequencestaterepo_mock.go
  shipyard-controller/internal/db/mock/uniformrepo_mock.go
  shipyard-controller/internal/db/mongodb_event_repo.go
  shipyard-controller/internal/db/mongodb_event_repo_test.go
  shipyard-controller/internal/db/mongodb_state_repo.go
  shipyard-controller/internal/db/mongodb_state_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

- Fix ExpressionChangedError
  bridge/client/app/_services/data.service.ts
Due: bridge2

getblockingsequences endpoint
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/routing/debugcontroller.go
Due: shipyard-controller

fixed installing keptn in integration test workflow
  installer/airgapped/install_keptn.sh
Due: none

refactored
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/configure_monitoring_handler.go
  lighthouse-service/event_handler/configure_monitoring_handler_test.go
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

com
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

minor refactoring
  lighthouse-service/main_test.go
Due: lighthouse-service

first draft
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  lighthouse-service/main_test.go
Due: lighthouse-service

remove unused methods
  lighthouse-service/main_test.go
Due: lighthouse-service

fix minor issue
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
Due: lighthouse-service

working version
  lighthouse-service/main_test.go
Due: lighthouse-service

working version
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

remove integration tests
  lighthouse-service/main_test.go
  test/go-tests/test_qualitygate.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
Due: lighthouse-service

version
  lighthouse-service/main_test.go
Due: lighthouse-service

pr review
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

refactoring
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/handler.go
Due: lighthouse-service

refactored
  lighthouse-service/main_test.go
Due: lighthouse-service

pr review fix
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

further refactoring
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
Due: lighthouse-service

pr review
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/handler.go
Due: lighthouse-service

refactoring
  lighthouse-service/main.go
  lighthouse-service/main_test.go
Due: lighthouse-service

minor fix
  lighthouse-service/event_handler/handler_test.go
Due: lighthouse-service

getblockingsequences seperate page
  shipyard-controller/debug-ui/blocking.html
  shipyard-controller/debug-ui/fetch_blockingsequences.js
  shipyard-controller/debug-ui/fetch_sequences.js
Due: shipyard-controller

refactor(bridge): Refactor integration view (#8542)
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

chore: Remove Helm and Jmeter services from Integration tests (#8559)
  .github/workflows/integration_tests.yml
  installer/airgapped/install_keptn.sh
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/main.go
  shipyard-controller/main_test.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_customendpoints.go
  test/go-tests/testsuite_gke_test.go
Due: shipyard-controller

test: Migrate QualityGates integration tests to component tests (#8536)
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/configure_monitoring_handler.go
  lighthouse-service/event_handler/configure_monitoring_handler_test.go
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  lighthouse-service/main.go
  lighthouse-service/main_test.go
  test/go-tests/test_qualitygate.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
Due: lighthouse-service

chore: Remove Jmeter and Helm services from pipelines
  .github/workflows/CI.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/zero-downtime-tests.yml
  codecov.yml
  gh-actions-scripts/build-helm-charts.sh
  gh-actions-scripts/detect_stale_images.sh
  gh-actions-scripts/prepare_changed_artifacts.sh
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/templates/ingress-config.yaml
  installer/manifests/keptn/values.yaml
  test/zero-downtime/assets/test-values.yml
Due: none

adapr docs
  docs/developer/install_master.md
Due: none

introduce function types, renaming of type name
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

Move types to chart.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
