Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

chore: Added new component test in remediation service
  remediation-service/handler/get_action_event_handler_test.go
Due: remediation-service

removed code smell
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.scss
Due: bridge2

chore: Deleted integration test
  test/go-tests/test_selfhealing.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

build(deps): update dependency moment to v2.29.4 [security]
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang.org/x/net digest to c90051b
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update dependency jest to v28.1.2
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fixed imports and create-mode check
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.spec.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.module.ts
  bridge/client/app/_components/ktb-notification/ktb-notification.component.spec.ts
  bridge/client/app/_components/ktb-notification/ktb-notification.module.ts
  bridge/client/app/_guards/pending-changes.guard.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-routing-create.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-routing.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.ts
  bridge/client/app/app.module.ts
Due: bridge2

fixed unit tests
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service-file-list.component.spec.ts
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.spec.ts
Due: bridge2

feat(bridge): Modularize evaluation-board and introduce lazy loading (#8340)
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view-routing.module.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view-state.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.html
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.scss
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.spec.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

fixed code smell and linting warning
  bridge/client/app/app.module.ts
  bridge/server/models/webhook-config-yaml.spec.ts
Due: bridge2, bridge-server

chore(webhook-service): Slimmed down integration tests for webhook service (#8339)
  test/go-tests/test_webhook.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
  webhook-service/handler/handler_test.go
Due: webhook-service

chore(bridge): Remove loading of integrations on common-use-case page
  bridge/angular.json
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.ts
  bridge/deploy/service.yaml
  bridge/package.json
  bridge/server/api/index.ts
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  bridge/yarn.lock
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

fixed code style
  bridge/angular.json
Due: bridge2

build(deps): Update keptn/go-utils to d9a621b678384a8a1e0e7fcbe2ddcfef292aaa87
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(api): wire up the import "create project" api task
  api/handlers/fake/project_checker_mock.go
  api/handlers/project_checker.go
  api/handlers/project_checker_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
  api/restapi/configure_keptn.go
Due: api

refactor(api): move testReader from api/handler/importer_test.go into test/util
  api/handlers/importer_test.go
  api/test/utils/reader.go
Due: api

refactor(api): move import ZippedArchive and ProjectChecker into the handler package
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/handlers/project_checker.go
  api/handlers/project_checker_test.go
  api/handlers/zip_package.go
  api/handlers/zip_package_test.go
  api/importer/executor.go
  api/restapi/configure_keptn.go
Due: api

feat(api): create entry point for import package processing
  api/importer/fake/package_processor_mock.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

feat(api): implement getResource() for import ZippedPackage
  api/handlers/zip_package.go
  api/handlers/zip_package_test.go
  api/importer/execute/default_api.go
  api/importer/execute/executor_test.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/test/data/import/.gitignore
  api/test/data/import/invalid-package/api/create-secret.json
  api/test/data/import/invalid-package/api/create-service.json
  api/test/data/import/invalid-package/api/create-subscription.json
  api/test/data/import/sample-package/api/create-secret.json
  api/test/data/import/sample-package/api/create-service.json
  api/test/data/import/sample-package/api/create-subscription.json
Due: api

feat(api): introduce model along with basic unmarshaling for import package manifest processing
  api/importer/fake/package_processor_mock.go
  api/importer/manifest.go
  api/importer/manifest_test.go
  api/importer/model/manifest.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

test(api): add tests for default import api task implementation
  api/importer/execute/default_api.go
  api/importer/execute/default_api_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/default_api_mock.go
  api/importer/execute/fake/executor_mock.go
Due: api

feat(api): wire up import handler and processor
  api/handlers/fake/projectchecker_mock.go
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/importer/fake/projectchecker_mock.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/importer/zip_package.go
Due: api

feat(api): add basic manifest processing loop
  api/importer/fake/package_processor_mock.go
  api/importer/model/parser.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

feat(api): Api task executor first impl
  api/importer/execute/default_api.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/executor_mock.go
  api/importer/executor.go
  api/importer/fake/package_processor_mock.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/restapi/configure_keptn.go
Due: api

feat(api): Process import package manifest and execute API tasks
  api/handlers/fake/project_checker_mock.go
  api/handlers/fake/projectchecker_mock.go
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/handlers/project_checker.go
  api/handlers/project_checker_test.go
  api/handlers/zip_package.go
  api/handlers/zip_package_test.go
  api/importer/execute/default_api.go
  api/importer/execute/default_api_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/default_api_mock.go
  api/importer/execute/fake/executor_mock.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
  api/importer/fake/package_processor_mock.go
  api/importer/fake/projectchecker_mock.go
  api/importer/model/execute.go
  api/importer/model/manifest.go
  api/importer/model/parser.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/restapi/configure_keptn.go
  api/test/data/import/.gitignore
  api/test/data/import/invalid-package/api/create-secret.json
  api/test/data/import/invalid-package/api/create-service.json
  api/test/data/import/invalid-package/api/create-subscription.json
  api/test/data/import/sample-package/api/create-secret.json
  api/test/data/import/sample-package/api/create-service.json
  api/test/data/import/sample-package/api/create-subscription.json
  api/test/utils/reader.go
Due: api

build(deps): update dependency axios-mock-adapter to v1.21.1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency jest-preset-angular to v12.1.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

test: Replace delivery sequence with simple sequence ind backup-restore test
  test/go-tests/test_backuprestore.go
  test/go-tests/testsuite_gke_test.go
Due: none

chore: cleaned up comments
  remediation-service/handler/get_action_event_handler_test.go
Due: remediation-service

Update remediation-service/handler/get_action_event_handler_test.go
  remediation-service/handler/get_action_event_handler_test.go
Due: remediation-service

build(deps): update dependency @dynatrace/barista-components to v10.7.5
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

remove unneeded triggery of deliver sequence
  test/go-tests/test_proxyauth.go
Due: none

chore: Removed redundant integration tests (#8324)
  test/go-tests/test_graceful_shutdown.go
  test/go-tests/test_logforwarding.go
  test/go-tests/test_logingestion.go
  test/go-tests/test_zerodowntime.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

chore: Added new component test in remediation service (#8343)
  remediation-service/handler/get_action_event_handler_test.go
  test/go-tests/test_selfhealing.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: remediation-service

chore(bridge): Remove unused service page env var
  bridge/deploy/service.yaml
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
Due: bridge2, bridge-server

chore: Increased coverage for remediation-service
  remediation-service/handler/get_action_event_handler_test.go
  remediation-service/handler/test/events/get-action.triggered-0.json
  remediation-service/test/event.json
Due: remediation-service
