Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

ci: debug template issue
  .github/workflows/mongodb-version-check.yml
Due: none

updated dependency to go-git
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

test: Added retry to the secret test
  test/go-tests/test_secrets.go
Due: none

chore: try
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: Added names for folders
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: Added zd-test
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: fix webhook test
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: Fix repo path
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Fix workflow bug
  .github/workflows/mongodb-version-check.yml
Due: none

feat(installer): Move git remote URL deny list to features
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream
  resource-service/common/git.go
Due: resource-service

ci: Resolve merge discussions
  .github/workflows/mongodb-version-check.yml
Due: none

test: Added retry to the secret test (#8669)
  test/go-tests/test_secrets.go
Due: none

added unit test
  resource-service/common/gitsuite_test.go
Due: resource-service

docs(bridge): Streamlined and updated bridge documentation
  bridge/README.md
  bridge/deploy/service.yaml
  docs/developer/bridge.md
Due: none

feat(installer): Move git remote URL deny list under features (#8673)
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

ci: Create a new workflow to monitor the Helm Chart version of MongoDB (#8666)
  .github/workflows/mongodb-version-check.yml
Due: none

more docs
  .github/workflows/validate-helm-docs.yml
  gh-actions-scripts/generate-helm-docs.sh
  installer/README.md
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

Added requested changes
  bridge/README.md
Due: none

ci: Add manual workflow trigger for mongodb-version-check.yml
  .github/workflows/mongodb-version-check.yml
Due: none

Fix spelling
  .github/workflows/mongodb-version-check.yml
Due: none

ci: Add manual workflow trigger for mongodb-version-check.yml (#8678)
  .github/workflows/mongodb-version-check.yml
Due: none

docs(bridge): Streamlined and updated bridge documentation (#8675)
  bridge/README.md
  bridge/deploy/service.yaml
  docs/developer/bridge.md
Due: none

more docs
  installer/manifests/keptn/values.yaml
Due: none

fix(shipyard-controller): Added service in the Event Dispatcher's filter (#8663)
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventdispatcher_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

remove unnecessary comments
  installer/manifests/keptn/values.yaml
Due: none

move keys to common section
  .github/workflows/validate-helm-docs.yml
  installer/manifests/keptn/values.yaml
Due: none

added fix and logs
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventdispatcher_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

test: fixed test
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

refactor(bridge): Improve modify uniform subscription - Cleaner code
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2
