Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

feat: Enable directory based resource service
  .github/workflows/integration_tests.yml
Due: none

fix: distributor
  distributor/pkg/config/const.go
  distributor/pkg/config/envconfig_test.go
Due: distributor

fix: resource service tag
  .github/workflows/integration_tests.yml
Due: none

fix: .
  .github/workflows/integration_tests.yml
Due: none

fix: put back config service gateway configs
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix: removed duble ns creation
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix:
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

fix: jmeter depl
  jmeter-service/chart/templates/deployment.yaml
Due: none

fix:
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix: go mod of go-utils
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: removed default image
  api/deploy/service.yaml
  approval-service/deploy/service.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  lighthouse-service/deploy/service.yaml
  lighthouse-service/main.go
Due: lighthouse-service

fix: go mod of go-utils
  installer/manifests/keptn/templates/lighthouse-service.yaml
  lighthouse-service/deploy/service.yaml
  lighthouse-service/main.go
Due: lighthouse-service

fix(bridge): Fix error on viewing service deployment (#8332)
  bridge/server/interfaces/sequence-stage.ts
  bridge/server/models/sequence.ts
  bridge/server/services/data-service.ts
  bridge/shared/fixtures/traces-response.mock.ts
Due: bridge2, bridge-server

chore: re-enabled statics sevice and excluded nginx configuration according to the value of the enabled flag
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix: added cresource service service
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

fix: missing resource service
  api/swagger-ui/index.html
  bridge/server/test/task-names.spec.ts
Due: api, bridge2, bridge-server

fix: zd pipeline
  .github/workflows/zero-downtime-tests.yml
  configuration-service/.gitignore
  test/zero-downtime/assets/test-values.yml
Due: none

bridge stuff
  bridge/client/app/_views/ktb-error-view/ktb-error-view.component.html
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
  bridge/server/.jest/test.utils.ts
  bridge/server/services/api-service.ts
  bridge/server/test/custom-sequences.spec.ts
  bridge/shared/interfaces/project.ts
Due: bridge2, bridge-server

update go-utils dependencies
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: zd pipeline
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: zd pipeline
  test/zero-downtime/assets/test-values.yml
Due: none

remove config
  installer/manifests/keptn/templates/configuration-service.yaml
Due: none

duplicated sdk component test to also run with BETA wh config
  webhook-service/handler/handler_test.go
Due: webhook-service

fix(webhook-service): Do not respond to anything else than .triggered event on pre execution error
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

refactoring
  webhook-service/handler/handler.go
Due: webhook-service

feat(bridge): Modularize evaluation-board and introduce lazy loading
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view-routing.module.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view-state.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.html
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.scss
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.spec.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

renamed test name
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.spec.ts
Due: bridge2

fix(bridge): Evaluation info misleading if failed because of key sli (#8250)
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_services/_mockData/evaluations-keySli.mock.ts
  bridge/client/app/_services/_mockData/sli-info.mock.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.html
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.html
  bridge/client/styles.scss
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
  bridge/shared/models/trace.ts
Due: bridge2

chore: Removed go mod files of configuration service
  configuration-service/go.mod
  configuration-service/go.sum
Due: none

fixed flaky UI test
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.html
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

chore: Remove go mod files of configuration service (#8341)
  configuration-service/go.mod
  configuration-service/go.sum
Due: none

updated go utils
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

add kics scan to CI
  .github/workflows/CI.yml
Due: none

let the matrix run even with errors
  .github/workflows/CI.yml
Due: none

one more try
  .github/workflows/CI.yml
Due: none

try to fix go path
  .github/workflows/CI.yml
Due: none
