Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fixed naming of project-view selector
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.ts
Due: bridge2

feat(installer): refactor images + helm-service + jemeter-service
  .github/workflows/integration_tests.yml
  CONTRIBUTORS.md
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  helm-service/chart/values.schema.json
  helm-service/chart/values.yaml
  installer/airgapped/install_keptn.sh
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/values.schema.json
  jmeter-service/chart/values.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: helm-service, jmeter-service

Update installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

Update helm-service/chart/README.md
  helm-service/chart/README.md
Due: none

Update jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/templates/deployment.yaml
Due: none

Update helm-service/chart/templates/deployment.yaml
  helm-service/chart/templates/deployment.yaml
Due: none

fix tipo in chart
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

Update on PR review
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/values.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

refactor(installer): due to review
  helm-service/chart/templates/deployment.yaml
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/templates/deployment.yaml
Due: none

chore(installer): update readme and quote
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
Due: none

fix tipo in chart statistics-service
  installer/manifests/keptn/templates/statistics-service.yaml
Due: none

chore(installer): tipo in func description
  installer/manifests/common/templates/_images.tpl
Due: none

Update .github/workflows/integration_tests.yml
  .github/workflows/integration_tests.yml
Due: none

Update installer/airgapped/install_keptn.sh
  installer/airgapped/install_keptn.sh
Due: none

fix: integrationtests
  .github/workflows/integration_tests.yml
Due: none

fix: integration test and airgapped script
  .github/workflows/integration_tests.yml
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  installer/airgapped/install_keptn.sh
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
Due: none

fix: zd pipeline
  .github/workflows/zero-downtime-tests.yml
  configuration-service/.gitignore
  test/zero-downtime/assets/test-values.yml
Due: none

chore: removed duplicat
  .github/workflows/integration_tests.yml
Due: none

set GOMAXPROCS to 10
  .github/workflows/integration_tests.yml
Due: none

build(deps): update angular-eslint monorepo to v14
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

feat(installer): Add options for setting image repository and tag globally (#8152)
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
  CONTRIBUTORS.md
  configuration-service/.gitignore
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  helm-service/chart/values.schema.json
  helm-service/chart/values.yaml
  installer/airgapped/install_keptn.sh
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/values.schema.json
  jmeter-service/chart/values.yaml
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
  test/zero-downtime/assets/test-values.yml
Due: helm-service, jmeter-service

reuse port forwarded APIs between tests
  test/go-tests/kubectl.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_utils.go
Due: none

remove t.Parallel() from proxy/ssh auth tests
  test/go-tests/test_proxyauth.go
  test/go-tests/test_sshpublickeyauth.go
Due: none

chore(bridge): Generalization of showing a running sequence
  bridge/client/app/_models/deployment.spec.ts
  bridge/client/app/_models/deployment.ts
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_models/service-state.spec.ts
  bridge/client/app/_models/service-state.ts
  bridge/client/app/_services/_mockData/api-responses/service-states-results-response.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.running.mock.json
  bridge/cypress/integration/service-remediations.spec.ts
  bridge/cypress/integration/services-page.spec.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/server/api/index.ts
  bridge/server/services/data-service.ts
  bridge/server/test/service-deployment.spec.ts
  bridge/server/test/service-states.spec.ts
  bridge/shared/fixtures/service-deployment-response.mock.ts
  bridge/shared/fixtures/service-state-response.mock.ts
  bridge/shared/models/service-state.ts
Due: bridge2, bridge-server

feat(bridge): Modularize project board and introduce lazy loading (#8342)
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.spec.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.module.ts
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service-file-list.component.spec.ts
  bridge/client/app/_components/ktb-notification/ktb-notification.component.spec.ts
  bridge/client/app/_components/ktb-notification/ktb-notification.module.ts
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_guards/pending-changes.guard.ts
  bridge/client/app/_guards/trace-deep-link.guard.spec.ts
  bridge/client/app/_guards/trace-deep-link.guard.ts
  bridge/client/app/_models/server-error.ts
  bridge/client/app/_services/_mockData/trace.mock.ts
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-error-view/ktb-error-view.component.html
  bridge/client/app/_views/ktb-error-view/ktb-error-view.component.ts
  bridge/client/app/_views/ktb-error-view/ktb-error-view.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-create.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-routing-create.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-routing.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.html
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.scss
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.spec.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.module.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
  bridge/client/app/project-board/project-board.component.ts
  bridge/cypress/integration/error-pages.spec.ts
  bridge/cypress/support/pageobjects/ErrorPage.ts
  bridge/server/models/webhook-config-yaml.spec.ts
Due: bridge2, bridge-server

chore(bridge): Remove git commit from model and mocks
  bridge/client/app/_services/_mockData/api-responses/deployment-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/evaluation-results-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/event-result-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/traces-response.mock.ts
  bridge/client/app/_services/_mockData/deployments.mock.ts
  bridge/client/app/_services/_mockData/evaluation-chart-item.mock.ts
  bridge/client/app/_services/_mockData/evaluations-keySli.mock.ts
  bridge/client/app/_services/_mockData/evaluations-top10.mock.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/client/app/_services/_mockData/trace.mock.ts
  bridge/cypress/fixtures/get.approval-evaluation.mock.json
  bridge/cypress/fixtures/get.approval.json
  bridge/cypress/fixtures/get.environment.evaluation.history.carts-db.mock.json
  bridge/cypress/fixtures/get.environment.evaluation.history.limited.mock.json
  bridge/cypress/fixtures/get.environment.evaluation.history.mock.json
  bridge/cypress/fixtures/get.events.cfaadbb1-3c47-46e5-a230-d0f055f4f518.mock.json
  bridge/cypress/fixtures/get.service.deployment.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.with.remediations.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.10metrics.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.manyscores.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.twohighlights.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.mock.json
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequence.traces.mock.json
  bridge/cypress/fixtures/service/get.eval.data.json
  bridge/cypress/fixtures/service/get.event.data.json
  bridge/cypress/fixtures/service/get.event.keptn.context.json
  bridge/cypress/fixtures/service/get.event2.data.json
  bridge/cypress/fixtures/typed/evaluationFinished.mock.ts
  bridge/server/fixtures/project-details-response.mock.ts
  bridge/shared/fixtures/open-remediations-response.mock.ts
  bridge/shared/fixtures/project-response.mock.ts
  bridge/shared/fixtures/service-deployment-response.mock.ts
  bridge/shared/fixtures/traces-response.mock.ts
  bridge/shared/models/trace.ts
Due: bridge2, bridge-server

chore: Added repo to resource-service yaml
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

chore: Added repo to resource-service yaml
  installer/manifests/keptn/templates/remediation-service.yaml
Due: none

chore: Added repo to resource-service yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

chore: Added repo to resource-service.yaml (#8382)
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

chore: Added timeout to keptn install
  .github/workflows/integration_tests.yml
Due: none

chore: Added timeout to keptn install (#8383)
  .github/workflows/integration_tests.yml
Due: none

chore(bridge): Fix Sonar issues
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_models/json-serializable.ts
  bridge/client/app/_services/clipboard.service.spec.ts
  bridge/client/app/_services/clipboard.service.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/styles.scss
Due: bridge2

fix(bridge): Fix incorrect API URL for auth command
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
Due: bridge2, bridge-server

build(deps): update actions/setup-node action to v3.4.0
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

make tmp dir for storing chart
  test/go-tests/test_continuous_delivery.go
Due: none

fix(cli): Print ID of Keptn context after sending events
  cli/cmd/send_event.go
  cli/cmd/trigger_delivery.go
  cli/cmd/trigger_evaluation.go
Due: cli

build(deps): Update keptn/go-utils to 69c90ea3a7bcabe095d06144d8bb3b09a209c89b
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service
