Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix checkout action
  .github/workflows/CI.yml
  .github/workflows/auto-update-go-utils.yml
  .github/workflows/auto-update-keptn-spec.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/check-docker-image-digests.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/deprecated-version-check.yml
  .github/workflows/detect_stale_images.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-scans.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/validate-helm-docs.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

enable different test
  test/go-tests/testsuite_gke_test.go
Due: none

lets try this again
  .github/workflows/CI.yml
  .github/workflows/auto-update-go-utils.yml
  .github/workflows/auto-update-keptn-spec.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/check-docker-image-digests.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/deprecated-version-check.yml
  .github/workflows/detect_stale_images.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-scans.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/validate-helm-docs.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(shipyard-controller): prevent storing empty ssh private key after update (#8960)
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

resolve discussions
  .github/workflows/security-scans.yml
Due: none

ci: Exclude unnecessary rules in KICS config (#8951)
  .github/kics-config.yml
  .github/workflows/security-scans.yml
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

enable all tests
  test/go-tests/testsuite_gke_test.go
Due: none

build(deps): update dependency semver to v7.3.8
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency yaml to v2.1.3
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fix 8972 by passing range val as gorutine parameter
  distributor/pkg/receiver/receiver.go
Due: distributor

updates contributors list
  CONTRIBUTORS.md
Due: none

fix: #8974 malformed struct tags
  resource-service/models/resource.go
  shipyard-controller/models/stage.go
Due: resource-service, shipyard-controller

build(deps): update sigstore/cosign-installer action to v2.8.0
  .github/workflows/test-and-build-docker-images.yml
Due: none

commit rest of debugging code
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/skaffold.yaml
Due: none

fix(shipyard-controller): Adapt mongodb query to be compatible with DocumentDB
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
Due: shipyard-controller

adapt unit test
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
Due: shipyard-controller

remove obsolete code
  shipyard-controller/internal/db/mongodb_project_repo.go
Due: shipyard-controller

fix(shipyard-controller): Adapt mongodb query to be compatible with DocumentDB
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
Due: shipyard-controller

fix(shipyard-controller): Adapt mongodb query to be compatible with DocumentDB (#8977)
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
Due: shipyard-controller

fix(shipyard-controller): Adapt MongoDB query to be compatible with DocumentDB (#8978)
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
Due: shipyard-controller

ci: Replace standard-version with release-please
  .github/workflows/release.yml
  .release-please-manifest.json
  VERSION.txt
  release-please-config.json
Due: none

remove old cluster
  .github/workflows/integration_tests.yml
Due: none

set include-v-in-tag to false
  release-please-config.json
Due: none

ci: Update release-please default branch
  .github/workflows/release.yml
Due: none

ci: Fix release-please-config
  release-please-config.json
Due: none

ci: Set last-release-sha
  release-please-config.json
Due: none

ci: Update last-release-sha
  release-please-config.json
Due: none

ci: Use bootstrap-sha instead of last-release-sha
  release-please-config.json
Due: none

ci: Move boostrap-sha to toplevel
  release-please-config.json
Due: none

ci: Fix pipeline
  .github/workflows/release.yml
Due: none

ci: Prevent publishing images and charts - test
  .github/workflows/release.yml
Due: none

ci: Use GITHUB_TOKEN for testing
  .github/workflows/release.yml
Due: none

fix: Add newline
  release-please-config.json
Due: none

build(deps): update amannn/action-semantic-pull-request digest to b314c1b
  .github/workflows/validate-semantic-pr.yml
Due: none

ci: Disable building helm charts for testing
  .github/workflows/release.yml
Due: none
