Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(installer): Fix Nginx not starting when statistics service is disabled (#8326)
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/values.yaml
Due: none

feat(installer): refactor images + helm-service + jemeter-service
  .github/workflows/integration_tests.yml
  CONTRIBUTORS.md
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  helm-service/chart/values.schema.json
  helm-service/chart/values.yaml
  installer/airgapped/install_keptn.sh
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/values.schema.json
  jmeter-service/chart/values.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: helm-service, jmeter-service

Update helm-service/chart/README.md
  helm-service/chart/README.md
Due: none

Update installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

Update helm-service/chart/templates/deployment.yaml
  helm-service/chart/templates/deployment.yaml
Due: none

Update jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/templates/deployment.yaml
Due: none

fix tipo in chart
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

refactor(installer): due to review
  helm-service/chart/templates/deployment.yaml
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/templates/deployment.yaml
Due: none

Update on PR review
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/values.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

fix tipo in chart statistics-service
  installer/manifests/keptn/templates/statistics-service.yaml
Due: none

chore(installer): update readme and quote
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
Due: none

Update .github/workflows/integration_tests.yml
  .github/workflows/integration_tests.yml
Due: none

Update installer/airgapped/install_keptn.sh
  installer/airgapped/install_keptn.sh
Due: none

chore(installer): tipo in func description
  installer/manifests/common/templates/_images.tpl
Due: none

fix: Integration pipeline and airgapped script
  .github/workflows/integration_tests.yml
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  installer/airgapped/install_keptn.sh
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  test/assets/helm-charts/helm-service/values-int-tests.yaml
  test/assets/helm-charts/jmeter-service/values-int-tests.yaml
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
Due: none

fixed code smell
  bridge/server/interfaces/sequence-stage.ts
  bridge/server/models/sequence.ts
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

feat(bridge): Modularize services view and introduce lazy loading (#8325)
  bridge/client/app/_components/ktb-deployment-list/ktb-deployment-list.module.ts
  bridge/client/app/_components/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.module.ts
  bridge/client/app/_components/ktb-sequence-list/ktb-sequence-list.module.ts
  bridge/client/app/_components/ktb-service-details/ktb-service-details.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view-routing.module.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.module.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

build(deps): Update keptn/go-utils to d00898a7fdcf3eebd427a6b6c93866c6cdaea1aa
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

create mock data for evaluation usecase with keySlis
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
Due: bridge2

visualize key slis status
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/styles.scss
  bridge/shared/models/trace.ts
Due: bridge2

add UI test for keySli info
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
Due: bridge2

remove unused module
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
Due: bridge2

fix scoreInfo check
  bridge/cypress/integration/evaluations.spec.ts
Due: bridge2

use || operator
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
Due: bridge2

add check for score_pass might be undefined
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
Due: bridge2

use page object function in UI tests
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
Due: bridge2

make fields optional
  bridge/shared/models/trace.ts
Due: bridge2

add getSLiResultInfo as property
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
Due: bridge2

remove unnecessary class
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.html
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.html
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.html
Due: bridge2

intercept with alias
  bridge/cypress/support/intercept.ts
Due: bridge2

add null check
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
Due: bridge2

fix unit tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_services/_mockData/sli-info.mock.ts
Due: bridge2

create mock data and add unit tests for getScoreState and getScoreInfo
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_services/_mockData/evaluations-keySli.mock.ts
Due: bridge2

fix number precision issue
  bridge/client/app/_services/_mockData/evaluations-keySli.mock.ts
Due: bridge2

chain asserts
  bridge/cypress/integration/evaluations.spec.ts
Due: bridge2

fix not null assertion
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
Due: bridge2

feat: Refactor all service to use resource-service
  api/deploy/service.yaml
  distributor/README.md
  distributor/pkg/config/envconfig.go
  helm-service/chart/templates/deployment.yaml
  jmeter-service/common.go
  lighthouse-service/deploy/service.yaml
  lighthouse-service/event_handler/common.go
  resource-service/Dockerfile
  resource-service/README.md
  resource-service/deploy/service.yaml
  shipyard-controller/deploy/service.yaml
  test/go-tests/test_backuprestore.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_utils.go
Due: distributor, jmeter-service, lighthouse-service

feat: Refactor all service to use resource-service
  .github/workflows/integration_tests.yml
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: ZD test
  test/zero-downtime/API_test.go
Due: none

feat: Refactor all service to use resource-service
  approval-service/deploy/service.yaml
  distributor/pkg/config/const.go
  distributor/pkg/config/envconfig_test.go
  helm-service/chart/templates/deployment.yaml
  helm-service/main.go
  helm-service/pkg/serviceutils/service_url_provider.go
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  jmeter-service/chart/templates/deployment.yaml
  jmeter-service/common.go
  jmeter-service/jmeterUtils_test.go
  lighthouse-service/deploy/service.yaml
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/event_handler/start_evaluation_handler_test.go
  lighthouse-service/main.go
  shipyard-controller/config/envconfig.go
  shipyard-controller/deploy/service.yaml
  test/go-tests/test_selfhealing.go
  test/zero-downtime/API_test.go
Due: distributor, helm-service, jmeter-service, lighthouse-service, shipyard-controller

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
