Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix error mapping
  resource-service/common/git.go
Due: resource-service

fix error msg
  resource-service/common/git.go
Due: resource-service

added unit tests
  resource-service/handler/project_resource_handler_test.go
  resource-service/handler/service_resource_handler_test.go
  resource-service/handler/stage_resource_handler_test.go
Due: resource-service

fix(webhook-service): Return warning if the webhook is malformed
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

fix(resource-service): Map go-git specific error types to Keptn error types understood by the resource service error handler (#8849)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/handler/common.go
  resource-service/handler/project_resource_handler_test.go
  resource-service/handler/service_resource_handler_test.go
  resource-service/handler/stage_resource_handler_test.go
Due: resource-service

pr review
  resource-service/common/git.go
Due: resource-service

unit tests
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

minor fix
  resource-service/common/git.go
Due: resource-service

minor fix
  test/go-tests/test_custom_git_branch_name.go
Due: none

fix(resource-service): Determin default branch from helm value when repository is not initialized
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
  resource-service/common/git.go
  resource-service/config/config.go
Due: resource-service

integration test
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

covered by unit tests
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

pr review
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/config/config.go
Due: resource-service

test
  resource-service/config/config_test.go
Due: resource-service

additional timeout
  test/go-tests/test_custom_git_branch_name.go
Due: none

fix(webhook-service): Return warning if the webhook is malformed
  webhook-service/handler/handler.go
Due: webhook-service

fix(webhook-service): RAdd warning for malformed configuration (#8841)
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

fix(resource-service): Determine default branch from helm value when repository is not initialized (#8843)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/config/config.go
  resource-service/config/config_test.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: resource-service

build(deps): update dependency @types/lodash to v4.14.185
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang.org/x/exp digest to dc92f86
  api/go.mod
  api/go.sum
Due: api

added missing go.sum entries
  api/go.sum
Due: api

fix(resource-service): Return specific error in when creating a project with an initialized repository
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
Due: resource-service

feat: Introduce tolerations and affinities for helm charts
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

Update usage comments
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

regenerate README.md
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

Optimize variable assignment
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

set empty default values
  installer/manifests/keptn/values.yaml
Due: none

update README.md
  installer/manifests/keptn/README.md
Due: none

Resolve conflict of antiAffinity and affinity between service and default configuration
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

pass component variable to inner functions
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/values.yaml
Due: none

Resolve merge conflicts
  installer/manifests/keptn/README.md
Due: none

fix(cli): Use docker v2 API for fetching images (#8827)
  cli/cmd/trigger_delivery_test.go
  cli/pkg/docker/docker_utils.go
  cli/pkg/docker/docker_utils_test.go
Due: cli

build(deps): Auto-update go-utils to latest version (#8821)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore(api): Remote event validation is disabled by default (#8828)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

feat(cli): Support adding resources to all stages without defining a service + refactoring (#8822)
  cli/cmd/add_resource.go
  cli/cmd/add_resource_test.go
Due: cli

build(deps): Auto-update go-utils to latest version (#8829)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(release): 0.19.0 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

fix(shipyard-controller): Only update specific properties when updating projects MV on event (#8817)
  shipyard-controller/internal/controller/fake/sequencetaskevent.go
  shipyard-controller/internal/controller/fake/sequencetaskfinished.go
  shipyard-controller/internal/controller/fake/sequencetaskstarted.go
  shipyard-controller/internal/controller/hooks.go
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_hooks.go
  shipyard-controller/internal/controller/shipyardcontroller_test.go
  shipyard-controller/internal/db/common.go
  shipyard-controller/internal/db/common/common.go
  shipyard-controller/internal/db/common/common_test.go
  shipyard-controller/internal/db/migration/project_mv_migration.go
  shipyard-controller/internal/db/mock/projectmvrepo_mock.go
  shipyard-controller/internal/db/mock/projectrepo_mock.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
  shipyard-controller/internal/db/mongodb.go
  shipyard-controller/internal/db/mongodb_event_repo.go
  shipyard-controller/internal/db/mongodb_eventqueue_repo.go
  shipyard-controller/internal/db/mongodb_log_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
  shipyard-controller/internal/db/mongodb_sequence_execution_repo.go
  shipyard-controller/internal/db/mongodb_state_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/fake/projectmanager.go
  shipyard-controller/main.go
Due: shipyard-controller

chore(installer): Adapt resource limits (#8840)
  installer/manifests/keptn/values.yaml
Due: none
