Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: Fixed automatic navigation to latest stage (#8714)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

fix(shipyard-controller): Added service in filter of event dispatcher (#8683)
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/eventdispatcher_test.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
Due: shipyard-controller

fixing cli and mongodb
  cli/cmd/delete_project.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
Due: cli, shipyard-controller

fix: removed delete service from uniform
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/db/mock/uniformrepo_mock.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/servicemanager.go
  shipyard-controller/internal/handler/servicemanager_test.go
Due: shipyard-controller

refactor(bridge): Improve modify uniform subscription (#8681)
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.html
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.ts
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.html
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_models/uniform-registration.ts
  bridge/client/app/_models/uniform-subscription.ts
  bridge/client/app/_services/_mockData/uniform-registrations.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/server/models/uniform-registration.ts
  bridge/server/services/api-service.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/uniform-registration.ts
  bridge/shared/interfaces/uniform-subscription.ts
  bridge/shared/models/uniform-registration.ts
Due: bridge2, bridge-server

fix: rebased master
  shipyard-controller/deploy/service.yaml
Due: none

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream (#8712)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream (#8711)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

feat: Removed clean up of uniform and services when deleting a project (#8720)
  cli/cmd/delete_project.go
  shipyard-controller/deploy/service.yaml
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/db/mock/uniformrepo_mock.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/servicemanager.go
  shipyard-controller/internal/handler/servicemanager_test.go
Due: cli, shipyard-controller

fix(lighthouse-service): return a failed Evaluation Result for nil SLIs (#8665)
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

build(deps): update dependency @types/lodash to v4.14.184
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

documentation & feature flag
  shipyard-controller/Dockerfile
  shipyard-controller/debugdocs/docs.go
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

additional filter
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

screenshots
  shipyard-controller/debugdocs/dbdump.png
  shipyard-controller/debugdocs/debugui.png
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/debugdocs/viewevents.png
Due: shipyard-controller

html alignment fix
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

fix(shipyard-controller): Fail sequence when receiving invalid status
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/main_test.go
  shipyard-controller/models/sequence_execution.go
  shipyard-controller/models/sequence_execution_test.go
Due: shipyard-controller

build(deps): update actions/cache action to v3.0.8
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: Fix repo path
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: url to workflow
  .github/workflows/zero-downtime-tests.yml
Due: none

add chart signing to the helm chart builder script and pipeline
  .github/workflows/build-helm-charts.yml
  gh-actions-scripts/build-helm-charts.sh
Due: none

an arbitrary change...
  installer/manifests/keptn/Chart.yaml
Due: none

also upload provenance files
  .github/workflows/build-helm-charts.yml
Due: none

try to simulate release build
  .github/workflows/build-helm-charts.yml
Due: none

feat: added query and unit tests
  secret-service/docs/docs.go
  secret-service/docs/swagger.json
  secret-service/docs/swagger.yaml
  secret-service/pkg/backend/fake/secretbackend_mock.go
  secret-service/pkg/backend/secretbackend.go
  secret-service/pkg/backend/secretbackend_k8s.go
  secret-service/pkg/backend/secretbackend_k8s_test.go
  secret-service/pkg/handler/secrethandler.go
  secret-service/pkg/model/secret.go
Due: secret-service

feat: fixed ${{ }}
  .github/workflows/zero-downtime-tests.yml
Due: none

feat: added return nothing unittest
  secret-service/pkg/backend/secretbackend_k8s_test.go
Due: secret-service

feat: added return nothing unittest
  secret-service/deploy/service.yaml
  secret-service/pkg/handler/secrethandler.go
Due: secret-service

feat: made param not required
  secret-service/docs/docs.go
  secret-service/docs/swagger.json
  secret-service/docs/swagger.yaml
Due: secret-service

feat: made param not required
  secret-service/docs/swagger.json
  secret-service/docs/swagger.yaml
  secret-service/pkg/handler/secrethandler.go
Due: secret-service

add secrets to pipelines
  .github/workflows/build-helm-charts.yml
  .github/workflows/release.yml
Due: none

inherit secrets
  .github/workflows/CI.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

fix failing test
  secret-service/docs/docs.go
  secret-service/pkg/handler/secrethandler_test.go
Due: secret-service

debugging
  gh-actions-scripts/build-helm-charts.sh
Due: none

fix failing test
  secret-service/pkg/backend/secretbackend_k8s.go
Due: secret-service

move prov files and print at the end
  gh-actions-scripts/build-helm-charts.sh
Due: none

revert random changes
  .github/workflows/build-helm-charts.yml
  gh-actions-scripts/build-helm-charts.sh
  installer/manifests/keptn/Chart.yaml
Due: none

also upload provenance files to helm charts repo
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

pr-review
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/main_test.go
Due: shipyard-controller

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
