Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/oauth2 to v0.5.0
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

go mod tidy
  api/go.sum
Due: api

go mod tidy
  cli/go.sum
Due: cli

go mod tidy
  distributor/go.sum
Due: distributor

build(deps): update libgit2 to 1.5.2-rc0
  resource-service/Dockerfile
Due: none

add more dependencies
  installer/manifests/keptn/templates/api-service.yaml
Due: none

reorder
  installer/manifests/keptn/templates/api-service.yaml
Due: none

fix(installer): add missing NATS init container to API service (#9534)
  installer/manifests/keptn/templates/api-service.yaml
Due: none

build(deps): update libgit2 to 1.5.2-rc0 (#9536)
  resource-service/Dockerfile
Due: none

chore: update go.mod to use Go version of Dockerfile
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

update error message from templating function
  webhook-service/lib/template_engine_test.go
Due: webhook-service

chore: update go.mod to use Go version of Dockerfile
  cli/go.mod
Due: cli

update pipeline to Go 1.19
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: update go.mod and pipeline to use the same Go version of Dockerfile (#9535)
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
  webhook-service/lib/template_engine_test.go
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(installer): Add MongoDB init container iff there is no external connection string
  installer/manifests/keptn/templates/api-service.yaml
Due: none

fix(installer): Add MongoDB init container iff there is no external connection string (#9546)
  installer/manifests/keptn/templates/api-service.yaml
Due: none

build(deps): update sigstore/cosign-installer action to v3
  .github/workflows/test-and-build-docker-images.yml
Due: none

test: increate deadline for uniform multiple registrations pods
  test/go-tests/test_uniform.go
Due: none

test: increase deadline for uniform multiple registrations pods (#9548)
  test/go-tests/test_uniform.go
Due: none

build(deps): update module golang.org/x/net to v0.7.0
  approval-service/go.mod
  approval-service/go.sum
Due: approval-service

go mod tidy
  approval-service/go.mod
  approval-service/go.sum
Due: approval-service

build(deps): update module golang.org/x/crypto to v0.6.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  approval-service/go.sum
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: cli, approval-service, lighthouse-service, remediation-service, webhook-service

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, resource-service, mongodb-datastore, shipyard-controller, secret-service

go mod tidy
  statistics-service/go.mod
  statistics-service/go.sum
Due: statistics-service

build(deps): update module github.com/cloudevents/sdk-go/protocol/nats/v2 to v2.13.0
  distributor/go.mod
  distributor/go.sum
Due: distributor

build(deps): update module github.com/nats-io/nats.go to v1.24.0
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): update module github.com/spf13/viper to v1.15.0
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.40.0
  api/go.mod
  api/go.sum
Due: api

Delete Adopters and add to community repo
  ADOPTERS.md
Due: none

fix(resource-service): continue with stage creation if a refNotFound error is encountered
  resource-service/common/git.go
Due: resource-service

remove cosign experimental flag since keyless signing is now stable
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update golang.org/x/exp digest to 522b1b5
  api/go.mod
  api/go.sum
Due: api

build(deps): update actions/cache action to v3.3.0
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(build): Fix action to auto-bump go-utils
  .github/workflows/auto-update-go-utils.yml
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  gh-actions-scripts/auto-update-utils.sh
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/crypto to v0.7.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/net to v0.8.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/oauth2 to v0.6.0
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
