Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix(shipyard-controller): Update complete sequence execution after sequence is finished
  shipyard-controller/internal/controller/shipyardcontroller.go
Due: shipyard-controller

added assertion for sequence execution update after finished sequence
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
Due: shipyard-controller

fixed flaky test
  shipyard-controller/main_test.go
Due: shipyard-controller

update go-utils
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(shipyard-controller): Update complete sequence execution after sequence is finished (#8814)
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/main_test.go
Due: shipyard-controller

fix(shipyard-controller): Only update specific properties when updating projects MV on event
  shipyard-controller/internal/db/mock/projectrepo_mock.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
  shipyard-controller/internal/db/repos.go
Due: shipyard-controller

cleanup
  shipyard-controller/internal/db/mongodb_project_repo.go
Due: shipyard-controller

fix(cli): Support --labels option in trigger sequence command
  cli/cmd/trigger_delivery.go
  cli/cmd/trigger_evaluation.go
  cli/cmd/trigger_sequence.go
  cli/cmd/trigger_sequence_test.go
Due: cli

fixed tests
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
Due: shipyard-controller

ci: Remove schedule for ZD test
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Remove schedule for ZD test (#8820)
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(cli): Support `--labels` option in `trigger sequence` command (#8819)
  cli/cmd/trigger_delivery.go
  cli/cmd/trigger_evaluation.go
  cli/cmd/trigger_sequence.go
  cli/cmd/trigger_sequence_test.go
Due: cli

feat: Introduce tolerations and affinities for helm charts
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

regenerate README.md
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

Update usage comments
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

Optimize variable assignment
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

fix(shipyard-controller): Avoid race conditions when updating projectMV and sequence state collections
  shipyard-controller/internal/controller/fake/sequencetaskevent.go
  shipyard-controller/internal/controller/fake/sequencetaskfinished.go
  shipyard-controller/internal/controller/fake/sequencetaskstarted.go
  shipyard-controller/internal/controller/hooks.go
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_hooks.go
  shipyard-controller/internal/controller/shipyardcontroller_test.go
  shipyard-controller/internal/db/common.go
  shipyard-controller/internal/db/common/common.go
  shipyard-controller/internal/db/migration/project_mv_migration.go
  shipyard-controller/internal/db/mock/projectmvrepo_mock.go
  shipyard-controller/internal/db/mock/projectrepo_mock.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/mongodb.go
  shipyard-controller/internal/db/mongodb_event_repo.go
  shipyard-controller/internal/db/mongodb_eventqueue_repo.go
  shipyard-controller/internal/db/mongodb_log_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
  shipyard-controller/internal/db/mongodb_sequence_execution_repo.go
  shipyard-controller/internal/db/mongodb_state_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/fake/projectmanager.go
  shipyard-controller/main.go
Due: shipyard-controller

implemented unfolding of arguments to support merging given data into json
  cli/cmd/trigger_sequence.go
  cli/internal/textutils.go
  cli/internal/textutils_test.go
Due: cli

fix validation of options
  cli/cmd/trigger_sequence.go
Due: cli

fix setting of event data
  cli/cmd/trigger_sequence.go
Due: cli

added unit tests
  shipyard-controller/internal/db/common/common_test.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
Due: shipyard-controller

set empty default values
  installer/manifests/keptn/values.yaml
Due: none

update README.md
  installer/manifests/keptn/README.md
Due: none

adapted log
  shipyard-controller/internal/db/mongodb_project_repo.go
Due: shipyard-controller

fix(cli): Use docker v2 API for fetching images
  cli/cmd/trigger_delivery_test.go
  cli/pkg/docker/docker_utils.go
  cli/pkg/docker/docker_utils_test.go
Due: cli

fix(cli): Use docker v2 API for fetching images (#8827)
  cli/cmd/trigger_delivery_test.go
  cli/pkg/docker/docker_utils.go
  cli/pkg/docker/docker_utils_test.go
Due: cli

added unit test
  shipyard-controller/internal/db/common/common_test.go
Due: shipyard-controller

adapt examples
  cli/cmd/add_resource.go
Due: cli

removed stupid test fetching dockerhub
  cli/cmd/trigger_delivery_test.go
Due: cli

refactor add resource cmd
  cli/cmd/add_resource.go
  cli/cmd/add_resource_test.go
Due: cli

feat(cli): Support adding resources to all stages without defining a service
  cli/cmd/add_resource.go
  cli/cmd/add_resource_test.go
Due: cli

add test back
  cli/cmd/trigger_delivery_test.go
Due: cli

fix
  cli/cmd/add_resource.go
Due: cli

more logging
  cli/cmd/add_resource.go
Due: cli

build(deps): Update keptn/go-utils to 278ad8bdb21774ecce3e5de80ec6bbd8e0e0d9c0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Auto-update go-utils to latest version (#8821)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore(api): Remote event validation is default by default
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

Update readme
  installer/manifests/keptn/README.md
Due: none

chore(api): Remote event validation is disabled by default (#8828)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

build(deps): Update keptn/go-utils to cf4bfd8b27ffe36fe330722b1fb826b5ced4f80e
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service
