Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

go mod tidy
  api/go.mod
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  resource-service/go.sum
Due: api, resource-service

build(deps): update golang.org/x/net digest to b0a4917
  api/go.mod
  approval-service/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
  approval-service/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, resource-service, distributor, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update golang.org/x/exp digest to 807a232
  api/go.mod
Due: api

go mod tidy
  api/go.sum
Due: api

feat: Introduce signed Keptn Helm charts (#8730)
  .github/workflows/CI.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  README.md
  assets/pubring.gpg
  gh-actions-scripts/build-helm-charts.sh
Due: none

add cosign steps to CI
  .github/workflows/CI.yml
Due: none

some random change
  api/Dockerfile
Due: none

move cosign to pre-release and release pipelines
  .github/workflows/CI.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

remove random change
  api/Dockerfile
Due: none

attach cosign public key to releases and pre-releases
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

build(deps): update golang.org/x/oauth2 digest to 0ebed06
  cli/go.mod
  distributor/go.mod
Due: cli, distributor

go mod tidy
  cli/go.mod
  cli/go.sum
Due: cli

go mod tidy
  distributor/go.sum
Due: distributor

fix
  installer/airgapped/pull_and_retag_images.sh
Due: none

- Implement code review findings
  bridge/server/server.ts
  bridge/server/utils/configuration.ts
  bridge/server/utils/logger.ts
Due: bridge2, bridge-server

update helm charts
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update go-openapi packages
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

add public cosign key
  assets/cosign.pub
Due: none

build(deps): update module github.com/cloudevents/sdk-go/v2 to v2.11.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, cli, distributor, approval-service, lighthouse-service, shipyard-controller

- Fix
  bridge/server/utils/configuration.ts
Due: bridge2, bridge-server

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.34.0
  api/go.mod
  api/go.sum
Due: api

revert passwords
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

- unit test fix
  bridge/server/utils/configuration.spec.ts
Due: bridge2, bridge-server

chore: Add @DavidPHirsch as member
  MAINTAINERS
Due: none

fix
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
Due: none

test(shipyard-controller): Added component tests for triggering sequences by another sequence
  shipyard-controller/main_test.go
Due: shipyard-controller

ci: Fix helm chart to point towards official version
  .github/workflows/zero-downtime-tests.yml
Due: none

pr review
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

try to sign with experimental features enabled
  .github/workflows/CI.yml
Due: none

adapt docs
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
  mongodb-datastore/db/mongodb_event_repo_test.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/migration/project_mv_migration_test.go
  shipyard-controller/internal/db/mongodb_state_repo_test.go
  shipyard-controller/main_test.go
  statistics-service/db/statistics_mongodb_repo_test.go
Due: mongodb-datastore, shipyard-controller, statistics-service

some random change
  .github/workflows/pre-release.yml
  api/Dockerfile
  gh-actions-scripts/auto-update-utils.sh
Due: none

add docker login
  .github/workflows/CI.yml
Due: none
