Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

debug ui db dump endpoint
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

added EVENT_VALIDATION_ENABLED env var
  api/handlers/event.go
  api/handlers/event_test.go
  api/restapi/configure_keptn.go
Due: api

helm adjustments to cover env vars
  api/restapi/configure_keptn.go
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/values.yaml
Due: api

Added loadTraces call to selectStage method to overwrite setTraces$ timer
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
Due: bridge2

build(deps): update dependency ts-node to v10.8.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

bson
  shipyard-controller/internal/db/mock/dbdump_mock.go
  shipyard-controller/internal/db/mongodb_dbdump_repo.go
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
Due: shipyard-controller

removed commented out code
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

additional repo test
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
Due: shipyard-controller

build(deps): update dependency cypress to v10.3.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency prettier to v2.7.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

cleanup
  api/handlers/eventvalidation.go
Due: api

build(deps): update dependency jest-preset-angular to v12.2.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update storybook monorepo to v6.5.10
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency ts-node to v10.9.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency rxjs to v7.5.6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

pr fixes
  shipyard-controller/debug-ui/index.html
  shipyard-controller/internal/db/mongodb_dbdump_repo.go
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/routing/debugcontroller.go
Due: shipyard-controller

fix(resource-service): GetDefaultBranch looks for HEAD before fallback to master
  resource-service/common/git.go
Due: resource-service

frontend api change
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

build(deps): update dependency axios-mock-adapter to v1.21.2
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency eslint-plugin-jsdoc to v39.3.6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

additional repo test case
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
Due: shipyard-controller

fix
  resource-service/common/git.go
Due: resource-service

build(deps): update dependency @cypress/schematic to v2.0.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/semver to v7.3.11
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

test(api): Importer integration tests (#8549)
  test/assets/import/.gitignore
  test/assets/import/invalid-package/api/create-secret.json
  test/assets/import/invalid-package/api/create-service.json
  test/assets/import/invalid-package/api/create-subscription.json
  test/assets/import/invalid-package/resources/webhook.yaml
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-subscription.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/input.yaml
  test/assets/import/rendered-sample-package/full-manifest-rendering/resources/webhook.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-subscription.json
  test/assets/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/resources/webhook.yaml
  test/assets/import/sample-package/api/create-secret.json
  test/assets/import/sample-package/api/create-service.json
  test/assets/import/sample-package/api/create-subscription.json
  test/assets/import/sample-package/manifest.yaml
  test/assets/import/sample-package/resources/webhook.yaml
  test/go-tests/test_importer_test.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
Due: none

build(deps): update dependency ansi-regex to v6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency trim to v1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency trim-newlines to v4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

repo test
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
Due: shipyard-controller

chore: Add helm dependencies directly to repository charts (#8472)
  .github/workflows/security-scans.yml
  gh-actions-scripts/build-helm-charts.sh
  helm-service/.gitignore
  helm-service/chart/Chart.lock
  helm-service/chart/charts/common-0.1.0.tgz
  installer/.gitignore
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-11.1.10.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  jmeter-service/.gitignore
  jmeter-service/chart/Chart.lock
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

poc: add cache back
  .github/workflows/CI.yml
Due: none

poc: add cache back to test images
  .github/workflows/CI.yml
Due: none

ci: Fix snyk file (#8483)
  .snyk
Due: none

fix(installer): Fix NATS clustering settings (#8484)
  installer/manifests/keptn/values.yaml
Due: none

feat(installer): Enable clustered NATS (#8464)
  installer/manifests/keptn/values.yaml
Due: none

ci: Add Snyk config file (#8470)
  .snyk
Due: none

poc: build and test in a single step
  .github/workflows/CI.yml
Due: none

poc: try to run test directly
  .github/workflows/CI.yml
Due: none
