Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update jest monorepo
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

- Improvements
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
Due: bridge2

build(deps): update dependency ts-jest to v28.0.7
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update kubernetes packages to v0.22.12
  api/go.mod
  api/go.sum
  helm-service/go.mod
  helm-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, helm-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

go mod tidy
  api/go.sum
  helm-service/go.mod
  helm-service/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, resource-service, helm-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

add snyk config file
  .snyk
Due: none

add poc config file with a few ignores
  .snyk
Due: none

Added pause icon to dashboard and sequences view. Added UI tests
  bridge/client/app/_models/event-icons.ts
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

chore: Add helm dependencies directly to repository charts
  .github/renovate.json
  .github/workflows/security-scans.yml
  helm-service/.gitignore
  helm-service/chart/Chart.lock
  installer/.gitignore
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-11.1.10.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  jmeter-service/.gitignore
  jmeter-service/chart/Chart.lock
Due: helm-service, jmeter-service

add chart.lock to installer
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

add common charts to helm and jmeter
  helm-service/.gitignore
  helm-service/chart/charts/common-0.1.0.tgz
  jmeter-service/.gitignore
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

ci: Add Snyk config file (#8470)
  .snyk
Due: none

revert renovate changes
  .github/renovate.json
Due: none

Added scope query parameter to secret creation
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.ts
Due: bridge2

feat(installer): Enable clustered NATS (#8464)
  installer/manifests/keptn/values.yaml
Due: none

Added navigation to create secret page
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

added initial draft of api-guidelines
  docs/developer/api_guidelines.md
Due: none

cleanup
  docs/developer/api_guidelines.md
Due: none

make project name a query parameter instead
  shipyard-controller/controller/sequenceexecutioncontroller.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/handler/sequenceexecutionhandler_test.go
  shipyard-controller/models/api/sequence_execution.go
Due: shipyard-controller

ci: Fix snyk file glob syntax
  .snyk
Due: none

Updated link to secret creation to work with RouterGuard
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.html
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

fix unit test
  shipyard-controller/handler/sequenceexecutionhandler_test.go
Due: shipyard-controller

refactor
  gh-actions-scripts/build-helm-charts.sh
Due: none

added unit test
  shipyard-controller/models/api/sequence_execution_test.go
Due: shipyard-controller

ignore ZD and integration tests
  .snyk
Due: none

ci: Fix snyk file glob syntax (#8477)
  .snyk
Due: none

added missing json tag
  shipyard-controller/models/api/sequence_execution.go
Due: shipyard-controller

Added ChangeGuard. Updated routerLink
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

fix(shipyard-controller): Refactor error messages
  shipyard-controller/common/configurationstore.go
  shipyard-controller/common/error.go
  shipyard-controller/db/mongodb_project_mv_repo.go
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/evaluationhandler.go
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventhandler.go
  shipyard-controller/handler/eventhandler_test.go
  shipyard-controller/handler/loghandler.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/projectmanager.go
  shipyard-controller/handler/projectmanager_test.go
  shipyard-controller/handler/repository_provisioner.go
  shipyard-controller/handler/repository_provisioner_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/servicehandler.go
  shipyard-controller/handler/servicehandler_test.go
  shipyard-controller/handler/servicemanager.go
  shipyard-controller/handler/shipyardcontroller.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
  shipyard-controller/handler/stagehandler.go
  shipyard-controller/handler/stagehandler_test.go
  shipyard-controller/handler/stagemanager.go
  shipyard-controller/handler/stagemanager_test.go
  shipyard-controller/handler/statehandler.go
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

chore: Add helm dependencies directly to repository charts (#8472)
  .github/workflows/security-scans.yml
  gh-actions-scripts/build-helm-charts.sh
  helm-service/.gitignore
  helm-service/chart/Chart.lock
  helm-service/chart/charts/common-0.1.0.tgz
  installer/.gitignore
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-11.1.10.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  jmeter-service/.gitignore
  jmeter-service/chart/Chart.lock
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

test(api): add test for error during import package content rendering
  api/importer/fake/renderer_mock.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/test/data/import/sample-package/manifest.yaml
Due: api

refactor(api): change Render type from function to interface
  api/importer/package_processor.go
  api/importer/template.go
  api/importer/template_test.go
Due: api

feat(api): render task context using manifest context and other tasks input/output
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/input.yaml
  api/test/data/import/rendered-sample-package/full-manifest-rendering/resources/webhook.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.yaml
  api/test/data/import/sample-package/manifest.yaml
Due: api

feat(api): introduce import manifest context to keep track of individual task contexts
  api/importer/model/execute.go
  api/importer/model/execute_test.go
  api/importer/package_processor.go
Due: api

fix cfg file
  .snyk
Due: none

ci: Fix snyk file (#8483)
  .snyk
Due: none

fix(installer): Fix NATS clustering settings
  installer/manifests/keptn/values.yaml
Due: none

fix(installer): Fix NATS clustering settings (#8484)
  installer/manifests/keptn/values.yaml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
