Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

revert debugging changes
  test/go-tests/test_importer_test.go
Due: none

ci: Remove Meta Keptn setup (#8873)
  .github/workflows/integration_tests.yml
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
  test/assets/keptn-on-keptn/endpoints-helm-service.yaml
  test/assets/keptn-on-keptn/endpoints-jmeter-service.yaml
  test/assets/keptn-on-keptn/endpoints-keptn.yaml
  test/assets/keptn-on-keptn/ingress.yaml
Due: none

fix: upgrade @dynatrace/barista-components from 10.7.7 to 10.8.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update amannn/action-semantic-pull-request digest to 505e44b
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update actions/github-script action to v6.3.0
  .github/workflows/integration_tests.yml
Due: none

build(deps): update node.js to v16
  bridge/.nvmrc
  bridge/package.json
  bridge/server/.nvmrc
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update node.js to v18
  bridge/Dockerfile
Due: none

feat(resource-service): Move history of previous upstream to new upstream
  resource-service/common/credentials.go
  resource-service/common/fake/git_mock.go
  resource-service/common/git.go
  resource-service/handler/project_manager.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: resource-service, shipyard-controller

fix tests
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager_test.go
  resource-service/handler/service_manager_test.go
Due: resource-service

fix tests
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

don't abort on already up-to-date error
  resource-service/common/git.go
Due: resource-service

delete temporary origin after moving to new repo
  resource-service/common/git.go
Due: resource-service

unit test for git repo update
  resource-service/common/gitsuite_test.go
Due: resource-service

unit test for git repo update
  resource-service/common/fake/git_mock.go
  resource-service/common/git.go
  resource-service/handler/project_manager_test.go
Due: resource-service

Test add space to shipyard go.sum
  shipyard-controller/go.sum
Due: shipyard-controller

Undo testing changes
  shipyard-controller/go.sum
Due: shipyard-controller

build(deps): update dependency cypress to v10.9.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency webpack-bundle-analyzer to v4.6.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Resolve discussions
  .github/workflows/test-and-build-docker-images.yml
Due: none

ci: Introduce yarn and go caching (#8880)
  .github/workflows/test-and-build-docker-images.yml
Due: none

support updating token of current upstream url
  resource-service/common/fake/git_mock.go
  resource-service/common/git.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/models/project.go
  shipyard-controller/internal/handler/projectmanager.go
Due: resource-service, shipyard-controller

fixed unit tests
  resource-service/handler/project_manager_test.go
Due: resource-service

disable sql logging for gitea
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  .idea/runConfigurations/keptn_shipyard_controller__Kube_ContDeploy_.xml
  test/assets/gitea/values.yaml
Due: none

only test url provisioning
  test/go-tests/testsuite_gke_test.go
Due: none

add back debugging changes
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
Due: none

debugging
  .github/workflows/integration_tests.yml
Due: none

try to change gitea logging behaviour
  test/assets/gitea/values.yaml
Due: none

debugging
  test/go-tests/test_provisioningURL.go
Due: none

change log level to debug
  test/go-tests/test_provisioningURL.go
Due: none

remove unneeded env vars
  .github/workflows/integration_tests.yml
Due: none

try again with og cluster
  .github/workflows/integration_tests.yml
Due: none

try with workload id enabled
  .github/workflows/integration_tests.yml
Due: none

try with workload id enabled on debugging cluster 2
  .github/workflows/integration_tests.yml
Due: none

back to the original but with different cluster settings
  .github/workflows/integration_tests.yml
Due: none

one more try
  .github/workflows/integration_tests.yml
Due: none

use a different cluster
  .github/workflows/integration_tests.yml
Due: none

original test setup
  .github/workflows/integration_tests.yml
  test/go-tests/testsuite_gke_test.go
Due: none

new cluster
  .github/workflows/integration_tests.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
