Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.8
  api/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  shipyard-controller/go.mod
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update module github.com/masterminds/semver/v3 to v3.2.0
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: shipyard-controller

build(deps): update module github.com/emicklei/go-restful/v3 to v3.10.1
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/stretchr/testify to v1.8.1
  api/go.mod
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, secret-service

replace golang.org/x/text with v0.5.0
  statistics-service/go.mod
  statistics-service/go.sum
Due: statistics-service

build(deps): update angular monorepo to v12.2.17
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/lodash to v4.14.191
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

test: Add new integrtion test for multy stage service
  test/go-tests/test_multiple_integrations.go
  test/go-tests/test_webhook.go
  test/go-tests/testsuite_gke_test.go
Due: none

test: Add multi-stage and multi-integration test
  test/go-tests/test_multiple_integrations.go
  webhook-service/deploy/service.yaml
Due: none

test: Add multi-stage and multi-integration test
  test/go-tests/test_multiple_integrations.go
Due: none

test: Add uniform cleanup
  test/go-tests/test_multiple_integrations.go
Due: none

fix: added minor code fixes
  resource-service/deploy/service.yaml
  shipyard-controller/internal/provisioner/repository_provisioner.go
Due: shipyard-controller

build(deps): update dependency @types/node to v14.18.34
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency @types/semver to v7.3.13
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency eslint-plugin-deprecation to v1.3.3
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency eslint-plugin-jsdoc to v39.3.25
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency jest-preset-angular to v12.2.3
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency supertest to v6.3.2
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update storybook monorepo to v6.5.14
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): Merge bump open renovate PRs (#9244)
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

revert to memongo v0.7.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: mongodb-datastore, shipyard-controller

revert to memongo v0.6.1
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

webhook-service: go mod tidy
  webhook-service/go.mod
  webhook-service/go.sum
Due: webhook-service

build(deps): update zone.js to 0.12.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @babel/core to v7.20.5
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @cypress/schematic to v2.4.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @dynatrace/barista-icons to v7.24.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/dompurify to v2.4.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency babel-loader to v8.3.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
