Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

added unit tests
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix integration tests
  test/go-tests/test_provisioningURL.go
Due: none

fix docs
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

add integration test
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/internal/config/envconfig.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: shipyard-controller

additional tests
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix(shipyard-controller): Remove DB dump enpoints documentation from API docs
  shipyard-controller/debugdocs/docs.go
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

build(deps): update module go to 1.19
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(shipyard-controller): Remove DB dump enpoints documentation from API docs (#8771)
  shipyard-controller/debugdocs/docs.go
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

ci: Fix helm chart to a default (#8755)
  .github/workflows/zero-downtime-tests.yml
Due: none

feat(shipyard-controller): Provide option to hide automatically provisioned URLs (#8745)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/internal/config/envconfig.go
  shipyard-controller/internal/handler/fake/projectmanager.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
  shipyard-controller/main.go
  shipyard-controller/models/project.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: shipyard-controller

chore: add @mehabhalodiya as member (#8763)
  MAINTAINERS
Due: none

chore: add @bradmccoydev as member (#8756)
  MAINTAINERS
Due: none

ci: Fix helm chart to env.UPGRADE_TO
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Add env variable to setup the default Upgrade Chart (#8778)
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.23.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update module github.com/tryvium-travels/memongo to v0.6.1
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update module go.mongodb.org/mongo-driver to v1.10.1
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: mongodb-datastore

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

go mod tidy
  api/go.sum
Due: api

go mod tidy
  mongodb-datastore/go.sum
Due: mongodb-datastore

go mod tidy
  secret-service/go.sum
Due: secret-service

build(deps): update module github.com/swaggo/swag to v1.8.5
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

build(deps): update k8s.io/utils digest to e9cbc92
  api/go.mod
  api/go.sum
Due: api

build(deps): Update keptn/go-utils to f07eb2f4a74be3e0b54972d1ff52f303708d4a24
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

test(shipyard-controller): Added component tests for triggering sequences by another sequence (#8744)
  shipyard-controller/main_test.go
Due: shipyard-controller

build(deps): Auto-update go-utils to latest version (#8780)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update golang.org/x/crypto digest to c86fa9a
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, secret-service

go mod tidy
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: shipyard-controller, statistics-service, webhook-service

build(deps): update golang.org/x/net digest to 83b083e
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/emicklei/go-restful/v3 to v3.9.0
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix added unmarshal
  webhook-service/deploy/service.yaml
  webhook-service/handler/handler.go
Due: webhook-service

fix added unmarshal
  webhook-service/deploy/service.yaml
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

fix added unmarshal
  webhook-service/handler/handler.go
Due: webhook-service

docs: Added Helm value documentation for Keptn Bridge
  installer/manifests/keptn/values.yaml
Due: none

Updated manifests/keptn README.md file
  installer/manifests/keptn/README.md
Due: none

added failing json
  webhook-service/handler/handler_test.go
Due: webhook-service

feat(webhook-service): Added unmarshalling of curl responses (#8782)
  webhook-service/deploy/service.yaml
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
