Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

change signing method to keyless signing
  .github/workflows/CI.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  assets/cosign.pub
Due: none

feat(shipyard-controller): debugUI documentation & feature Flag (#8736)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/Dockerfile
  shipyard-controller/debugdocs/dbdump.png
  shipyard-controller/debugdocs/debugui.png
  shipyard-controller/debugdocs/docs.go
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/debugdocs/viewevents.png
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/config/envconfig.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

ci: Fix Zero Downtime scheduled pipeline (#8743)
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update module github.com/swaggo/swag to v1.8.4
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

remove image signing from CI workflow
  .github/workflows/CI.yml
Due: none

add correct permissions to workflow
  .github/workflows/release.yml
Due: none

remove unneeded changes
  .github/workflows/CI.yml
  gh-actions-scripts/auto-update-utils.sh
Due: none

remove attaching the cosign key to releases
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

feat(installer): Bump MongoDB version (#8729)
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/README.md
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-11.1.10.tgz
  installer/manifests/keptn/charts/mongodb-12.1.31.tgz
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/values.yaml
  mongodb-datastore/db/mongodb_event_repo_test.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/migration/project_mv_migration_test.go
  shipyard-controller/internal/db/mongodb_state_repo_test.go
  shipyard-controller/main_test.go
  statistics-service/db/statistics_mongodb_repo_test.go
Due: mongodb-datastore, shipyard-controller, statistics-service

add readme section
  README.md
Due: none

fix dockerhub url
  README.md
Due: none

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  api/go.sum
Due: api

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.sum
Due: api, cli, distributor, approval-service, lighthouse-service, shipyard-controller

build(deps): update helm release nats to v0.17.5
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

remove random change
  api/Dockerfile
Due: none

build(deps): update dependency @types/marked to v4.0.6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/node to v14.18.26
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

ci: Fix helm chart to a default
  .github/workflows/zero-downtime-tests.yml
Due: none

feat: Signed container images (#8740)
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  README.md
Due: none

feat(bridge): Improve the logging on the Bridge server (#8735)
  bridge/server/interfaces/configuration.ts
  bridge/server/server.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  bridge/server/utils/logger.spec.ts
  bridge/server/utils/logger.ts
Due: bridge2, bridge-server

build(deps): update dependency openid-client to v5.1.9
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

chore: add @bradmccoydev as member
  MAINTAINERS
Due: none

build(deps): update dependency @types/dompurify to v2.3.4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update actions/github-script action to v6.2.0
  .github/workflows/integration_tests.yml
Due: none

chore: add @mehabhalodiya as member
  MAINTAINERS
Due: none

build(deps): update dependency @types/jest to v28.1.8
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(release): 0.16.2 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

build(release): 0.18.2 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

build(release): 0.17.1 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

build(deps): update dependency eslint-plugin-promise to v6.0.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang.org/x/exp digest to 334a238
  api/go.mod
  api/go.sum
Due: api

build(deps): update kubernetes packages to v0.25.0
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

re-add missing example
  cli/cmd/configure_monitoring.go
Due: cli

build(deps): Update keptn/go-utils to dc8c0968b1331f46db4d5e7846d7e09b1ca1c4a5
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Auto-update go-utils to latest version (#8770)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(shipyard-controller): Provide option to hide automatically provisioned URLs
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/config/envconfig.go
  shipyard-controller/internal/handler/fake/projectmanager.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
  shipyard-controller/main.go
  shipyard-controller/models/project.go
Due: shipyard-controller
