Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

chore(bridge): Remove second labels tag list for remediation sequences (#8410)
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.ts
  bridge/client/app/_utils/app.utils.spec.ts
  bridge/client/app/_utils/app.utils.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.ts
  bridge/cypress/fixtures/get.events.29355a07-7b65-47fa-896e-06f656283c5d.mock.json
  bridge/cypress/integration/remediation-sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

chore(bridge): Remove no Git upstream is set warning (#8447)
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.html
  bridge/cypress/fixtures/projects.mock.json
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
Due: bridge2

build(deps): update google-github-actions/get-gke-credentials action to v0.8.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

frigate
  installer/manifests/frigate.md
  kubepack.md
Due: none

feat(bridge): Preselect date for datetime picker
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.html
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.html
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

fix some deps for distributor
  distributor/go.mod
  distributor/go.sum
Due: distributor

fix some deps for mongodb-datastore
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: mongodb-datastore

Combined preselect datetime ui tests
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

fix some deps for api
  api/go.mod
  api/go.sum
Due: api

- Remove test component
  bridge/client/app/_components/ktb-chart/ktb-chart.component.scss
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

build(deps): Update keptn/go-utils to 866624f8ce4274c3a9ae9b597fba04a338e20dc3
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Preselect date for datetime picker (#8450)
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.html
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.html
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

Added pause icon for environment view
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
Due: bridge2

add replace support to renovate config
  .github/renovate.json
Due: none

fix some deps for cli
  api/go.mod
  cli/go.mod
  cli/go.sum
  distributor/go.mod
Due: api, cli, distributor

build(deps): Update keptn/go-utils to 6b126790c54c120282e8eb69ab882825dac8943c
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

add rest of the services
  approval-service/go.mod
  approval-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: resource-service, approval-service, jmeter-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
  api/go.sum
Due: api

revert renovate config update
  .github/renovate.json
Due: none

revert some deps updates
  distributor/go.mod
  distributor/go.sum
Due: distributor

build(deps): Auto-update go-utils to latest version (#8454)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: Make renovate work with go mod replace statements
  .github/renovate.json
Due: none

ci: Make renovate work with go mod replace statements (#8455)
  .github/renovate.json
Due: none

feat(api): support simple templating for resource and api tasks in import manifests
  api/handlers/zip_package_test.go
  api/importer/model/execute.go
  api/importer/model/manifest.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/importer/template.go
  api/importer/template_test.go
  api/test/data/import/rendered-sample-package/api/create-service.context.yaml
  api/test/data/import/rendered-sample-package/api/create-service.json
  api/test/data/import/rendered-sample-package/api/create-subscription.context.yaml
  api/test/data/import/rendered-sample-package/api/create-subscription.json
  api/test/data/import/rendered-sample-package/resources/webhook.context.yaml
  api/test/data/import/rendered-sample-package/resources/webhook.yaml
  api/test/data/import/sample-package/api/create-service.json
  api/test/data/import/sample-package/api/create-subscription.json
  api/test/data/import/sample-package/resources/webhook.yaml
Due: api

build(deps): update github.com/keptn/keptn/webhook-service digest to 1365894
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): Update dependencies in microservices (#8451)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Update crypto dependency in shipyard-controller
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: shipyard-controller

build(deps): Update crypto dependency in shipyard-controller (#8460)
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: shipyard-controller

build(deps): Update crypto everywhere
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

readme generator choosed bitnami
  .gitignore
  bitnami.md
  doc.yaml
  helm-values-generate-bitnami.sh
  installer/manifests/frigate.md
  installer/manifests/keptn/values.yaml
  kubepack.md
  readme-generator-for-helm-main.zip
Due: none

feat(api): Support simple templating for resource and api tasks in import manifests (#8456)
  api/handlers/zip_package_test.go
  api/importer/model/execute.go
  api/importer/model/manifest.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/importer/template.go
  api/importer/template_test.go
  api/test/data/import/rendered-sample-package/api/create-service.context.yaml
  api/test/data/import/rendered-sample-package/api/create-service.json
  api/test/data/import/rendered-sample-package/api/create-subscription.context.yaml
  api/test/data/import/rendered-sample-package/api/create-subscription.json
  api/test/data/import/rendered-sample-package/resources/webhook.context.yaml
  api/test/data/import/rendered-sample-package/resources/webhook.yaml
  api/test/data/import/sample-package/api/create-service.json
  api/test/data/import/sample-package/api/create-subscription.json
  api/test/data/import/sample-package/resources/webhook.yaml
Due: api

build(deps): Update crypto everywhere (#8461)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: Add more config options to kubescape
  .github/.kubescape/controls-inputs.json
  .github/.kubescape/exceptions.json
  .github/workflows/security-scans.yml
Due: none

revert wrong change
  .github/.kubescape/exceptions.json
Due: none

added workflow
  .github/readme-generator-for-helm-main.zip
  .github/workflows/validate-helm-docs.yml
Due: none

ci: Improve kubescape scans (#8462)
  .github/.kubescape/controls-inputs.json
  .github/.kubescape/exceptions.json
  .github/workflows/security-scans.yml
Due: none

feat(installer): Enable clustered NATS
  installer/manifests/keptn/values.yaml
Due: none

poc: build and test in a single step
  .github/workflows/CI.yml
Due: none

poc: add cache back
  .github/workflows/CI.yml
Due: none

poc: add cache back to test images
  .github/workflows/CI.yml
Due: none
