Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

ci: Set the release type of release-please to Go
  release-please-config.json
Due: none

ci: Set the release type of release-please to Go (#8992)
  release-please-config.json
Due: none

build(deps): update amannn/action-semantic-pull-request digest to 7c194c2
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update actions/github-script action to v6.3.2
  .github/workflows/integration_tests.yml
Due: none

build(deps): update module go.mongodb.org/mongo-driver to v1.10.3
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

feat(bridge): Show full date on hover on sequence view
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.module.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

go mod tidy
  cli/go.mod
  cli/go.sum
  distributor/go.sum
Due: cli, distributor

build(deps): update golang.org/x/net digest to 8021a29
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod idy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/cloudevents/sdk-go/protocol/nats/v2 to v2.12.0
  distributor/go.mod
  distributor/go.sum
Due: distributor

build(deps): update module github.com/cloudevents/sdk-go/v2 to v2.12.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, cli, approval-service, lighthouse-service, shipyard-controller

ci: Make helm build dependent on container build
  .github/workflows/CI.yml
Due: none

go mod tidy
  cli/go.sum
Due: cli

build(deps): update golang.org/x/crypto digest to 56aed06
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat: Made bridge username configurable on install
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update module github.com/docker/docker-credential-helpers to v0.7.0
  cli/go.mod
Due: cli

refactors un to support conflicts
  installer/manifests/keptn/values.yaml
Due: none

minor changes
  installer/manifests/keptn/values.yaml
Due: none

makes changes to bridge section values
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: none

minor changes
  installer/manifests/keptn/templates/core.yaml
Due: none

adds changes to ReadME
  installer/manifests/keptn/README.md
Due: none

Added seconds to time inside tooltip. Moved ui tests outside filtering describe
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/cypress/integration/sequences.spec.ts
Due: bridge2

Updated datetime format II
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
Due: bridge2

feat(bridge): Show full date on hover on sequence view (#8997)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.module.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

ci: Make helm build dependent on container build (#9002)
  .github/workflows/CI.yml
Due: none

ci: Move to new way of setting env var in workflows
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Move to new way of setting env var in workflows (#9009)
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Change from GITHUB_ENV to GITHUB_OUTPUT
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

Revert "ci: Move to new way of setting env var in workflows"
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Move variables to github outputs instead of github env (#9010)
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

minor updates to keptn UN
  installer/manifests/keptn/templates/core.yaml
Due: none

refactors keptn username to basicAuth un
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: none

enhance logs when deleting subscriptions
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

fix(test): Fix timeout problem in check for sequence state
  shipyard-controller/main_test.go
Due: shipyard-controller
