Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

swtich to different cluster
  .github/workflows/integration_tests.yml
Due: none

enable second cluster
  .github/workflows/integration_tests.yml
Due: none

enable more tests
  test/go-tests/testsuite_gke_test.go
Due: none

revert idea changes
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  .idea/runConfigurations/keptn_shipyard_controller__Kube_ContDeploy_.xml
Due: none

revert some test changes
  test/go-tests/test_provisioningURL.go
Due: none

remove istio from the integration tests
  .github/workflows/integration_tests.yml
  test/utils/install_istio.sh
  test/utils/uninstall_istio.sh
Due: none

build(deps): update actions/setup-node action to v3.5.0
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/validate-helm-docs.yml
Due: none

build(deps): update actions/cache action to v3
  .github/workflows/test-and-build-docker-images.yml
Due: none

ci: Integration Test Enhancements (#8909)
  .github/workflows/integration_tests.yml
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  test/assets/gitea/values.yaml
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
  test/utils/install_istio.sh
  test/utils/uninstall_istio.sh
Due: none

build(deps): update checkmarx/kics-github-action action to v1.6
  .github/workflows/security-scans.yml
Due: none

docs: added info about auto-signoff
  CONTRIBUTING.md
Due: none

additional tests
  resource-service/common/credentials.go
  resource-service/common/credentials_test.go
  resource-service/handler/project_manager_test.go
Due: resource-service

additional tests
  resource-service/handler/project_manager_test.go
Due: resource-service

build(deps): update actions/cache action to v3.0.9
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update actions/github-script action to v6.3.1
  .github/workflows/integration_tests.yml
Due: none

build(deps): update dependency @types/node to v14.18.31
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

ci: Use backup integration test clusters
  .github/workflows/integration_tests.yml
Due: none

chore(bridge): Remove Highcharts
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.module.ts
  bridge/client/app/_models/trace.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/package.json
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  bridge/stories/components/Header.stories.ts
  bridge/stories/components/Mockup.stories.ts
  bridge/yarn.lock
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

Removed d3 feature flag documentation
  installer/manifests/keptn/README.md
Due: none

Removed unused interfaces and mocks
  bridge/client/app/_models/evaluation-chart-item.ts
  bridge/client/app/_models/heatmap-options.ts
  bridge/client/app/_models/heatmap-series-options.ts
  bridge/client/app/_services/_mockData/evaluation-chart-item.mock.ts
Due: bridge2

fix deps
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): Update k8s packages to v0.24.6
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

more needed deps
  lighthouse-service/go.mod
  lighthouse-service/go.sum
Due: lighthouse-service

go mod tidy
  api/go.mod
  api/go.sum
Due: api

more updates
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: shipyard-controller, secret-service

even more
  webhook-service/go.mod
  webhook-service/go.sum
Due: webhook-service

even more
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

ci: Use backup integration test clusters (#8921)
  .github/workflows/integration_tests.yml
Due: none

fix cli deps
  cli/go.mod
  cli/go.sum
Due: cli

ci: Cache Cypress files
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update dependency typescript to v4.8.4
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

Add newline in Dockerfile to trigger workflow
  bridge/Dockerfile
Due: none

remove unneeded file
  .github/workflows/bla.txt
Due: none

github ip ranges
  .github/workflows/bla.txt
Due: none

update cidr ranges
  .github/workflows/bla.txt
Due: none

update k3d to use the correct cluster creation command
  .github/workflows/integration_tests.yml
Due: none
