Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

working version with all tests
  cli/cmd/migrate_webhooks.go
  test/go-tests/test_webhook_migration.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: cli

update implemented, migration missing
  cli/cmd/migrate_webhooks.go
Due: cli

first working version
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
Due: cli

first working version
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
  test/go-tests/test_webhook_migration.go
Due: cli

add migrator, missing requests migration
  cli/cmd/migrate_webhooks.go
Due: cli

final working version
  cli/cmd/migrate_webhooks.go
  test/go-tests/test_webhook_migration.go
Due: cli

additional unit tests
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
Due: cli

pr review
  cli/cmd/migrate_webhooks.go
  test/go-tests/test_webhook_migration.go
Due: cli

added unit tests
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/handler/error.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/handler/sequenceexecutionhandler_test.go
  shipyard-controller/main.go
  shipyard-controller/models/api/sequence_execution.go
  shipyard-controller/models/api/sequence_execution_test.go
Due: shipyard-controller

pr review
  cli/cmd/migrate_webhooks.go
Due: cli

minor fix
  cli/cmd/migrate_webhooks.go
Due: cli

final pr review
  cli/cmd/migrate_webhooks.go
  test/go-tests/test_webhook_migration.go
Due: cli

adapted swagger annotations
  shipyard-controller/handler/sequenceexecutionhandler.go
Due: shipyard-controller

additional unit test
  shipyard-controller/models/api/sequence_execution_test.go
Due: shipyard-controller

chore(shipyard-controller): Add extra debug logging to the Git Automatic Provisioner call
  shipyard-controller/handler/projecthandler.go
Due: shipyard-controller

chore(bridge): Enable resource-service by default (#8432)
  bridge/deploy/service.yaml
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
Due: bridge2, bridge-server

- Add tooltip - Add utils - Add unit tests for utils
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.scss
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.html
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

additional tests
  shipyard-controller/handler/sequenceexecutionhandler_test.go
Due: shipyard-controller

feat(cli): Introduce webhookConfig migrator (#8396)
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
  cli/go.mod
  cli/go.sum
  test/go-tests/test_webhook_migration.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: cli

updated swagger doc
  shipyard-controller/handler/sequenceexecutionhandler.go
Due: shipyard-controller

- Remove code smells
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
Due: bridge2

- Fix
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
Due: bridge2

fix(resource-service): Unescape resourceURI before updating single resource
  resource-service/handler/resource_manager.go
  resource-service/handler/resource_manager_test.go
Due: resource-service

build(deps): update dependency @types/node to v14.18.22
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update actions/setup-node action to v3.4.1
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: none

build(deps): update github.com/keptn/keptn/webhook-service digest to aa172e8
  cli/go.mod
  cli/go.sum
Due: cli

fix(resource-service): Unescape resourceURI before updating single resource (#8441)
  resource-service/handler/resource_manager.go
  resource-service/handler/resource_manager_test.go
Due: resource-service

updated ui test. Changed isValidUrl method call
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.ts
  bridge/client/app/_utils/app.utils.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.ts
  bridge/cypress/integration/remediation-sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/keptn-bridge/.idea/codeStyles/codeStyleConfig.xml
  bridge/keptn-bridge/.idea/inspectionProfiles/Project_Default.xml
  bridge/keptn-bridge/.idea/jsLinters/eslint.xml
  bridge/keptn-bridge/.idea/sonarlint/issuestore/index.pb
  bridge/keptn-bridge/.idea/vcs.xml
  bridge/keptn-bridge/.idea/workspace.xml
Due: bridge2

chore(shipyard-controller): Add extra debug logging to the Git Automatic Provisioner call (#8440)
  shipyard-controller/handler/projecthandler.go
Due: shipyard-controller

chore(bridge): Removed obsolete common use cases page (#8419)
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.spec.ts
  bridge/cypress/support/pageobjects/SettingsPage.ts
Due: bridge2

build(deps): Update keptn/go-utils to 3a171cc6c166bec3c632d47d3ddfbdb5a006054d
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore(bridge): Remove no Git upstream is set warning
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.html
  bridge/cypress/fixtures/projects.mock.json
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
Due: bridge2

helm documentation
  README-helm.md
  doc.yaml
  installer/manifests/keptn/values.yaml
Due: none

Removed wrongly added IntelliJ config files
  bridge/keptn-bridge/.idea/codeStyles/codeStyleConfig.xml
  bridge/keptn-bridge/.idea/inspectionProfiles/Project_Default.xml
  bridge/keptn-bridge/.idea/jsLinters/eslint.xml
  bridge/keptn-bridge/.idea/sonarlint/issuestore/index.pb
  bridge/keptn-bridge/.idea/vcs.xml
  bridge/keptn-bridge/.idea/workspace.xml
Due: bridge2

Removed only call for ui test
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
Due: bridge2

- Add unit tests - Improve code
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.html
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.scss
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
Due: bridge2

build(deps): Auto-update go-utils to latest version (#8418)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
