Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

ci: Fix integration tests auth against GCP (#9329)
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update kubernetes packages to v0.25.5
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

go mod tidy
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

bump
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  lighthouse-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  webhook-service/go.mod
Due: cli, resource-service, distributor, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module golang.org/x/crypto to v0.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Add go.sum
  cli/go.sum
Due: cli

update go.[mod|sum]
  api/go.sum
  approval-service/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: add utility for running in all services
  gh-actions-scripts/go-mod-tidy.sh
Due: none

fix(shipyard-controller): Add new stage to sequence state immediately after receiving triggered event
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
Due: shipyard-controller

ci: Add utility for running `go mod tidy` in all services (#9333)
  gh-actions-scripts/go-mod-tidy.sh
Due: none

feat(bridge): Read secrets from volume mount instead from env var
  bridge/README.md
  bridge/server/interfaces/configuration.ts
  bridge/server/user/secrets.spec.ts
  bridge/server/user/secrets.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  installer/manifests/keptn/templates/core.yaml
Due: bridge2, bridge-server

initilalize sequence stage with empty state
  shipyard-controller/internal/controller/sequencestate.go
Due: shipyard-controller

increase timeout
  shipyard-controller/main_test.go
Due: shipyard-controller

added missing import
  shipyard-controller/main_test.go
Due: shipyard-controller

fixed unit tests
  bridge/server/test/bridge-info.spec.ts
  bridge/server/test/oauth.spec.ts
Due: bridge2, bridge-server

build(deps): update golang.org/x/exp digest to 3c43f8b
  api/go.mod
  api/go.sum
Due: api

build(deps): update dependency @types/marked to v4.0.8
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update google-github-actions/get-gke-credentials action to v1.0.1
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update helm release nats to v0.19.3
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update dependency @types/node to v14.18.35
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

ci: Set kubeconfig permissions step of integration/zdt pipeline just for GKE
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

add Philipp Hinteregger to CONTRIBUTORS.md
  CONTRIBUTORS.md
Due: none

ci: Set kubeconfig permissions in GCP setup step (#9342)
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
  CONTRIBUTORS.md
Due: none

Set unique folders for secrets
  bridge/README.md
  bridge/server/user/secrets.spec.ts
  bridge/server/user/secrets.ts
  installer/manifests/keptn/templates/core.yaml
Due: bridge2, bridge-server

go mod tidy
  api/go.sum
Due: api

helm dependency update
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.19.1.tgz
  installer/manifests/keptn/charts/nats-0.19.3.tgz
Due: none

adapt airgapped images
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): update jasonetco/create-an-issue action to v2.8.2
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update helm release mongodb to v13.6.1
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

fix: added charts
  common-1.0.tgz
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-13.5.0.tgz
  installer/manifests/keptn/charts/mongodb-13.6.1.tgz
Due: none

fix: added charts
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

fix: added charts
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

fix: added charts
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): update docker.io/nginxinc/nginx-unprivileged docker tag to v1.23.2
  installer/manifests/keptn/values.yaml
Due: none

adapt airgapped
  installer/airgapped/pull_and_retag_images.sh
Due: none

update helm docs
  installer/manifests/keptn/README.md
Due: none

feat(bridge): Sort registration items by name
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

build(deps): update module github.com/go-test/deep to v1.0.9
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: lighthouse-service, shipyard-controller, statistics-service
