Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Fix failing stories
  bridge/client/app/_components/ktb-app-header/ktb-app-header.module.ts
  bridge/client/app/_components/ktb-copy-to-clipboard/ktb-copy-to-clipboard.module.ts
  bridge/stories/components/CopyToClipboard.stories.ts
  bridge/stories/components/DangerZone.stories.mdx
  bridge/stories/components/Header.stories.ts
  bridge/stories/components/Heatmap.stories.ts
  bridge/stories/components/Mockup.stories.ts
  bridge/stories/components/WebhookSettings.stories.ts
Due: bridge2

fix(bridge): Fix evaluation badge wrapping (#8524)
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.html
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.ts
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.scss
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.html
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.scss
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.module.ts
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.ts
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.html
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.scss
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/cypress.config.ts
  bridge/cypress/fixtures/get.environment.evaluation.history.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.evaluation.badge.mock.json
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/components/evaluation-badge.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

feat(bridge): Fix console errors
  bridge/stories/components/CertificateInput.stories.ts
  bridge/stories/components/DateInput.stories.ts
  bridge/stories/components/ExpandableTile.stories.ts
  bridge/stories/components/Heatmap.stories.ts
  bridge/stories/components/Mockup.stories.ts
Due: bridge2

chore: Remove configuration-service Service
  gh-actions-scripts/cleanup_docker_images.sh
  gh-actions-scripts/detect_stale_images.sh
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

additional cleanups
  .github/workflows/validate-semantic-pr.yml
  api/importer/execute/keptn_endpoints.go
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/common/configurationstore_test.go
  test/go-tests/test_resourceservice.go
Due: api, shipyard-controller

table description
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

table headers
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

refactor sonarcloud
  shipyard-controller/handler/projecthandler.go
Due: shipyard-controller

feat(shipyard-controller): Introduce RemoteURL denyList (#8490)
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/common/error.go
  shipyard-controller/common/fake/filereader_mock.go
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
  shipyard-controller/handler/common.go
  shipyard-controller/handler/fake/remoteurl_validator_mock.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/remoteurl_validator.go
  shipyard-controller/handler/remoteurl_validator_test.go
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

test(bridge): Fix ignored UI tests in trigger-sequence.spec (#8525)
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress.config.ts
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

fix project settings behaviour when automatic provisioning active
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.ts
Due: bridge2

preselect https by default
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.ts
Due: bridge2

select no upstream for creation mode
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.ts
Due: bridge2

adjust unit tests
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.spec.ts
Due: bridge2

feat(bridge): Adapt to code review change requests
  bridge/.gitignore
  bridge/.storybook/main.js
  bridge/client/app/_components/ktb-date-input/ktb-date-input.module.ts
  bridge/stories/components/Components.stories.mdx
  bridge/tsconfig.app.json
Due: bridge2

debughandler goroutine
  shipyard-controller/main.go
Due: shipyard-controller

add test for upstream not required but not in create mode
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.spec.ts
Due: bridge2

go naming conventions
  shipyard-controller/main.go
Due: shipyard-controller

ci: Ignore TS mock files in Snyk
  .snyk
Due: none

create UI tests for automatic provisioning project settings
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

ci: Ignore TS mock files in Snyk (#8532)
  .snyk
Due: none

update busybox
  distributor/Dockerfile
Due: none

remove busybox altogether
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  resource-service/Dockerfile
Due: none

remove busybox altogether
  approval-service/Dockerfile
  distributor/Dockerfile
  remediation-service/Dockerfile
Due: none

ignore go test files and MPL license in snyk config file
  .github/codeql-config.yml
  .github/workflows/CI.yml
  .github/workflows/security-scans.yml
  api/Dockerfile
  approval-service/Dockerfile
  configuration-service/.gitignore
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

add policy path to let snyk find the config file
  .github/workflows/CI.yml
Due: none

add snyk container test for now
  .github/workflows/CI.yml
Due: none

dont fail fast
  .github/workflows/CI.yml
Due: none

fix cmd
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
Due: none

revert last commit
  .github/workflows/CI.yml
Due: none

run monitor cmd for now
  .github/workflows/CI.yml
Due: none

update busybox
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
Due: none

remove test step again
  .github/workflows/CI.yml
Due: none

only run snyk scans on protected branch builds
  .github/workflows/CI.yml
Due: none

try upgrading busybox again
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
Due: none

revert busybox changes
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
Due: none

fix(bridge): Fix detection of pending changes when automatic provisioning active (#8531)
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.ts
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

feat(bridge): Fix app-header for initial load
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.ts
Due: bridge2

revert
  gh-actions-scripts/cleanup_docker_images.sh
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
