Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore: Increased coverage for remediation-service
  remediation-service/handler/test/events/get-action.triggered-malformed.json
Due: remediation-service

chore: New lines for reviewers :)
  remediation-service/handler/test/events/get-action.triggered-0.json
  remediation-service/handler/test/events/get-action.triggered-1.json
  remediation-service/handler/test/events/get-action.triggered-2.json
  remediation-service/handler/test/events/get-action.triggered-malformed.json
Due: remediation-service

chore: Increased coverage for remediation-service (#8357)
  remediation-service/handler/get_action_event_handler_test.go
  remediation-service/handler/test/events/get-action.triggered-0.json
  remediation-service/handler/test/events/get-action.triggered-1.json
  remediation-service/handler/test/events/get-action.triggered-2.json
  remediation-service/handler/test/events/get-action.triggered-malformed.json
  remediation-service/test/event.json
Due: remediation-service

build(deps): Auto-update go-utils to latest version (#8345)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update golang.org/x/oauth2 digest to 2104d58
  cli/go.mod
  cli/go.sum
  distributor/go.mod
Due: cli, distributor

chore: go mod tidy
  distributor/go.sum
Due: distributor

build(deps): update dependency nodemon to v2.0.19
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency openid-client to v5.1.8
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency supertest to v6.2.4
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update module github.com/go-openapi/validate to v0.22.0
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update dependency @types/express-session to v1.17.5
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update module github.com/hashicorp/go-version to v1.6.0
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update module github.com/spf13/cobra to v1.5.0
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update module github.com/tryvium-travels/memongo to v0.6.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

test: use `T.Setenv` to set env vars in tests
  api/handlers/event_test.go
  api/handlers/metadata_test.go
  api/importer/execute/keptn_endpoints_test.go
  api/middleware/tokenauth_test.go
  api/restapi/configure_keptn_test.go
  cli/cmd/add_resource_test.go
  cli/cmd/get_event_approvalTriggered_test.go
  cli/cmd/get_event_test.go
  cli/cmd/root_test.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/cmd/trigger_delivery_test.go
  cli/cmd/trigger_sequence_test.go
  distributor/pkg/config/envconfig_test.go
  helm-service/pkg/helm/generated_chart_handler_test.go
  helm-service/pkg/mesh/ingress_config_test.go
  jmeter-service/jmeterUtils_test.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/event_handler/start_evaluation_handler_test.go
  mongodb-datastore/restapi/configure_mongodb_datastore_test.go
  resource-service/common/credentials_test.go
  secret-service/pkg/common/utils_test.go
  shipyard-controller/common/keptn_helpers_test.go
  statistics-service/controller/statistics_test.go
  statistics-service/db/statistics_mongodb_repo_test.go
  webhook-service/lib/secret_reader_test.go
Due: api, cli, resource-service, distributor, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

remove unneeded triggery of deliver sequence
  test/go-tests/test_sshpublickeyauth.go
Due: none

chore: Remove reference to removed test
  test/go-tests/testsuite_gke_test.go
Due: none

chore: Remove reference to removed test (#8369)
  test/go-tests/testsuite_gke_test.go
Due: none

Added sequence-state-list component to dashboard-view
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.module.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.scss
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.module.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-sequence-state-list/ktb-sequence-state-list.component.ts
Due: bridge2

remove GracefulShutdown reference
  test/go-tests/testsuite_gke_test.go
Due: none

Formatted app.module.ts
  bridge/client/app/app.module.ts
Due: bridge2

build(deps): Update keptn/go-utils to 488b35611b56cb1986d721a6c912226a7049acda
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore(bridge): Remove unused service page env var (#8356)
  bridge/deploy/service.yaml
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
Due: bridge2, bridge-server

build(deps): update golang.org/x/net digest to 1185a90
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update module github.com/invopop/jsonschema to v0.5.0
  cli/go.mod
  cli/go.sum
Due: cli

test: use `T.Setenv` to set env vars in tests (#8366)
  api/handlers/event_test.go
  api/handlers/metadata_test.go
  api/importer/execute/keptn_endpoints_test.go
  api/middleware/tokenauth_test.go
  api/restapi/configure_keptn_test.go
  cli/cmd/add_resource_test.go
  cli/cmd/get_event_approvalTriggered_test.go
  cli/cmd/get_event_test.go
  cli/cmd/root_test.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/cmd/trigger_delivery_test.go
  cli/cmd/trigger_sequence_test.go
  distributor/pkg/config/envconfig_test.go
  helm-service/pkg/helm/generated_chart_handler_test.go
  helm-service/pkg/mesh/ingress_config_test.go
  jmeter-service/jmeterUtils_test.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/event_handler/start_evaluation_handler_test.go
  mongodb-datastore/restapi/configure_mongodb_datastore_test.go
  resource-service/common/credentials_test.go
  secret-service/pkg/common/utils_test.go
  shipyard-controller/common/keptn_helpers_test.go
  statistics-service/controller/statistics_test.go
  statistics-service/db/statistics_mongodb_repo_test.go
  webhook-service/lib/secret_reader_test.go
Due: api, cli, resource-service, distributor, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

remove security fixes
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

revert
  installer/manifests/keptn/values.yaml
Due: none

only trigger on schedule and manually
  .github/workflows/security-scans.yml
Due: none

feat(api): Add create-secret api action to Import endpoint
  api/deploy/service.yaml
  api/importer/execute/default_api.go
  api/importer/execute/default_api_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/executor_mock.go
  api/importer/execute/keptn_endpoints.go
  installer/manifests/keptn/templates/api-service.yaml
Due: api

refactor(api): Apply suggestions from review
  api/importer/execute/default_api.go
  api/importer/execute/default_api_test.go
  api/importer/execute/executor.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
Due: api

fix(cli): Fix broken xref in CLI command reference docs
  cli/cmd/configure_monitoring.go
Due: cli

call t.Parallel() in some tests
  test/go-tests/test_backuprestore.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_customendpoints.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
  test/go-tests/test_uniform.go
  test/go-tests/test_webhook.go
Due: none

fix(cli): Fix broken xref in CLI command reference docs (#8374)
  cli/cmd/configure_monitoring.go
Due: cli

fix(installer): Remove configuration service from airgapped installer scripts
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): update module github.com/stretchr/testify to v1.8.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

chore(bridge): Remove loading of integrations on common-use-case page (#8344)
  bridge/angular.json
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.ts
  bridge/deploy/service.yaml
  bridge/package.json
  bridge/server/api/index.ts
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  bridge/yarn.lock
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

fix(installer): Remove configuration service from airgapped installer scripts (#8376)
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): update dependency highcharts to v9 [security]
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
