Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

some last changes to echo messages
  gh-actions-scripts/build-helm-charts.sh
Due: none

debugdocs env variable
  shipyard-controller/debugdocs/docs.md
Due: none

remove random change
  installer/manifests/keptn/Chart.yaml
Due: none

remove comment
  shipyard-controller/models/sequence_execution.go
Due: shipyard-controller

fix failing test
  secret-service/pkg/backend/secretbackend_k8s.go
Due: secret-service

feat(bridge): Improve the logging on the Bridge server - Extend component logger with a default log level - Extend configuration - Add unit test
  bridge/server/interfaces/configuration.ts
  bridge/server/server.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  bridge/server/utils/logger.spec.ts
  bridge/server/utils/logger.ts
Due: bridge2, bridge-server

test changes in go-utils
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: distributor, approval-service, lighthouse-service, remediation-service, webhook-service

fix failing test and increase coverage
  secret-service/pkg/backend/secretbackend_k8s_test.go
Due: secret-service

fix according to review
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Add issue generation to ZD Test pipeline (#8395)
  .github/workflows/zero-downtime-tests.yml
Due: none

add public key to repo, add public key to releases and pre-releases
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  assets/pubring.gpg
Due: none

additional uni tests
  shipyard-controller/models/sequence_execution_test.go
Due: shipyard-controller

add section to readme about helm provenance
  README.md
Due: none

showcase run
  .github/workflows/build-helm-charts.yml
  installer/manifests/keptn/Chart.yaml
Due: none

revert
  .github/workflows/build-helm-charts.yml
  installer/manifests/keptn/Chart.yaml
Due: none

feat: Add query parameters to GET secret endpoint (#8732)
  secret-service/deploy/service.yaml
  secret-service/docs/docs.go
  secret-service/docs/swagger.json
  secret-service/docs/swagger.yaml
  secret-service/pkg/backend/fake/secretbackend_mock.go
  secret-service/pkg/backend/secretbackend.go
  secret-service/pkg/backend/secretbackend_k8s.go
  secret-service/pkg/backend/secretbackend_k8s_test.go
  secret-service/pkg/handler/secrethandler.go
  secret-service/pkg/handler/secrethandler_test.go
  secret-service/pkg/model/secret.go
Due: secret-service

revert to gotestsum 1.7.0
  .github/workflows/CI.yml
Due: none

fix(shipyard-controller): Fail sequence when receiving invalid status (#8612)
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/main_test.go
  shipyard-controller/models/sequence_execution.go
  shipyard-controller/models/sequence_execution_test.go
Due: shipyard-controller

add go mod tidy
  .github/workflows/CI.yml
Due: none

revert changes
  .github/workflows/CI.yml
Due: none

updated dependencies
  cli/go.mod
  cli/go.sum
Due: cli

pr review
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/config/envconfig.go
  shipyard-controller/main.go
Due: shipyard-controller

screenshots
  shipyard-controller/debugdocs/dbdump.png
  shipyard-controller/debugdocs/debugui.png
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/debugdocs/viewevents.png
Due: shipyard-controller

documentation & feature flag
  shipyard-controller/Dockerfile
  shipyard-controller/debugdocs/docs.go
  shipyard-controller/debugdocs/docs.md
  shipyard-controller/debugdocs/swagger.json
  shipyard-controller/debugdocs/swagger.yaml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

introduce helm value
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

feat(shipyard-controller): Add dbdump endpoint to the Debug-UI (#8618)
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.css
  shipyard-controller/debug-ui/index.html
  shipyard-controller/internal/db/mock/dbdump_mock.go
  shipyard-controller/internal/db/mongodb_dbdump_repo.go
  shipyard-controller/internal/db/mongodb_dbdump_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

build(deps): update kubernetes packages to v0.22.13
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update golang docker tag to v1.19.0
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

go mod tidy
  api/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

add cli
  cli/go.mod
  cli/go.sum
Due: cli

Update gh-actions-scripts/build-helm-charts.sh
  gh-actions-scripts/build-helm-charts.sh
Due: none

Update .github/workflows/pre-release.yml
  .github/workflows/pre-release.yml
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

chore(installer): Bump MongoDB version
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-11.1.10.tgz
  installer/manifests/keptn/charts/mongodb-13.1.1.tgz
Due: none

upgradeStrategy back to Recreate
  installer/manifests/keptn/values.yaml
Due: none

docs
  installer/manifests/keptn/README.md
Due: none

upgrade to mongo 5 first
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-12.1.31.tgz
  installer/manifests/keptn/charts/mongodb-13.1.1.tgz
Due: none

docs
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update golang.org/x/crypto digest to 5757bc0
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service
