Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty (#8604)
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

Document test cases and remove code duplication
  test/go-tests/test_importer_test.go
Due: none

Added additional ui test
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

Implemented requested changes
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.spec.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.utils.spec.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

Added unit tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.module.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
Due: bridge2

Removed code smell
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
Due: bridge2

build(deps): update typescript-eslint monorepo to v5.33.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Fixed unit tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
Due: bridge2

test(shipyard-controller): Validator should be ignored when Provisioner is used
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

use custom error type and http code
  api/handlers/event.go
  api/handlers/event_test.go
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
  api/models/import_summary.go
  api/restapi/embedded_spec.go
  api/restapi/operations/event/post_event.go
  api/restapi/operations/event/post_event_responses.go
  api/restapi/operations/metadata/metadata.go
  api/restapi/server.go
  api/swagger.yaml
Due: api

Changed span to button and added loading-indicator
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/client/assets/default-branding/keptn-theme.css
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

test(shipyard-controller): Validator should be ignored when Provisioner is used (#8610)
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix: log.Fatal will call os.Exit, use log.Println instead (#8492)
  helm-service/main.go
Due: helm-service

added size limit handler
  api/handlers/eventvalidation.go
  api/middleware/sizelimiter.go
  api/middleware/sizelimiter_test.go
  api/restapi/configure_keptn.go
Due: api

Added additional unit tests. Code cleaning/refactoring
  bridge/client/app/_services/_mockData/sequence-execution-result.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/shared/interfaces/sequence-execution-result.ts
  bridge/shared/models/status-types.ts
Due: bridge2

Fixed UI tests, adapted SLI breakdown
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.module.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluation.compared.event.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

Added deletionProgressEvent call to beginning of deleteSubscription method
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

added validation for triggered id
  api/handlers/event_test.go
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
Due: api

cleanup
  api/restapi/configure_keptn.go
Due: api

feat(bridge): Add delete section to subscription edit page (#8548)
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.spec.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.utils.spec.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.utils.ts
  bridge/client/app/_interfaces/delete.ts
  bridge/client/app/_services/event.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

feat(api): Importer manifest validation (#8508)
  api/handlers/zip_package.go
  api/handlers/zip_package_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/fake/package_processor_mock.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/test/data/import/sample-package/manifest.yaml
Due: api

pr fixes v4
  shipyard-controller/debug-ui/blocking.html
  shipyard-controller/debug-ui/fetch_blockingsequences.js
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
Due: shipyard-controller

chore(bridge): Separate run of client and server (dev)
  bridge/README.md
  bridge/angular.json
  bridge/package.json
  bridge/proxy.config.json
  bridge/server/nodemon.json
Due: bridge2, bridge-server

single slash
  shipyard-controller/debug-ui/blocking.html
Due: shipyard-controller

refactor(bridge): Split environment-details component (#8605)
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.module.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.module.ts
  bridge/client/app/_interfaces/evaluation-history.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.spec.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluation.compared.event.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/shared/models/trace.ts
Due: bridge2

Fixed problem with navigation to wrong stage. Sorted stages inside data-service on bridge server
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/sequence-execution-result.ts
Due: bridge2, bridge-server

chore(bridge): Separate run of client and server (dev) (#8613)
  bridge/README.md
  bridge/angular.json
  bridge/package.json
  bridge/proxy.config.json
  bridge/server/nodemon.json
Due: bridge2, bridge-server

handle more event types
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
Due: api

Fixed unit and ui tests
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/cypress/integration/sequences.spec.ts
Due: bridge2

feat(shipyard-controller): Add getBlockingSequences endpoint to the Debug-UI (#8564)
  shipyard-controller/debug-ui/blocking.html
  shipyard-controller/debug-ui/fetch_blockingsequences.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/handler/loghandler_test.go
  shipyard-controller/internal/routing/debugcontroller.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null (#8601)
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null (#8600)
  shipyard-controller/db/mongodb_uniform_repo.go
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null (#8598)
  shipyard-controller/db/mongodb_uniform_repo.go
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

Change function signature and add EOLs
  test/assets/import/invalid-package/api/create-secret.json
  test/assets/import/invalid-package/api/create-service.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/input.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  test/assets/import/sample-package/api/create-secret.json
  test/assets/import/sample-package/api/create-service.json
  test/go-tests/test_importer_test.go
  test/go-tests/test_utils.go
Due: none

cleanup
  api/handlers/eventvalidation.go
Due: api

Fixed server ui tests
  bridge/server/test/sequence-filter.spec.ts
Due: bridge2, bridge-server

build(deps): update dependency @dynatrace/barista-components to v10.7.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency cypress to v10.4.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

debug ui db dump endpoint
  shipyard-controller/debug-ui/index.css
  shipyard-controller/debug-ui/index.html
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller
