Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: fix .release-please-manifest.json
  .release-please-manifest.json
Due: none

ci: fix .release-please-manifest.json (#9177)
  .release-please-manifest.json
Due: none

Fix linting issues
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
Due: bridge2

chore(lighthouse-service): Clean up logs (#9169)
  lighthouse-service/event_handler/configure_monitoring_handler.go
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/start_evaluation_handler.go
Due: lighthouse-service

chore(approval-service): Clean up logs (#9171)
  approval-service/pkg/handler/approval_triggered_event_handler.go
  approval-service/pkg/handler/handler.go
Due: approval-service

Fixed error-interceptor unit tests
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
Due: bridge2

log errors at top most level
  mongodb-datastore/db/mongodb_event_repo.go
  mongodb-datastore/handlers/events.go
Due: mongodb-datastore

chore(mongodb-datastore): Clean up logs (#9170)
  mongodb-datastore/db/mongodb_connection.go
  mongodb-datastore/db/mongodb_event_repo.go
  mongodb-datastore/handlers/events.go
Due: mongodb-datastore

chore(resource-service): Clean up logs (#9172)
  resource-service/common/files.go
  resource-service/common/git.go
  resource-service/handler/project_manager.go
  resource-service/main.go
Due: resource-service

chore(shipyard-controller): Clean up logs/errors (#9167)
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/shipyardcontroller.go
Due: shipyard-controller

chore(webhook-service): Clean up logs (#9176)
  webhook-service/handler/handler.go
  webhook-service/lib/denylist_provider.go
  webhook-service/lib/ip_resolver.go
  webhook-service/main.go
Due: webhook-service

chore(secret-service): Clean up logs (#9175)
  secret-service/pkg/backend/secretbackend_k8s.go
Due: secret-service

chore(api): Clean up logs/errors (#9168)
  api/handlers/event.go
  api/handlers/metadata.go
  api/middleware/tokenauth.go
Due: api

fix github handle
  MAINTAINERS
Due: none

chore: github handle in MAINTAINERS (#9179)
  MAINTAINERS
Due: none

build(deps): update amannn/action-semantic-pull-request digest to 0b14f54
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.24.2
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update google-github-actions/auth action to v1
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

chore(bridge): Improve Bridge logging levels and messages
  bridge/server/api/index.ts
  bridge/server/app.ts
  bridge/server/server.ts
  bridge/server/services/api-service.ts
  bridge/server/user/oauth-routes.ts
  bridge/server/user/session.ts
Due: bridge2, bridge-server

build(deps): update google-github-actions/setup-gcloud action to v1
  .github/workflows/zero-downtime-tests.yml
Due: none

Pretty Printing objects
  bridge/server/services/api-service.ts
Due: bridge2, bridge-server

linting
  bridge/server/services/api-service.ts
Due: bridge2, bridge-server

fix(shipyard-controller): Avoid nil pointer exception when modifying project response
  shipyard-controller/internal/handler/projectmanager.go
Due: shipyard-controller

added unit test
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix(shipyard-controller): Avoid nil pointer when modifying project response (#9188)
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

chore(bridge): Unify logs
  bridge/server/app.ts
Due: bridge2, bridge-server

Use headers
  bridge/server/app.ts
Due: bridge2, bridge-server

fix(bridge): Fix invalid evaluation score status
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
Due: bridge2

build(deps): update google-github-actions/get-gke-credentials action to v1
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(bridge): Fix invalid evaluation score status (#9191)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
Due: bridge2

fix(lighthouse-service): set displayname and targets of SLO with no related value
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

include targetValues also when there are no values returned for an SLI
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

fix(lighthouse-service): Include SLO Display Name also when there is no SLI value available (#9194)
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

build(deps): update golang docker tag to v1.18.8
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

ci: add govulncheck to the existing security scans
  .github/workflows/security-scans.yml
Due: none

ci: add govulncheck to the existing security scans (#9197)
  .github/workflows/security-scans.yml
Due: none

fix(bridge): Fix navigation to blocking sequence
  bridge/client/app/_services/_mockData/sequence-filter.mock.ts
  bridge/client/app/_services/_mockData/sequences.mock.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/intercept.ts
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
