Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

- Remove unnecessary code
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

build(deps): update dependency @cypress/schematic to v2.0.3
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

update per review
  cli/cmd/configure_monitoring.go
Due: cli

fix(cli): remove outdated example
  cli/cmd/configure_monitoring.go
Due: cli

build(deps): update dependency @types/node to v14.18.24
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency @types/marked to v4.0.5
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency ts-jest to v28.0.8
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update typescript-eslint monorepo to v5.33.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update module github.com/kinbiko/jsonassert to v1.1.1
  helm-service/go.mod
  helm-service/go.sum
Due: helm-service

build(deps): update dependency cypress to v10.6.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update module helm.sh/helm/v3 to v3.9.3
  helm-service/go.mod
  helm-service/go.sum
Due: helm-service

- Improve code
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

test: Fix check in secret api integration test (#8691)
  test/go-tests/test_secrets.go
Due: none

feat(api): Better inbound event validation (#8578)
  api/go.mod
  api/go.sum
  api/handlers/event.go
  api/handlers/event_test.go
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
  api/importer/fake/package_processor_mock.go
  api/middleware/sizelimiter.go
  api/middleware/sizelimiter_test.go
  api/restapi/configure_keptn.go
  api/restapi/embedded_spec.go
  api/restapi/operations/event/post_event_responses.go
  api/swagger.yaml
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/values.yaml
Due: api

chore: Improve shipyard-controller logging for better troubleshooting support (#8694)
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher_test.go
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_utils.go
  shipyard-controller/internal/controller/shipyardcontroller_utils_test.go
  shipyard-controller/internal/db/mongodb_event_repo.go
Due: shipyard-controller

fix(resource-service): Determine default branch using HEAD after initial clone (#8696)
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

fix(resource-service): Determine default branch using HEAD after initial clone (#8693)
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

fix(shipyard-controller): Clean up event queue when cancelling a sequence (#8583)
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream (#8676)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

fix(shipyard-controller): Added service to shipyard filter in Event Dispatcher (#8679)
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventdispatcher_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

fix(shipyard-controller): Added shipyard service filter in event dispatcher (#8682)
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventdispatcher_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

fix: Fixed automatic navigation to latest stage
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

fix(shipyard-controller): Clean up event queue when cancelling a sequence (#8583)
  shipyard-controller/main.go
Due: shipyard-controller

Refactored UI tests
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

fix(shipyard-controller): Clean up event queue when cancelling a sequence (#8715)
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

fix(shipyard-controller): Clean up event queue when cancelling a sequence (#8716)
  shipyard-controller/main.go
Due: shipyard-controller

fix(shipyard-controller): Clean up event queue when cancelling a sequence (#8717)
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

- Add code review suggestions
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.ts
  bridge/client/app/_models/uniform-registration.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/uniform-registration.ts
Due: bridge2, bridge-server

feat(cli): Use sh.keptn.event.configure-monitoring.triggered instead of sh.keptn.event.monitoring.configure for keptn configure monitoring CLI command
  cli/cmd/configure_monitoring.go
Due: cli

added fix and logs
  shipyard-controller/internal/controller/eventdispatcher_test.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
Due: shipyard-controller

test: fixed test
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
Due: shipyard-controller

test: fixed test
  shipyard-controller/internal/controller/eventdispatcher_test.go
Due: shipyard-controller

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream (#8713)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

fix: rebased master
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
Due: shipyard-controller
