Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(resource-service): Compute git auth method once per API request (#8824)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

feat(cli): Introduce `--data` option for `trigger sequence` command (#8830)
  cli/cmd/trigger_sequence.go
  cli/cmd/trigger_sequence_test.go
  cli/internal/textutils.go
  cli/internal/textutils_test.go
Due: cli

templating improvements for readability
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

fix(resource-service): Map go-git specific error types to Keptn error types understood by the resource service error handler (#8849)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/handler/common.go
  resource-service/handler/project_resource_handler_test.go
  resource-service/handler/service_resource_handler_test.go
  resource-service/handler/stage_resource_handler_test.go
Due: resource-service

fix(webhook-service): RAdd warning for malformed configuration (#8841)
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

fix(resource-service): Determine default branch from helm value when repository is not initialized (#8843)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/config/config.go
  resource-service/config/config_test.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: resource-service

feat: Introduce tolerations and affinities for helm charts
  installer/manifests/keptn/values.yaml
Due: none

fix(resource-service): Determine default branch from helm value when repository is not initialized (#8843)
  installer/manifests/keptn/README.md
Due: none

feat: Introduce tolerations and affinities for helm charts
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

regenerate README.md
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

Update usage comments
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

Optimize variable assignment
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

set empty default values
  installer/manifests/keptn/values.yaml
Due: none

update README.md
  installer/manifests/keptn/README.md
Due: none

Resolve conflict of antiAffinity and affinity between service and default configuration
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

pass component variable to inner functions
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/values.yaml
Due: none

Regenerate README.md
  installer/manifests/keptn/README.md
Due: none

regenerate README
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

feat: Introduce tolerations and affinities for helm charts (#8858)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update dependency @types/express to v4.17.14
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update golang.org/x/exp digest to b168a2c
  api/go.mod
  api/go.sum
Due: api

build(deps): update storybook monorepo to v6.5.12
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update kubernetes packages to v0.22.14
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update dependency @cypress/schematic to v2.1.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore(installer): Improve resource limits/requests
  installer/manifests/keptn/values.yaml
Due: none

go mod tidy
  api/go.sum
Due: api

go mod tidy
  api/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

chore(installer): Improve resource limits/requests (#8862)
  installer/manifests/keptn/values.yaml
Due: none

fix(resource-service): Return specific error in when creating a project with an initialized repository (#8855)
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
Due: resource-service

chore: Fix dependencies with go mod tidy
  cli/go.mod
  cli/go.sum
  configuration-service/.gitignore
Due: cli

build: Fix dependencies with go mod tidy (#8863)
  cli/go.mod
  cli/go.sum
  configuration-service/.gitignore
Due: cli

chore: Extract and reuse existing workflow steps
  .github/workflows/CI.yml
  .github/workflows/build-docker-images.yml
Due: none

Add debug output for matrix
  .github/workflows/build-docker-images.yml
Due: none

pipeline test
  .github/workflows/CI.yml
  .github/workflows/build-docker-images.yml
Due: none

comment out conditional check
  .github/workflows/CI.yml
Due: none

rename workflow job
  .github/workflows/CI.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
