Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

refactor(bridge): Split environment-details component
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/evaluation-history.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/shared/models/trace.ts
Due: bridge2

adds usr obj to be handled by handler
  webhook-service/handler/handler.go
Due: webhook-service

Update MAINTAINERS
  MAINTAINERS
Due: none

chore: Add @agardnerIT as Keptn member (#8563)
  MAINTAINERS
Due: none

build(deps): update dependency @babel/core to v7.18.10
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/node to v14.18.23
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fix: log.Fatal will call os.Exit, use log.Println instead
  helm-service/main.go
Due: helm-service

feat: Introduce automaticProvisioning.hideURL helm value
  cli/go.mod
  cli/go.sum
  cli/internal/projectcreator/projectcreator.go
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
  shipyard-controller/main_test.go
Due: cli, shipyard-controller

adds testcase for usr obj
  webhook-service/lib/webhook_config.go
  webhook-service/lib/webhook_config_test.go
Due: webhook-service

feat(bridge): Add `user` obj to webhook integration
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

added test
  shipyard-controller/main_test.go
Due: shipyard-controller

Fixed bugs and UI tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_services/api.service.ts
Due: bridge2

pr fixes v3
  shipyard-controller/debug-ui/fetch_blockingsequences.js
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

Adapted and added unit tests
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.spec.ts
  bridge/client/app/_services/data.service.spec.ts
Due: bridge2

build(deps): update dependency eslint-plugin-jsdoc to v39.3.4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency golang to v1.18.5
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

build(deps): update dependency helmet to v5.1.1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency zone.js to v0.11.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

additional checks to validator
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty (#8573)
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

additional mode changes
  shipyard-controller/internal/db/migration/project_credentials_migration_test.go
  shipyard-controller/internal/db/project_credentials_repo.go
  shipyard-controller/internal/db/project_credentials_repo_test.go
  shipyard-controller/internal/db/secret_credentials_repo.go
  shipyard-controller/internal/db/secret_credentials_repo_test.go
Due: shipyard-controller

Fixed and added UI tests
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

feat(bridge): Improve indicator result score visualization (#8572)
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.scss
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/sli-result.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null (#8575)
  shipyard-controller/db/mongodb_uniform_repo.go
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null (#8575)
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

Removed code duplicates
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.utils.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

ci: add rule to deny .only
  bridge/.eslintrc.json
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Update templating syntax in invalid package
  test/assets/import/invalid-package/api/create-service.json
  test/assets/import/invalid-package/api/create-subscription.json
Due: none

Add additional unit tests for new functions
  api/handlers/zip_package_test.go
  api/importer/execute/executor_test.go
  api/importer/package_processor_test.go
Due: api

ci: add rule to deny .only (#8562)
  bridge/.eslintrc.json
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update actions/cache action to v3.0.6
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

Change test results
  api/handlers/zip_package_test.go
Due: api

Change Process return type to match master branch
  api/importer/package_processor.go
Due: api

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty (#8597)
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
