Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix shippy connection
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix mongodb datastore connection
  installer/manifests/keptn/templates/mongodb-datastore.yaml
Due: none

fix(installer): Respect MongoDB name override correctly (#9471)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-13.6.2.tgz
  installer/manifests/keptn/charts/mongodb-13.6.3.tgz
  installer/manifests/keptn/charts/nats-0.19.4.tgz
  installer/manifests/keptn/charts/nats-0.19.5.tgz
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

test: remove unexisting tests from testsuites
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

test: remove unexisting tests from testsuites (#9473)
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

fix(installer): Fix Nginx not handling 429 correctly
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

add comment
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix(installer): Fix Nginx not handling 429 correctly (#9475)
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

build(deps): update kubernetes packages to v0.25.6
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module github.com/swaggo/swag to v1.8.10
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

build(deps): update golang.org/x/exp digest to a67bb56
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
Due: api

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update anchore/sbom-action action to v0.13.3
  .github/workflows/release.yml
Due: none

build(deps): update actions/github-script action to v6.4.0
  .github/workflows/integration_tests.yml
Due: none

docs: added my name as this is my first contribution to keptn (#9482)
  CONTRIBUTORS.md
Due: none

docs: fixed hyperlink to the correct contributing.md (#9482)
  docs/developer/README.md
Due: none

docs: hyperlink to `contributing.md` fixed (#9483)
  CONTRIBUTORS.md
  docs/developer/README.md
Due: none

Added redirectUrlComposer()
  cli/internal/auth/oauth.go
Due: cli

build(deps): update ludeeus/action-shellcheck action to v2
  .github/workflows/shellcheck.yml
Due: none

feat(cli): Customizable Keptn CLI OAuth Login port (#9393)
  cli/cmd/auth.go
  cli/internal/api.go
  cli/internal/auth/mocks.go
  cli/internal/auth/oauth.go
  cli/internal/auth/oauth_test.go
  cli/internal/auth/redirect.go
Due: cli

build(deps): update actions/cache action to v3.2.4
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(lighthouse-service): inconsistent behavior when SLI provider returns warning
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/main_test.go
Due: lighthouse-service

fail evaluation when key sli does not get any value
  lighthouse-service/event_handler/evaluate_sli_handler.go
Due: lighthouse-service

polishing error mesasges
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

polishing vol2
  lighthouse-service/event_handler/evaluate_sli_handler.go
Due: lighthouse-service

unit tests for calculate score
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

fix(bridge): Fixed prefix path
  bridge/client/app/_utils/app.utils.ts
  bridge/client/app/app.module.ts
Due: bridge2

additional unit tests
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

minor fix integration tests
  test/go-tests/test_qualitygate.go
Due: none

polishing
  lighthouse-service/event_handler/evaluate_sli_handler.go
Due: lighthouse-service

fix prefix for log endpoint
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

Added missing prefix to auth requests
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix instegration tests
  test/go-tests/test_qualitygate.go
Due: none

fix(bridge): Fixed prefix path (#9497)
  bridge/client/app/_utils/app.utils.ts
  bridge/client/app/app.module.ts
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: bridge2

fix integration tests
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/main_test.go
Due: lighthouse-service

pr review - make KeySLI struct unexported
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

fix(lighthouse-service): inconsistent behavior when SLI provider returns warning (#9495)
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  test/go-tests/test_qualitygate.go
Due: lighthouse-service

chore: update docker cleanup script to also clean 2022 and 2023 images
  gh-actions-scripts/cleanup_docker_images.sh
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
