Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fixed unit tests
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

reverted tsconfig change
  bridge/tsconfig.json
Due: bridge2

ci: Change StaleBot configuration (#8415)
  .github/stale.yml
Due: none

check if we can disable the experimental flag
  bridge/server/package.json
Due: bridge2, bridge-server

chore(bridge): Removed obsolete common use cases page
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.spec.ts
  bridge/cypress/support/pageobjects/SettingsPage.ts
Due: bridge2

feat(bridge): Add ktb-chart - Add new chart component using D3
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.scss
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.html
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.scss
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

added unit tests, fixed flaky uniform integration test
  bridge/client/app/_models/project.mock.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
  bridge/shared/fixtures/service-state-response.mock.ts
  bridge/tsconfig.app.json
  bridge/tsconfig.json
  bridge/tsconfig.spec.json
Due: bridge2

adjust nats security settings
  installer/manifests/keptn/values.yaml
Due: none

disable nats prometheus exporter
  installer/manifests/keptn/values.yaml
Due: none

sequence execution endpoint
  shipyard-controller/db/mock/eventrepo_mock.go
  shipyard-controller/db/mock/sequenceexecution_mock.go
  shipyard-controller/db/mock/sequencestaterepo_mock.go
  shipyard-controller/db/mock/uniformrepo_mock.go
  shipyard-controller/db/mongodb_log_repo.go
  shipyard-controller/db/mongodb_log_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/models/api/sequence_execution.go
  shipyard-controller/models/log.go
  shipyard-controller/models/pagination.go
Due: shipyard-controller

more security improvements
  installer/manifests/keptn/values.yaml
Due: none

readonlyrootfilesystem
  installer/manifests/keptn/values.yaml
Due: none

removed unused variable
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.ts
Due: bridge2

build(deps): update kubernetes packages to v0.24.3
  api/go.mod
  helm-service/go.mod
  lighthouse-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  webhook-service/go.mod
Due: api, resource-service, helm-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

try running as user 10001
  installer/manifests/keptn/values.yaml
Due: none

add fsgroup to nats security context
  installer/manifests/keptn/values.yaml
Due: none

feat(api): Upload resources from import package
  api/handlers/project_checker.go
  api/handlers/project_retriever.go
  api/handlers/project_retriever_test.go
  api/importer/execute/default_api.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/executor_mock.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
  api/importer/execute/resource.go
  api/importer/execute/resource_test.go
  api/importer/execute/utils.go
  api/importer/fake/package_processor_mock.go
  api/importer/fake/stage_retriever_mock.go
  api/importer/model/execute.go
  api/importer/model/manifest.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/restapi/configure_keptn.go
Due: api

add resource limits and requests to nats
  installer/manifests/keptn/values.yaml
Due: none

test: Remove unneeded executions of full delivery sequences (#8368)
  test/go-tests/test_backuprestore.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sshpublickeyauth.go
  test/go-tests/test_uniform.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
Due: none

wire up sequence execution endpoint
  shipyard-controller/controller/sequenceexecutioncontroller.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/main.go
  shipyard-controller/models/api/sequence_execution.go
Due: shipyard-controller

adjust gitea values
  test/assets/gitea/values.yaml
Due: none

enable mysql
  test/assets/gitea/values.yaml
Due: none

revert back to postgres but disable memcached
  test/assets/gitea/values.yaml
Due: none

revert more stuff
  test/assets/gitea/values.yaml
Due: none

chore: Fix instructions to install master
  docs/developer/install_master.md
Due: none

docs: Fix instructions to install master (#8429)
  docs/developer/install_master.md
Due: none

refactoring: Pagination structs
  shipyard-controller/db/mongodb_event_repo.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/models/events.go
Due: shipyard-controller

refactoring: Pagination structs
  shipyard-controller/handler/loghandler_test.go
Due: shipyard-controller

chore(bridge): Enable resource-service by default
  bridge/deploy/service.yaml
  bridge/server/feature-flags.ts
Due: bridge2, bridge-server

feat(installer): More Security Improvements for NATS (#8421)
  installer/manifests/keptn/values.yaml
  test/assets/gitea/values.yaml
Due: none

chore: Fix ZeroDowntime registry
  .github/workflows/zero-downtime-tests.yml
  test/zero-downtime/testsuite_zerodowntime_test.go
Due: none

chore: Fix ZeroDowntime registry (#8434)
  .github/workflows/zero-downtime-tests.yml
  test/zero-downtime/testsuite_zerodowntime_test.go
Due: none

build(deps): update actions/cache action to v3.0.5
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix test and build
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/models/pagination.go
Due: shipyard-controller

fixed parameter binding
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/handler/sequenceexecutionhandler.go
Due: shipyard-controller

adapt tests
  bridge/server/test/bridge-info.spec.ts
Due: bridge2, bridge-server

first unit tests
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
Due: cli

first version without migration
  cli/cmd/migrate_webhooks.go
  cli/go.mod
  cli/go.sum
Due: cli

fixed integration test to be more general
  test/go-tests/test_webhook_migration.go
Due: none
