Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(installer): Remove duplicate volumes and volumeMounts configuration
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

feat(resource-service): Move history of previous upstream to new upstream (#8947)
  resource-service/common/credentials.go
  resource-service/common/credentials_test.go
  resource-service/common/fake/git_mock.go
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager_test.go
  resource-service/handler/service_manager_test.go
  resource-service/models/project.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: resource-service, shipyard-controller

fix(installer): Remove duplicate volumes and volumeMounts configuration (#8949)
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix(installer): Remove duplicate volumes and volumeMounts configuration (#8950)
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

ci: Exclude unnecessary rules in KICS config
  .github/kics-config.yml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

add more exceptions
  .github/kics-config.yml
Due: none

update README.md
  installer/manifests/keptn/README.md
Due: none

build(deps): update golang docker tag to v1.18.7
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

disable tests
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3d_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

add issue creation to workflow
  .github/workflows/security-scans.yml
Due: none

add missing newline
  .github/workflows/security-scans.yml
Due: none

only use label critical
  .github/workflows/security-scans.yml
Due: none

adapt execution schedule
  .github/workflows/security-scans.yml
Due: none

update comment
  .github/workflows/security-scans.yml
Due: none

fix(shipyard-controller): prevent storing empty ssh private key after update
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix unit test
  shipyard-controller/internal/handler/projectmanager.go
Due: shipyard-controller

refactoring
  shipyard-controller/internal/handler/projectmanager.go
Due: shipyard-controller

fix test
  shipyard-controller/internal/handler/projectmanager.go
Due: shipyard-controller

fix(shipyard-controller): prevent storing empty ssh private key after update (#8959)
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

exclude additional low risk results
  .github/kics-config.yml
Due: none

fix projects in url provisioning tests
  test/go-tests/test_provisioningURL.go
Due: none

remove some test clusters
  .github/workflows/integration_tests.yml
Due: none

add another cluster for testing
  .github/workflows/integration_tests.yml
Due: none

enable debug logs
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
Due: none

fix: added few logs and modified shippy deployment for debug
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/handler/projectmanager.go
Due: shipyard-controller

adjust matrix ordering
  .github/workflows/integration_tests.yml
Due: none

only run ssh public key auth test
  test/go-tests/testsuite_gke_test.go
Due: none

fix: added few logs and modified shippy deployment for debug
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/handler/projecthandler.go
Due: shipyard-controller

add back debugging changes
  test/go-tests/test_provisioningURL.go
Due: none

add 1.21 cluster
  .github/workflows/integration_tests.yml
Due: none

add 2 more clusters for testing
  .github/workflows/integration_tests.yml
Due: none

enable debug logs
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

add timeout settings to gateway
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

add other clusters
  .github/workflows/integration_tests.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
