Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: Upgrade k3s and k3d setups to newer versions
  .github/workflows/integration_tests.yml
Due: none

Undo testing changes
  bridge/Dockerfile
Due: none

ci: Cache Cypress files (#8925)
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): Update k8s packages to v0.24.6 (#8924)
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

chore(bridge): Remove Highcharts (#8922)
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.scss
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart-legacy/ktb-evaluation-chart-legacy.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.module.ts
  bridge/client/app/_models/evaluation-chart-item.ts
  bridge/client/app/_models/heatmap-options.ts
  bridge/client/app/_models/heatmap-series-options.ts
  bridge/client/app/_models/trace.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/_mockData/evaluation-chart-item.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/package.json
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  bridge/stories/components/Header.stories.ts
  bridge/stories/components/Mockup.stories.ts
  bridge/yarn.lock
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

build(deps): update kubernetes packages to v0.25.2
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update docker.io/nginxinc/nginx-unprivileged docker tag to v1.23.1
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update actions/cache action to v3.0.10
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Upgrade k3s and k3d integration test clusters (#8872)
  .github/workflows/integration_tests.yml
Due: none

update readme
  installer/manifests/keptn/README.md
Due: none

build(deps): update module go.mongodb.org/mongo-driver to v1.10.2
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service

build(deps): update golang.org/x/exp digest to 540bb73
  api/go.mod
  api/go.sum
Due: api

build(deps): update dependency @types/lodash to v4.14.186
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix deps
  statistics-service/go.sum
Due: statistics-service

fix deps
  shipyard-controller/go.sum
Due: shipyard-controller

upgrade image in airgapped installer
  installer/airgapped/pull_and_retag_images.sh
Due: none

fix deps
  api/go.sum
Due: api

build(deps): update dependency @babel/core to v7.18.13
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @babel/core to v7.19.3
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix(shipyard-controller): Do not validate gitCredentials when not set during project update
  shipyard-controller/go.sum
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix(shipyard-controller): Do not validate gitCredentials when not set during project update
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix(shipyard-controller): Do not validate gitCredentials when not set during project update (#8935)
  shipyard-controller/go.sum
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

fix(shipyard-controller): Do not validate gitCredentials when not set during project update (#8939)
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: shipyard-controller

docs: Add info about auto-signoff
  CONTRIBUTING.md
Due: none

ci: Use backup integration test clusters (#8921)
  .github/workflows/integration_tests.yml
Due: none

build(deps): update dependency openid-client to v5.1.10
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency rxjs to v7.5.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

additional tests
  resource-service/handler/project_manager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: resource-service, shipyard-controller

feat(resource-service): Move history of previous upstream to new upstream (#8906)
  resource-service/common/credentials.go
  resource-service/common/credentials_test.go
  resource-service/common/fake/git_mock.go
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager_test.go
  resource-service/handler/service_manager_test.go
  resource-service/models/project.go
  shipyard-controller/internal/handler/projectmanager.go
  shipyard-controller/internal/handler/projectmanager_test.go
Due: resource-service, shipyard-controller

build(deps): update module github.com/sirupsen/logrus to v1.9.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(resource-service): Compute git auth method once per API request (#8824)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

feat(resource-service): Compute git auth method once per API request (#8946)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.sum
  distributor/go.sum
  gh-actions-scripts/auto-update-utils.sh
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

added missing function
  resource-service/common/git.go
Due: resource-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
