Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

build(release): 0.19.2 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

fix(shipyard-controller): Return 409 Conflict error response when upstream repository is initialized
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

final version
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix: Updated dependancy
  .github/workflows/integration_tests.yml
Due: none

added unit tests
  resource-service/common/go-git.go
  resource-service/common/go-git_test.go
Due: resource-service

refactor
  shipyard-controller/internal/handler/common.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

pr review
  shipyard-controller/internal/handler/common.go
Due: shipyard-controller

fix: Removed metrics
  .github/workflows/pipeline-queuetime.yml
Due: none

safety net
  shipyard-controller/internal/handler/common.go
Due: shipyard-controller

fix(shipyard-controller): Return 4xx error responses for upstream repository problems (#9116)
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/handler/common.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix: Typo in script
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

fix: Typo in script (#9121)
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

added unit tests
  resource-service/common/gitsuite_test.go
Due: resource-service

added comments, removed obsolete variables
  resource-service/common/go-git.go
  resource-service/config/config.go
Due: resource-service

use alpine 3.16 again
  resource-service/Dockerfile
Due: none

clean up error handling
  resource-service/common/git.go
Due: resource-service

re-add required fetch during checkout
  resource-service/common/git.go
Due: resource-service

fix: Added retry logic
  test/go-tests/test_utils.go
Due: none

fix: 10
  test/go-tests/test_utils.go
Due: none

fix: Removing metric calc
  .github/workflows/CI.yml
  .github/workflows/end-of-pipeline-metrics.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: Removing metric calc
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: Removing queue time calc
  .github/workflows/CI.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pipeline-queuetime.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: JasonEtco/create-an-issue@v2.8.0
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

test: Fix integration test failk3d (#9123)
  test/go-tests/test_utils.go
Due: none

removed fetch before checkout operation and added fetch after clone operation
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

added temp log
  resource-service/common/git.go
Due: resource-service

fix: upgrade openid-client from 5.1.10 to 5.2.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

fix: upgrade mongodb from 4.10.0 to 4.11.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

ci: Remove dynatrace github actions (#9118)
  .github/workflows/CI.yml
  .github/workflows/end-of-pipeline-metrics.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pipeline-queuetime.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

Add missing labels
  installer/manifests/keptn/values.yaml
Due: none

Improve values.yaml
  installer/manifests/keptn/values.yaml
Due: none

chore(installer): Add missing labels in MongoDB and NATs charts (#9130)
  installer/manifests/keptn/values.yaml
Due: none

added tasks for checking service availability
  installer/manifests/keptn/templates/task-definitions.yaml
Due: none

feat: added app.yaml
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/templates/app.yaml
Due: none
