Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: Added downgrade option in ZD
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Add option to check for Zero Downtime Downgrade (#8784)
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Default run to 0.18.x branch
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Default ZD run to 0.18.x branch (#8785)
  .github/workflows/zero-downtime-tests.yml
Due: none

makes sure lighthouse fails only after computing results
  lighthouse-service/event_handler/evaluate_sli_handler.go
Due: lighthouse-service

build(deps): update google-github-actions/auth action to v0.8.1
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

makes sure lighthouse fails only after computing results
  lighthouse-service/deploy/service.yaml
  lighthouse-service/event_handler/evaluate_sli_handler.go
  test/go-tests/test_qualitygate.go
Due: lighthouse-service

makes sure lighthouse fails only after computing results
  lighthouse-service/main_test.go
  test/go-tests/test_qualitygate.go
Due: lighthouse-service

makes sure lighthouse fails only after computing results
  lighthouse-service/main_test.go
Due: lighthouse-service

fix(installer): Normalize 401 responses
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

ci: Changing regex of ZD
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Changing regex of ZD (#8793)
  .github/workflows/zero-downtime-tests.yml
Due: none

docs: Updates Helm value documentation for Keptn Bridge (#8783)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

fix
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

docs(cli): Remove outdated example (#8596)
  cli/cmd/configure_monitoring.go
Due: cli

working version
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

ci: Changing for ZD
  installer/manifests/keptn/values.yaml
Due: none

typo
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

fix(installer): Normalize 401 responses (#8792)
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
Due: none

ci: Changing for ZD
  installer/manifests/keptn/charts/mongodb-12.1.31.tgz
Due: none

fix(lighthouse-service): If getSLI returns result fail make sure lighthouse fails only after computing indicator results (#8786)
  lighthouse-service/deploy/service.yaml
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/main_test.go
  test/go-tests/test_qualitygate.go
Due: lighthouse-service

build(deps): update dependency jest-preset-angular to v12.2.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update amannn/action-semantic-pull-request digest to 4682b17
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update module github.com/go-openapi/swag to v0.22.3
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update module github.com/invopop/jsonschema to v0.6.0
  cli/go.mod
Due: cli

go mod tidy
  cli/go.sum
Due: cli

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update dependency @dynatrace/barista-icons to v7.23.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

ci: Changing sequence test for ZD
  test/zero-downtime/sequences_test.go
Due: none

ci: Changing sequence test for ZD (#8805)
  test/zero-downtime/sequences_test.go
Due: none

chore: Remove unused functions
  test/go-tests/test_utils.go
Due: none

docs(installer): Enhance helm values documentation
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

chore: Remove unused functions (#8806)
  test/go-tests/test_utils.go
Due: none

pr review
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

docs(installer): Enhance helm values documentation (#8807)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
