Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(cli): Fix non deterministic processing of `trigger sequence --data` flag (#9040)
  cli/internal/textutils.go
Due: cli

chore: Improve Shipyard Controller logs when deleting subscription or integration (#9019)
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/main.go
Due: shipyard-controller

fix(bridge): Show correct border color for task items in sequence view
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.scss
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/shared/models/trace.ts
Due: bridge2

feat(bridge): Added autofocus to deletion dialog input field
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.spec.ts
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/cypress/integration/project-delete.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

updated isFinishedEvent to also work for webhook events
  bridge/cypress/fixtures/sequence.traces.mock.json
  bridge/shared/models/trace.ts
Due: bridge2

build(deps): update golang.org/x/exp digest to 2094472
  api/go.mod
  api/go.sum
Due: api

build(deps): update dependency minimist to v1.2.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore: add bradmccoydev as maintainer
  MAINTAINERS
Due: none

address PR feedback
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
Due: none

go mod tidy
  cli/go.mod
  cli/go.sum
Due: cli

go mod tidy
  api/go.sum
Due: api

build(deps): update kubernetes packages to v0.24.7
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

go mod tidy
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update k8s.io/utils digest to cfd413d
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/swaggo/swag to v1.8.7
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service

build(deps): update sigstore/cosign-installer action to v2.8.1
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update dependency eslint-plugin-jsdoc to v39.3.14
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.36.4
  api/go.mod
  api/go.sum
Due: api

build(deps): update dependency @babel/core to v7.19.6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

ci: Fix security scans
  .github/workflows/security-scans.yml
Due: none

ci: Fix security scans (#9072)
  .github/workflows/security-scans.yml
Due: none

build(deps): update test-summary/action action to v2
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update helm release nats to v0.18.2
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update node.js to v19
  bridge/Dockerfile
Due: none

update airgapped installer, remove unneeded images from airgapped installer
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
Due: none

ci: Use new action to get changed files
  .github/workflows/CI.yml
Due: none

adjust output variable name
  .github/workflows/CI.yml
Due: none

debugging
  .github/workflows/CI.yml
Due: none

debugging
  approval-service/Dockerfile
  gh-actions-scripts/auto-update-utils.sh
Due: none

fix issues
  .github/workflows/CI.yml
Due: none

remove debugging changes
  approval-service/Dockerfile
  gh-actions-scripts/auto-update-utils.sh
Due: none

feat(installer): Add initcontainers to prevent installation errors (#8775)
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
  test/go-tests/test_custom_git_branch_name.go
Due: none

ci: Use new action to get changed files (#9077)
  .github/workflows/CI.yml
Due: none

ci: Add release scope to semantic PR checker
  .github/workflows/validate-semantic-pr.yml
Due: none

ci: Add release scope to semantic PR checker (#9078)
  .github/workflows/validate-semantic-pr.yml
Due: none

fix(shipyard-controller): Fixed NilPointerExeption due to typo in SequenceDispatcher
  shipyard-controller/internal/controller/sequencedispatcher.go
Due: shipyard-controller

fix(shipyard-controller): Fixed NilPointerExeption due to typo in SequenceDispatcher (#9079)
  shipyard-controller/internal/controller/sequencedispatcher.go
Due: shipyard-controller

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
