Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

add debug messages
  cli/internal/textutils.go
  cli/internal/textutils_test.go
Due: cli

test: Fix timeout problem in check for sequence state (#9011)
  shipyard-controller/main_test.go
Due: shipyard-controller

build(deps): update dependency @types/node to v14.18.32
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency express to v4.18.2
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update actions/cache action to v3.0.11
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

changed implementation to use find* methods of mongo. Also log warn if deleting entire integration
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

ude gin.Recovery middleware to recover from panics
  shipyard-controller/main.go
Due: shipyard-controller

cleanup
  shipyard-controller/internal/db/mongodb_uniform_repo.go
Due: shipyard-controller

build(deps): update actions/github-script action to v6.3.3
  .github/workflows/integration_tests.yml
Due: none

build(deps): update amannn/action-semantic-pull-request digest to 570204e
  .github/workflows/validate-semantic-pr.yml
Due: none

fix: adds optional to bridge installiation type via helm
  installer/manifests/keptn/templates/core.yaml
Due: none

ci: Replace standard-version with release-please
  .github/workflows/release.yml
  VERSION.txt
  release-please-config.json
Due: none

set trigger for maintenance branches
  .github/workflows/release.yml
Due: none

set default branch
  .github/workflows/release.yml
Due: none

fix typo
  .github/workflows/release.yml
Due: none

pipline optimizations
  .github/workflows/CI.yml
  .github/workflows/release.yml
Due: none

fix pipeline
  .github/workflows/release.yml
Due: none

restore VERSION.txt file
  VERSION.txt
Due: none

remove unused inputs
  .github/workflows/release.yml
Due: none

execute tests on release
  .github/workflows/release.yml
Due: none

replace standard-version with release-please in CI pipeline
  .github/workflows/CI.yml
  VERSION.txt
Due: none

ci: Fix more set-output occurrences
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

fix shellcheck issues
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

ci: Fix more set-output occurrences (#9027)
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

fix: Add `CD` optional to bridge installation type via helm (#9022)
  installer/manifests/keptn/templates/core.yaml
Due: none

fix: Fix default helm value for Bridge use cases
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: none

fix rebase artifact
  installer/manifests/keptn/values.yaml
Due: none

adjust readme
  installer/manifests/keptn/README.md
Due: none

fix(installer): Fix default helm value for Bridge use cases (#9028)
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: none

ci: Replace standard-version with release-please (#8979)
  .github/workflows/CI.yml
  .github/workflows/release.yml
  VERSION.txt
  release-please-config.json
Due: none

ci: Change release-please PR title pattern
  release-please-config.json
Due: none

undo whitespace changes
  release-please-config.json
Due: none

build(deps): update actions/setup-node action to v3.5.1
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/validate-helm-docs.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.24.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update google-github-actions/auth action to v0.8.3
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
