Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(cli): remove obsolete and misleading deprecation message (#9683)
  cli/cmd/get_event_evaluationFinished.go
Due: cli

build(deps): update kubernetes packages to v0.25.10
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module github.com/benbjohnson/clock to v1.3.5
  api/go.mod
  api/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, shipyard-controller

build(deps): update helm release mongodb to v13.15.0
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

Fix community membership 404
  GOVERNANCE.md
Due: none

docs: fix community membership 404 (#9685)
  GOVERNANCE.md
Due: none

build(deps): bump dependencies
  .github/workflows/security-scans.yml
  .github/workflows/validate-semantic-pr.yml
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): bump dependencies (#9693)
  .github/workflows/security-scans.yml
  .github/workflows/validate-semantic-pr.yml
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): bump dependencies
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

bump logrus
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): bump dependencies (#9698)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: bridge/package.json & bridge/yarn.lock to reduce vulnerabilities
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: bridge/server/package.json & bridge/server/yarn.lock to reduce vulnerabilities
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

Delete file
  SECURITY.md
Due: none

chore: delete duplicated security policy file (#9712)
  SECURITY.md
Due: none

Update README.md
  README.md
Due: none

build(deps): Update keptn/go-utils to 4085f3329695274ed263f240c09c64b1fc1a43c0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Upate
  README.md
Due: none

docs: update `ADOPTERS` in README.md (#9718)
  README.md
Due: none

build(deps): Update keptn/go-utils to 5753085f6ad9fbcf090736d8b3ca34d53c9878c5
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Auto-update go-utils to latest version (#9720)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Delete file
  GOVERNANCE.md
Due: none

chore: delete governance file (#9711)
  GOVERNANCE.md
Due: none

docs: fix wrong roadmap link in README (#9658)
  README.md
Due: none

Update .github/workflows/security-scans.yml
  .github/workflows/security-scans.yml
Due: none

ci: remove nats volume from kics scan
  .github/kics-config.yml
Due: none

ci: remove nats volume from kics scan (#9731)
  .github/kics-config.yml
Due: none

ci: pin node image
  bridge/Dockerfile
Due: none

ci(bridge): pin node image (#9735)
  bridge/Dockerfile
Due: none

fix(cli): consider customized config directory when managing credentials
  cli/pkg/config/cli_config.go
  cli/pkg/config/cli_config_test.go
Due: cli

fix(cli): consider customized config directory when managing credentials (#9740)
  cli/pkg/config/cli_config.go
  cli/pkg/config/cli_config_test.go
Due: cli

chore(cli): introduce EOL message
  cli/cmd/root.go
Due: cli

adapt msg
  cli/cmd/root.go
Due: cli

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
