Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

repo test
  shipyard-controller/db/mongodb_event_repo_test.go
  shipyard-controller/db/mongodb_state_repo_test.go
  shipyard-controller/main.go
Due: shipyard-controller

use "New" constructor func name where possible
  shipyard-controller/internal/configurationstore/configurationstore.go
  shipyard-controller/internal/configurationstore/configurationstore_test.go
  shipyard-controller/internal/filereader/filereader.go
  shipyard-controller/internal/provisioner/repository_provisioner.go
  shipyard-controller/internal/provisioner/repository_provisioner_test.go
  shipyard-controller/internal/secretstore/secretstore.go
  shipyard-controller/internal/shipyardretriever/shipyardretriever.go
  shipyard-controller/internal/shipyardretriever/shipyardretriever_test.go
  shipyard-controller/main.go
Due: shipyard-controller

event repo test
  shipyard-controller/db/mongodb_event_repo_test.go
Due: shipyard-controller

regenerated mocks
  shipyard-controller/internal/configurationstore/fake/configurationstore_mock.go
  shipyard-controller/internal/controller/fake/eventdispatcher.go
  shipyard-controller/internal/controller/fake/sequenceaborted.go
  shipyard-controller/internal/controller/fake/sequencedispatcher.go
  shipyard-controller/internal/controller/fake/sequencefinished.go
  shipyard-controller/internal/controller/fake/sequencepause.go
  shipyard-controller/internal/controller/fake/sequencestarted.go
  shipyard-controller/internal/controller/fake/sequencetaskfinished.go
  shipyard-controller/internal/controller/fake/sequencetaskstarted.go
  shipyard-controller/internal/controller/fake/sequencetasktriggered.go
  shipyard-controller/internal/controller/fake/sequencetimeout.go
  shipyard-controller/internal/controller/fake/sequencetriggered.go
  shipyard-controller/internal/controller/fake/sequencewaiting.go
  shipyard-controller/internal/controller/fake/shipyardcontroller.go
  shipyard-controller/internal/controller/fake/subsequencefinished.go
  shipyard-controller/internal/controller/hooks.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/mock/projectmvrepo_mock.go
  shipyard-controller/internal/nats/mock/keptn_nats_handler_mock.go
  shipyard-controller/internal/provisioner/fake/repository_provisioner.go
  shipyard-controller/internal/secretstore/fake/secretstore_mock.go
  shipyard-controller/internal/secretstore/secretstore.go
  shipyard-controller/internal/shipyardretriever/fake/shipyardretriever_mock.go
Due: shipyard-controller

fix(installer): RoleBinding is not installed when not needed for shippy leader election
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

fix env var in shippy
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

pr fixes
  shipyard-controller/handler/debugmanager.go
Due: shipyard-controller

adjust shippy env var
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

also remove role when not needed
  installer/manifests/keptn/templates/rbac.yaml
Due: none

remove default replicas
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix(installer): RoleBinding is not installed if not needed for shippy leader election (#8535)
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

feat(bridge): Speed up unit testing
  bridge/package.json
Due: bridge2

build(release): 0.18.0 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

test(bridge): Speed up unit testing (#8538)
  bridge/package.json
Due: bridge2

feat(bridge): Adapt to code review change requests
  bridge/stories/components/CertificateInput.stories.ts
  bridge/stories/components/Header.stories.ts
Due: bridge2

tests
  shipyard-controller/handler/debughandler_test.go
  shipyard-controller/handler/debugmanager_test.go
Due: shipyard-controller

feat(bridge): Fixes the expandable tile
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.ts
  bridge/stories/components/ExpandableTile.stories.ts
Due: bridge2

fmt.println :)
  shipyard-controller/handler/debughandler_test.go
Due: shipyard-controller

feat(bridge): Fix include/exclude patterns
  bridge/.storybook/tsconfig.json
Due: bridge2

refactor(bridge): Refactor integration view - rx-ify component - improve template - add unit tests
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

fix(bridge): Fix invalid header property for webhook
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

feat(bridge): Fix include/exclude patterns
  bridge/tsconfig.doc.json
Due: bridge2

show key sli failed count info
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
Due: bridge2

adjust UI tests
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
Due: bridge2

Update tsconfig.json
  bridge/.storybook/tsconfig.json
Due: bridge2

fix(bridge): Fix invalid header property for webhook (#8544)
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

feat(bridge): Use ktb-chart component
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_interfaces/chart.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.ts
  bridge/cypress/integration/components/line-chart.spec.ts
  bridge/cypress/support/pageobjects/LineChartComponentPage.ts
Due: bridge2

chore: Remove configuration-service k8s service (#8530)
  .github/workflows/validate-semantic-pr.yml
  api/importer/execute/keptn_endpoints.go
  gh-actions-scripts/detect_stale_images.sh
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/common/configurationstore_test.go
  test/go-tests/test_resourceservice.go
Due: api, shipyard-controller

feat(cli): add `sumologic` flag to keptn configure monitoring - add tests
  cli/cmd/configure_monitoring.go
  cli/cmd/configure_monitoring_test.go
Due: cli

fix(bridge): Fix invalid header property for webhook (#8543)
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

non empty test case structs
  shipyard-controller/handler/debughandler_test.go
  shipyard-controller/handler/debugmanager_test.go
Due: shipyard-controller

v0.0.0
  bridge/package.json
Due: bridge2

fix(bridge): Fix invalid header property for webhook (#8543) (#8547)
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

feat(bridge): Better visualization of failed Key SLIs (#8545)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
Due: bridge2

build(deps): update dependency typescript to v4.7.4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2
