Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fixed typo
  installer/manifests/keptn/templates/task-definitions.yaml
Due: none

fix: added mongo to app manifest
  installer/manifests/keptn/templates/app.yaml
Due: none

added pre-deployment checks
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
Due: none

adapt pre-deployment checks
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

fix(bridge): Fix incorrect SLI grouping in heatmap
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.spec.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.manyscores.mock.json
Due: bridge2

SLI numeration also for sli-breakdown
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
Due: bridge2

fix(bridge): Fix incorrect relative change
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/sli-result.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

Fixed code smell
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

build(deps): update module github.com/moby/moby to v20 [security]
  cli/go.mod
Due: cli

pr review
  resource-service/common/git.go
Due: resource-service

Introduced variable for condition check
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.ts
Due: bridge2

docs: suggestion on making lifecycle toolkit more prominent
  README.md
Due: none

docs: fix headings
  README.md
Due: none

chore: Suggestion on making lifecycle toolkit more prominent (#9129)
  README.md
Due: none

feat(resource-service): Use libgit2 as a fallback when cloning repo (#9112)
  .github/workflows/test-and-build-docker-images.yml
  resource-service/Dockerfile
  resource-service/README.md
  resource-service/common/fake/gogit_mock.go
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common/go-git.go
  resource-service/common/go-git_test.go
  resource-service/common_models/git.go
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

fix(bridge): Fix inconsistent sequence filter
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

chore: Add heinzburgstaller as Bridge codeowner
  CODEOWNERS
Due: none

chore: Add heinzburgstaller as Bridge codeowner (#9139)
  CODEOWNERS
Due: none

fix(bridge): Fix incorrect SLI grouping in heatmap (#9132)
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.spec.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-utils.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.spec.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.manyscores.mock.json
Due: bridge2

fix(bridge): Fix incorrect relative change (#9134)
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/sli-result.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

fix(bridge): Fix inconsistent sequence filter (#9137)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

fix: Add try for integration test
  test/go-tests/test_utils.go
Due: none

ci: Remove unused needs part in the CI pipeline
  .github/workflows/CI.yml
Due: none

ci: Remove unused needs part in the CI pipeline (#9142)
  .github/workflows/CI.yml
Due: none

test: Add retry logic for integration test (#9141)
  test/go-tests/test_utils.go
Due: none

fix(lighthouse-service): Return error if slo.yaml cannot be fetched from resource service
  lighthouse-service/event_handler/common.go
Due: lighthouse-service

added unit tests
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/common_test.go
Due: lighthouse-service

fix(bridge): Fix invalidate evaluation
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
Due: bridge2

fix(bridge): Fix invalidate evaluation (#9145)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
Due: bridge2

fix(bridge): Fix invalidate evaluation (#9147)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-chart/ktb-evaluation-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
Due: bridge2

fix(lighthouse-service): Return error if slo.yaml cannot be fetched from resource service (#9143)
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/common_test.go
Due: lighthouse-service

fix(lighthouse-service): Return error if slo.yaml cannot be fetched from resource service (#9148)
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/common_test.go
Due: lighthouse-service

fix(lighthouse-service): don't fail sequence if SLO file is missing
  lighthouse-service/event_handler/common.go
Due: lighthouse-service

chore: Add @aepfli as member (keptn/community#207)
  MAINTAINERS
Due: none

fix(lighthouse-service): don't fail sequence if SLO file is missing (#9149)
  lighthouse-service/event_handler/common.go
Due: lighthouse-service

build(release): 0.19.3 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
