Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix(shipyard-controller): Refactor error messages
  shipyard-controller/common/configurationstore.go
  shipyard-controller/common/error.go
  shipyard-controller/db/mongodb_project_mv_repo.go
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/evaluationhandler.go
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventhandler.go
  shipyard-controller/handler/eventhandler_test.go
  shipyard-controller/handler/loghandler.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/projectmanager.go
  shipyard-controller/handler/projectmanager_test.go
  shipyard-controller/handler/repository_provisioner.go
  shipyard-controller/handler/repository_provisioner_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/servicehandler.go
  shipyard-controller/handler/servicehandler_test.go
  shipyard-controller/handler/servicemanager.go
  shipyard-controller/handler/shipyardcontroller.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
  shipyard-controller/handler/stagehandler.go
  shipyard-controller/handler/stagehandler_test.go
  shipyard-controller/handler/stagemanager.go
  shipyard-controller/handler/stagemanager_test.go
  shipyard-controller/handler/statehandler.go
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

review
  docs/developer/api_guidelines.md
Due: none

poc: try to run test directly
  .github/workflows/CI.yml
Due: none

ci: Add license ignores to snyk config
  .snyk
Due: none

add back quotes
  .snyk
Due: none

fix(shipyard-controller): Merge subscriptions if there are multiple instances of the same integration
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

ci: Add license ignores to snyk config (#8488)
  .snyk
Due: none

build(deps): update github.com/keptn/keptn/webhook-service digest to 58e1102
  cli/go.mod
  cli/go.sum
Due: cli

feat(api): Import package manifest templating
  api/importer/fake/renderer_mock.go
  api/importer/model/execute.go
  api/importer/model/execute_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/importer/template.go
  api/importer/template_test.go
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/input.yaml
  api/test/data/import/rendered-sample-package/full-manifest-rendering/resources/webhook.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.yaml
  api/test/data/import/sample-package/manifest.yaml
Due: api

- Implement suggestions from code review
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/app.module.ts
Due: bridge2

#8469: Typo fixed
  cli/cmd/create_secret.go
Due: cli

fix(cli): Typo issue fixed in keptn create secret message
  cli/cmd/create_secret.go
Due: cli

feat(bridge): Add ktb-chart (#8420)
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.scss
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.html
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.scss
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

refactor(bridge): Rename D3 feature flag - Rename variable from 'D3_HEATMAP_ENABLED' to 'D3_ENABLED' - Adopt usages
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/client/app/_utils/test.utils.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableResourceService.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

build(deps): update angular-cli monorepo to v12.2.18
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update helm release nats to v0.17.2
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update github.com/keptn/keptn/webhook-service digest to cb7d829
  cli/go.mod
  cli/go.sum
Due: cli

docs(cli): Fix typo in create secret command (#8498)
  cli/cmd/create_secret.go
Due: cli

- Ensure backwards compatibility
  installer/manifests/keptn/templates/core.yaml
Due: none

feat(api): Implement create webhook subscription action
  api/importer/execute/executor.go
  api/importer/execute/fake/webhook.go
  api/importer/execute/integrations.go
  api/importer/execute/integrations_test.go
  api/importer/execute/webhook.go
  api/importer/execute/webhook_test.go
Due: api

add back helm repo add commands in helm chart build script
  gh-actions-scripts/build-helm-charts.sh
Due: none

implemented requested changes
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/cypress/integration/environment.spec.ts
Due: bridge2

add arbitrary change to chart
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

add back helm repo add commands in security scan pipeline
  .github/workflows/security-scans.yml
Due: none

- Fix
  installer/manifests/keptn/templates/core.yaml
Due: none

add log message
  gh-actions-scripts/build-helm-charts.sh
Due: none

more logging
  gh-actions-scripts/build-helm-charts.sh
Due: none

depednedncy to only upload helm chart when docker build also happens
  .github/workflows/CI.yml
Due: none

remove random change
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

fixed unit test
  bridge/client/app/_services/data.service.spec.ts
Due: bridge2

fix(bridge): check if configurationChange has image
  bridge/shared/models/trace.ts
Due: bridge2

add missing MatDialogModule
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
Due: bridge2

move resourceServiceEnabled to state$
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

Added changeGuard overwrite. Fixed problem with combineLatest. Added ui and unit tests
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.spec.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

fix(shipyard-controller): Handling error messages (#8485)
  shipyard-controller/common/configurationstore.go
  shipyard-controller/common/error.go
  shipyard-controller/db/mongodb_project_mv_repo.go
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/evaluationhandler.go
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventhandler.go
  shipyard-controller/handler/eventhandler_test.go
  shipyard-controller/handler/loghandler.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/projectmanager.go
  shipyard-controller/handler/projectmanager_test.go
  shipyard-controller/handler/repository_provisioner.go
  shipyard-controller/handler/repository_provisioner_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/servicehandler.go
  shipyard-controller/handler/servicehandler_test.go
  shipyard-controller/handler/servicemanager.go
  shipyard-controller/handler/shipyardcontroller.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
  shipyard-controller/handler/stagehandler.go
  shipyard-controller/handler/stagehandler_test.go
  shipyard-controller/handler/stagemanager.go
  shipyard-controller/handler/stagemanager_test.go
  shipyard-controller/handler/statehandler.go
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

fix(shipyard-controller): Handling error messages (#8480)
  shipyard-controller/common/configurationstore.go
  shipyard-controller/common/error.go
  shipyard-controller/db/mongodb_project_mv_repo.go
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/evaluationhandler.go
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventhandler.go
  shipyard-controller/handler/eventhandler_test.go
  shipyard-controller/handler/loghandler.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/projectmanager.go
  shipyard-controller/handler/projectmanager_test.go
  shipyard-controller/handler/repository_provisioner.go
  shipyard-controller/handler/repository_provisioner_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/servicehandler.go
  shipyard-controller/handler/servicehandler_test.go
  shipyard-controller/handler/servicemanager.go
  shipyard-controller/handler/shipyardcontroller.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
  shipyard-controller/handler/stagehandler.go
  shipyard-controller/handler/stagehandler_test.go
  shipyard-controller/handler/stagemanager.go
  shipyard-controller/handler/stagemanager_test.go
  shipyard-controller/handler/statehandler.go
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

adapted to changes regarding error types
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/handler/sequenceexecutionhandler_test.go
Due: shipyard-controller

feat(shipyard-controller): Introduce API Endpoint for retrieving Sequence Executions (#8430)
  shipyard-controller/common/error.go
  shipyard-controller/controller/sequenceexecutioncontroller.go
  shipyard-controller/db/mock/eventrepo_mock.go
  shipyard-controller/db/mock/sequenceexecution_mock.go
  shipyard-controller/db/mock/sequencestaterepo_mock.go
  shipyard-controller/db/mock/uniformrepo_mock.go
  shipyard-controller/db/mongodb_event_repo.go
  shipyard-controller/db/mongodb_log_repo.go
  shipyard-controller/db/mongodb_log_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/loghandler_test.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/handler/sequenceexecutionhandler_test.go
  shipyard-controller/main.go
  shipyard-controller/models/api/sequence_execution.go
  shipyard-controller/models/api/sequence_execution_test.go
  shipyard-controller/models/events.go
  shipyard-controller/models/log.go
  shipyard-controller/models/pagination.go
Due: shipyard-controller

fix(bridge): check if configurationChange has image (#8507)
  bridge/shared/models/trace.ts
Due: bridge2
