Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

chore: Add @agardnerIT as Keptn member (#8563)
  MAINTAINERS
Due: none

build(deps): Auto-update go-utils to latest version (#8539)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore: Remove Helm and Jmeter services from Integration tests (#8559)
  .github/workflows/integration_tests.yml
  installer/airgapped/install_keptn.sh
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/main.go
  shipyard-controller/main_test.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_customendpoints.go
  test/go-tests/testsuite_gke_test.go
Due: shipyard-controller

fix: log.Fatal will call os.Exit, use log.Println instead (#8492)
  helm-service/main.go
Due: helm-service

ci: add working directory for UI-Test
  .github/workflows/CI.yml
Due: none

ci: do not push the image for testing purpose
  .github/workflows/CI.yml
Due: none

ci: Reuse the poc of 8465 and cleanup Dockerfiles (#8487)
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

ci: comment out calculate-queue-time and calculate-total-runtime
  .github/workflows/CI.yml
Due: none

test(shipyard-controller): Validator should be ignored when Provisioner is used (#8610)
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

ci: add working directory for uploading test screenshots
  .github/workflows/CI.yml
Due: none

ci: add rule to deny .only (#8562)
  bridge/.eslintrc.json
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty (#8573)
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

feat(bridge): Improve indicator result score visualization (#8572)
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.scss
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/sli-result.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

ci: Undo testing changes
  .github/workflows/CI.yml
Due: none

ci: change the path where the screenshots are copied to
  bridge/cypress/run-tests.sh
Due: none

ci: Change the directory of the Upload Test Screenshots step
  .github/workflows/CI.yml
Due: none

ci: Remove workflow directory from upload test screenshots and change the path
  .github/workflows/CI.yml
Due: none

ci: comment out calculate-queue-time and calculate-total-runtime
  .github/workflows/CI.yml
  bridge/cypress/run-tests.sh
Due: none

chore(bridge): Remove resource service feature flag
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_models/server-error.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/client/app/_utils/test.utils.ts
  bridge/client/app/_views/ktb-error-view/ktb-error-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableResourceService.mock.json
  bridge/cypress/integration/notification.spec.ts
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/integration/project-delete.spec.ts
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  bridge/stories/components/Header.stories.ts
  bridge/stories/components/Mockup.stories.ts
Due: bridge2, bridge-server

build(deps): update dependency @types/semver to v7.3.12
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dawidd6/action-download-artifact action to v2.22.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

chore(bridge): Remove resource service feature flag (#8635)
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_models/server-error.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/client/app/_utils/test.utils.ts
  bridge/client/app/_views/ktb-error-view/ktb-error-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableResourceService.mock.json
  bridge/cypress/integration/notification.spec.ts
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/integration/project-delete.spec.ts
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  bridge/stories/components/Header.stories.ts
  bridge/stories/components/Mockup.stories.ts
Due: bridge2, bridge-server

chore(bridge): Enable D3 charts by default
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

test(api): Fix failing import package integration tests
  test/assets/import/sample-package/manifest.yaml
  test/go-tests/test_importer_test.go
Due: none

test(api): Fix failing import package integration tests (#8643)
  test/assets/import/sample-package/manifest.yaml
  test/go-tests/test_importer_test.go
Due: none

feat(api): Enable import endpoint
  api/README.md
  api/models/import_summary.go
  api/restapi/embedded_spec.go
  api/restapi/operations/event/post_event.go
  api/restapi/operations/import_operations/import.go
  api/restapi/operations/metadata/metadata.go
  api/restapi/server.go
  api/swagger.yaml
Due: api

test(api): Fix failing import package integration tests
  test/go-tests/test_importer_test.go
Due: none

chore(bridge): Enable D3 charts by default (#8644)
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

test(api): Fix failing import package integration tests (#8645)
  test/go-tests/test_importer_test.go
Due: none

build(deps): update actions/cache action to v3.0.7
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update actions/github-script action to v6.1.1
  .github/workflows/integration_tests.yml
Due: none

build(deps): update dependency zone.js to v0.11.8
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update github.com/keptn/keptn/webhook-service digest to 9c73da6
  cli/go.mod
  cli/go.sum
Due: cli

ci: resolve merge discussions
  .github/workflows/CI.yml
Due: none

added fix and logs
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/sequencedispatcher.go
Due: shipyard-controller

Removed unneeded code. Renamed asssertdtAlert method
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2
