Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix: bridge/server/package.json & bridge/server/yarn.lock to reduce vulnerabilities
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

feat: Changelog reports dependencies bumps
  release-please-config.json
Due: none

feat: Changelog reports dependencies bumps (#9646)
  release-please-config.json
Due: none

build(deps): update golang.org/x/exp digest to 47ecfdc
  api/go.mod
  api/go.sum
Due: api

build(deps): update sigstore/cosign-installer action to v3.0.3
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update reviewdog/action-setup action to v1.0.4
  .github/workflows/reviewdog.yml
Due: none

fix(installer): MONGODB_HOST should hardcode mongo
  installer/manifests/keptn/templates/core.yaml
Due: none

Update Roadmap Project link
  README.md
Due: none

Fix the link in README file to project roadmap board
  README.md
Due: none

fix(installer): MONGODB_HOST should hardcode mongo (#9656)
  installer/manifests/keptn/templates/core.yaml
Due: none

build(deps): update golang docker tag to v1.20.4
  api/Dockerfile
  approval-service/Dockerfile
  cli/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

build(deps): update k8s.io/utils digest to 9f67429
  api/go.mod
  api/go.sum
Due: api

build(deps): update module go.mongodb.org/mongo-driver to v1.11.6
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

go mod tidy
  api/go.sum
Due: api

build(deps): update module github.com/benbjohnson/clock to v1.3.3
  api/go.mod
  api/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, shipyard-controller

build(deps): update module github.com/go-openapi/spec to v0.20.9
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

go mod tidy
  api/go.sum
  shipyard-controller/go.sum
Due: api, shipyard-controller

go mod tidy
  resource-service/go.sum
Due: resource-service

build(deps): update module github.com/swaggo/swag to v1.16.1
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.41.1
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

build: bump html/template to 1.20.4
  api/go.mod
  mongodb-datastore/go.mod
Due: api, mongodb-datastore

build(deps): update anchore/sbom-action action to v0.14.2
  .github/workflows/release.yml
Due: none

build(deps): update alpine docker tag to v3.18
  api/Dockerfile
  approval-service/Dockerfile
  cli/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

chore: check for latest version of go before installation
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

chore: check for latest version of go before installation (#9671)
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update google-github-actions/auth action to v1.1.1
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update google-github-actions/get-gke-credentials action to v1.0.2
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update checkmarx/kics-github-action action to v1.7.0
  .github/workflows/security-scans.yml
Due: none

fix(installer): remove scarf redirect
  .github/workflows/release.yml
  installer/manifests/keptn/values.yaml
Due: none

fix(installer): remove scarf redirect
  installer/manifests/keptn/README.md
Due: none

fix(installer): remove scarf redirect (#9678)
  .github/workflows/release.yml
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update kubernetes packages to v0.27.2
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

fix(cli): remove obsolete and misleading deprecation message
  cli/cmd/get_event_evaluationFinished.go
Due: cli
