Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Add ktb-chart (#8420)
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart-utils.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.scss
  bridge/client/app/_components/ktb-chart/ktb-chart.component.spec.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/ktb-chart.module.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.html
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.scss
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

ci: Add license ignores to snyk config (#8488)
  .snyk
Due: none

ci: Fix snyk file glob syntax (#8477)
  .snyk
Due: none

feat(api): Import package manifest templating
  api/importer/fake/renderer_mock.go
  api/importer/model/execute.go
  api/importer/model/execute_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/importer/template.go
  api/importer/template_test.go
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/full-manifest-rendering/input.yaml
  api/test/data/import/rendered-sample-package/full-manifest-rendering/resources/webhook.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/api/create-subscription.json
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  api/test/data/import/rendered-sample-package/simple-task-rendering/resources/webhook.yaml
  api/test/data/import/sample-package/manifest.yaml
Due: api

refactor(bridge): Rename D3 feature flag (#8499)
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/client/app/_utils/test.utils.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableResourceService.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

feat(shipyard-controller): Introduce API Endpoint for retrieving Sequence Executions (#8430)
  shipyard-controller/common/error.go
  shipyard-controller/controller/sequenceexecutioncontroller.go
  shipyard-controller/db/mock/eventrepo_mock.go
  shipyard-controller/db/mock/sequenceexecution_mock.go
  shipyard-controller/db/mock/sequencestaterepo_mock.go
  shipyard-controller/db/mock/uniformrepo_mock.go
  shipyard-controller/db/mongodb_event_repo.go
  shipyard-controller/db/mongodb_log_repo.go
  shipyard-controller/db/mongodb_log_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/loghandler_test.go
  shipyard-controller/handler/sequenceexecutionhandler.go
  shipyard-controller/handler/sequenceexecutionhandler_test.go
  shipyard-controller/main.go
  shipyard-controller/models/api/sequence_execution.go
  shipyard-controller/models/api/sequence_execution_test.go
  shipyard-controller/models/events.go
  shipyard-controller/models/log.go
  shipyard-controller/models/pagination.go
Due: shipyard-controller

fix(bridge): check if configurationChange has image (#8507)
  bridge/shared/models/trace.ts
Due: bridge2

docs(cli): Fix typo in create secret command (#8498)
  cli/cmd/create_secret.go
Due: cli

fix(shipyard-controller): Handling error messages (#8480)
  shipyard-controller/common/configurationstore.go
  shipyard-controller/common/error.go
  shipyard-controller/db/mongodb_project_mv_repo.go
  shipyard-controller/db/mongodb_project_repo.go
  shipyard-controller/db/mongodb_project_repo_test.go
  shipyard-controller/db/mongodb_sequence_execution_repo.go
  shipyard-controller/db/mongodb_sequence_execution_repo_test.go
  shipyard-controller/db/repos.go
  shipyard-controller/handler/evaluationhandler.go
  shipyard-controller/handler/eventdispatcher.go
  shipyard-controller/handler/eventhandler.go
  shipyard-controller/handler/eventhandler_test.go
  shipyard-controller/handler/loghandler.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/projectmanager.go
  shipyard-controller/handler/projectmanager_test.go
  shipyard-controller/handler/repository_provisioner.go
  shipyard-controller/handler/repository_provisioner_test.go
  shipyard-controller/handler/sequencedispatcher.go
  shipyard-controller/handler/servicehandler.go
  shipyard-controller/handler/servicehandler_test.go
  shipyard-controller/handler/servicemanager.go
  shipyard-controller/handler/shipyardcontroller.go
  shipyard-controller/handler/shipyardcontroller_component_test.go
  shipyard-controller/handler/stagehandler.go
  shipyard-controller/handler/stagehandler_test.go
  shipyard-controller/handler/stagemanager.go
  shipyard-controller/handler/stagemanager_test.go
  shipyard-controller/handler/statehandler.go
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

ci: Add back helm repo add commands in pipelines (#8505)
  .github/workflows/security-scans.yml
  gh-actions-scripts/build-helm-charts.sh
Due: none

chore(installer): Improve NATS configuration (#8475)
  helm-service/chart/charts/common-0.1.0.tgz
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  installer/manifests/keptn/charts/nats-0.17.2.tgz
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

feat(api): Implement create webhook subscription action
  api/importer/execute/executor.go
  api/importer/execute/fake/webhook.go
  api/importer/execute/integrations.go
  api/importer/execute/integrations_test.go
  api/importer/execute/webhook.go
  api/importer/execute/webhook_test.go
Due: api

ci: Reduce integration test NATS replicas to 1 (#8514)
  .github/workflows/integration_tests.yml
Due: none

chore(cli): Remove warning that no Git upstream is set (#8518)
  cli/cmd/common.go
  cli/cmd/create_project.go
  cli/cmd/create_project_test.go
  cli/cmd/update_project_test.go
  cli/internal/projectcreator/fake/api_v1_interface.go
  cli/internal/projectcreator/projectcreator.go
  cli/internal/projectcreator/projectcreator_test.go
Due: cli

feat(bridge): Show pause icon if sequence is paused (#8471)
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_models/event-icons.ts
  bridge/client/app/_models/sequence.spec.ts
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

fix(installer): Disable nats cluster due to unreliable behavior (#8523)
  installer/manifests/keptn/values.yaml
Due: none

refactor(bridge): Refactor project settings (#8510)
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

fix(bridge): Fix invalid header property for webhook (#8543)
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
Due: bridge2

feat(shipyard-controller): Introduce RemoteURL denyList (#8490)
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/common/error.go
  shipyard-controller/common/fake/filereader_mock.go
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
  shipyard-controller/handler/common.go
  shipyard-controller/handler/fake/remoteurl_validator_mock.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/remoteurl_validator.go
  shipyard-controller/handler/remoteurl_validator_test.go
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

ci: Ignore TS mock files in Snyk (#8532)
  .snyk
Due: none

feat(shipyard-controller): Introduce Debug-UI for shipyard-controller (#8400)
  shipyard-controller/Dockerfile
  shipyard-controller/debug-ui/favicon.png
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.css
  shipyard-controller/debug-ui/index.html
  shipyard-controller/debug-ui/treeview.css
  shipyard-controller/debug-ui/viewevents.html
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/db/mock/eventrepo_mock.go
  shipyard-controller/internal/db/mock/sequencestaterepo_mock.go
  shipyard-controller/internal/db/mock/uniformrepo_mock.go
  shipyard-controller/internal/db/mongodb_event_repo.go
  shipyard-controller/internal/db/mongodb_event_repo_test.go
  shipyard-controller/internal/db/mongodb_state_repo.go
  shipyard-controller/internal/db/mongodb_state_repo_test.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/handler/fake/debugmanager.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

fix(installer): RoleBinding is not installed if not needed for shippy leader election (#8535)
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

fix(bridge): Fix evaluation badge wrapping (#8524)
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.html
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.ts
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.scss
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.html
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.scss
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.module.ts
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.ts
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.html
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.scss
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/cypress.config.ts
  bridge/cypress/fixtures/get.environment.evaluation.history.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.evaluation.badge.mock.json
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/components/evaluation-badge.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

test(bridge): Fix ignored UI tests in trigger-sequence.spec (#8525)
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress.config.ts
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

feat(bridge): Link secret creation from secret selection (#8478)
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.html
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.spec.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SecretsPage.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

feat(bridge): Improve ktb-chart (#8561)
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

feat(bridge): Better visualization of failed Key SLIs (#8545)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
Due: bridge2

build(release): 0.18.0 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

fix(shipyard-controller): Merge subscriptions of multiple instances of a registration (#8509)
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

fix(bridge): Fix detection of pending changes when automatic provisioning active (#8531)
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings-git-extended/ktb-project-settings-git-extended.component.ts
  bridge/cypress/integration/project-settings.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

chore: Remove configuration-service k8s service (#8530)
  .github/workflows/validate-semantic-pr.yml
  api/importer/execute/keptn_endpoints.go
  gh-actions-scripts/detect_stale_images.sh
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
  shipyard-controller/common/configurationstore_test.go
  test/go-tests/test_resourceservice.go
Due: api, shipyard-controller

test(bridge): Speed up unit testing (#8538)
  bridge/package.json
Due: bridge2

chore: Remove Jmeter and Helm services from pipelines (#8560)
  .github/workflows/CI.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/zero-downtime-tests.yml
  codecov.yml
  docs/developer/install_master.md
  gh-actions-scripts/build-helm-charts.sh
  gh-actions-scripts/detect_stale_images.sh
  gh-actions-scripts/prepare_changed_artifacts.sh
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/templates/ingress-config.yaml
  installer/manifests/keptn/values.yaml
  test/zero-downtime/assets/test-values.yml
Due: none

feat(bridge): Use ktb-chart component (#8550)
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_interfaces/chart.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.mock.json
  bridge/cypress/fixtures/typed/evaluationFinishedScoreMock.ts
  bridge/cypress/integration/components/line-chart.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/LineChartComponentPage.ts
Due: bridge2

feat(api): Provide structured output for successful import operations (#8515)
  api/handlers/fake/projectchecker_mock.go
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/models/import_summary.go
  api/models/task.go
  api/restapi/embedded_spec.go
  api/restapi/operations/import_operations/import_responses.go
  api/swagger.yaml
Due: api

refactor(bridge): Refactor integration view (#8542)
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

test: Migrate QualityGates integration tests to component tests (#8536)
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/configure_monitoring_handler.go
  lighthouse-service/event_handler/configure_monitoring_handler_test.go
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/handler_test.go
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  lighthouse-service/main.go
  lighthouse-service/main_test.go
  test/go-tests/test_qualitygate.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
Due: lighthouse-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
