Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix: Use distributor values namespace and hostname in svc env vars (#8311)
  installer/manifests/keptn/charts/control-plane/templates/_helpers.tpl
  test/go-tests/test_uniform.go
Due: none

Modularized dashboard view II
  bridge/client/app/_components/ktb-project-list/ktb-project-list.module.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.module.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-list.component.html
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-list.component.scss
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-list.component.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-tile.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-tile.component.ts
  bridge/client/app/app.module.ts
Due: bridge2

feat(bridge): Modularize sequence and logout view and introduce lazy loading (#8289)
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.component.scss
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.scss
  bridge/client/app/_components/ktb-date-input/ktb-time-input.component.scss
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.spec.ts
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.module.ts
  bridge/client/app/_components/ktb-loading/ktb-loading-spinner.component.scss
  bridge/client/app/_components/ktb-loading/ktb-loading.module.ts
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.spec.ts
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_components/ktb-root-events-list/ktb-root-events-list.module.ts
  bridge/client/app/_components/ktb-sequence-controls/ktb-sequence-controls.module.ts
  bridge/client/app/_components/ktb-sequence-tasks-list/ktb-sequence-tasks-list.module.ts
  bridge/client/app/_components/ktb-sequence-timeline/ktb-sequence-timeline.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/_views/ktb-logout-view/ktb-logout-view.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view-routing.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.module.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

pr review
  installer/manifests/keptn.yaml
Due: none

ci: Don't run bridge tests on build-everything builds (#8288)
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

Added requested changes
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.spec.ts
Due: bridge2

feat(bridge): Select project stage from project overview (#7736)
  bridge/client/app/_components/ktb-project-list/ktb-project-list.component.html
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.ts
  bridge/client/app/app.routing.ts
  bridge/cypress/integration/deep-links.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

feat(installer): Introduce flag to enable / disable keptn services
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

cleanup
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
Due: none

build(release): 0.16.1 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

build(deps): Update keptn/go-utils to 3ef0a10730ad12b551b3ac5885495b108fac0fe7
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

keep configuration-service SA and roleBinding to support ZD upgrades
  installer/manifests/keptn/templates/rbac.yaml
Due: none

Merged changes from master
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-project-list/ktb-project-tile.component.scss
Due: bridge2

build(deps): Update keptn/go-utils to 65503489d75aac53e74e089babc7a5258887d93c
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

review
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
Due: none

review
  installer/manifests/keptn/templates/rbac.yaml
Due: none

fix(bridge): Added missing wait to view more services ui test
  bridge/cypress/integration/sequences.spec.ts
Due: bridge2

fixed typo in end tags
  installer/manifests/keptn/templates/rbac.yaml
Due: none

feat(installer): Introduce flags to enable / disable Keptn services (#8316)
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

feat(cli): Removed install/uninstall/upgrade commands (#8302)
  README.md
  cli/cmd/api_service_type.go
  cli/cmd/auth.go
  cli/cmd/common.go
  cli/cmd/generate_support_archive.go
  cli/cmd/get_event_approvalTriggered.go
  cli/cmd/helpers.go
  cli/cmd/helpers_test.go
  cli/cmd/install.go
  cli/cmd/install_test.go
  cli/cmd/install_upgrade_params.go
  cli/cmd/install_upgrade_params_test.go
  cli/cmd/root.go
  cli/cmd/root_test.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/cmd/trigger_sequence.go
  cli/cmd/uninstall.go
  cli/cmd/uninstall_test.go
  cli/cmd/upgrade.go
  cli/cmd/upgrade_test.go
  cli/cmd/usecase_type.go
  cli/cmd/version.go
  cli/internal/auth/oauth.go
  cli/internal/cespec/data.go
  cli/internal/cespec/genspec.go
  cli/pkg/common/quick_access_instructions.go
  cli/pkg/common/quick_access_instructions_darwin.go
  cli/pkg/common/quick_access_instructions_linux.go
  cli/pkg/common/quick_access_instructions_windows.go
  cli/pkg/docker/docker_utils_test.go
  cli/pkg/logging/log_printer.go
Due: cli

fix(bridge): Added missing wait to view more services ui test (#8320)
  bridge/cypress/integration/sequences.spec.ts
Due: bridge2

ci: Fix change detection script to handle master/maintenance branches correctly
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

add env var to step
  .github/workflows/CI.yml
Due: none

ci: Fix change detection script to handle master/maintenance branches correctly (#8322)
  .github/workflows/CI.yml
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

fixed deep links, added UI tests for menu selection, fixed environment menu selection
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view-routing.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/app.routing.ts
  bridge/client/app/project-board/project-board.component.html
  bridge/client/app/project-board/project-board.component.scss
  bridge/cypress/integration/deep-links.spec.ts
  bridge/cypress/integration/navigation-project-board.spec.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
  bridge/cypress/support/pageobjects/ProjectBoardPage.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

Removed code smells
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.scss
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.ts
  bridge/client/app/app.module.ts
Due: bridge2

refactor(bridge): Refactor the project settings of services - Dumbify components - rx-ify components - Adopt unit tests
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.html
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.spec.ts
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.ts
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.html
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.spec.ts
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-list/ktb-service-settings-list.component.spec.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-list/ktb-service-settings-list.component.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.html
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.spec.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.ts
Due: bridge2

feat(bridge): Modularize integration and common use case views and introduce lazy loading (#8305)
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.component.spec.ts
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.module.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.html
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.scss
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.spec.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.module.ts
  bridge/client/app/_components/ktb-markdown/ktb-markdown.component.scss
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.module.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view-routing.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.scss
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

chore: Removed redundant integration tests
  test/go-tests/test_graceful_shutdown.go
  test/go-tests/test_logforwarding.go
  test/go-tests/test_logingestion.go
  test/go-tests/test_zerodowntime.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

feat(bridge): Modularize services view and introduce lazy loading
  bridge/client/app/_components/ktb-deployment-list/ktb-deployment-list.module.ts
  bridge/client/app/_components/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.module.ts
  bridge/client/app/_components/ktb-sequence-list/ktb-sequence-list.module.ts
  bridge/client/app/_components/ktb-service-details/ktb-service-details.module.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-details/ktb-service-details.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view-routing.module.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.module.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

chore: Cleanup of integration tests for webhook service
  test/go-tests/test_webhook.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

fixed unit tests
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
Due: bridge2

chore: re-enabled statics sevice and excluded nginx configuration according to the value of the enabled flag
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/values.yaml
Due: none

fixed missing module
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.spec.ts
Due: bridge2

feat(installer): Remove configuration-service references and resourceService.enabled option (#8296)
  installer/manifests/keptn/templates/configuration-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
  resource-service/README.md
  resource-service/deploy/service.yaml
  test/zero-downtime/assets/test-values.yml
Due: none

- Add requested changes from code review
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.html
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.spec.ts
Due: bridge2

fix(bridge): Fix error on viewing service deployment
  bridge/server/services/data-service.ts
  bridge/shared/fixtures/traces-response.mock.ts
Due: bridge2, bridge-server

feat(bridge): Modularize environment view and introduce lazy loading (#8313)
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.component.spec.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.module.ts
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view-routing.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.spec.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
  bridge/client/app/project-board/project-board.component.html
  bridge/client/app/project-board/project-board.component.scss
  bridge/cypress/integration/deep-links.spec.ts
  bridge/cypress/integration/navigation-project-board.spec.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
  bridge/cypress/support/pageobjects/ProjectBoardPage.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

refactor(bridge): Refactor the project settings of services (#8323)
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.html
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.spec.ts
  bridge/client/app/_components/ktb-create-service/ktb-create-service.component.ts
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.html
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.spec.ts
  bridge/client/app/_components/ktb-edit-service/ktb-edit-service.component.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-list/ktb-service-settings-list.component.spec.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-list/ktb-service-settings-list.component.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.html
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.spec.ts
  bridge/client/app/_components/ktb-service-settings/ktb-service-settings-overview/ktb-service-settings-overview.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.spec.ts
Due: bridge2
