Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix: upgrade @storybook/angular from 6.5.12 to 6.5.13
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore: Add @aepfli as member (keptn/community#207) (#9150)
  MAINTAINERS
Due: none

fix(lighthouse-service): don't fail sequence if SLO file is missing (#9149)
  lighthouse-service/event_handler/common.go
Due: lighthouse-service

added unit tests
  lighthouse-service/event_handler/common_test.go
Due: lighthouse-service

ci: Fix link to mongodb-version-check.yml
  .github/workflows/mongodb-version-check.yml
Due: none

fix(lighthouse-service): don't fail sequence if SLO file is missing (#9153)
  lighthouse-service/event_handler/common.go
  lighthouse-service/event_handler/common_test.go
Due: lighthouse-service

fix: Add namespace
  installer/manifests/keptn/templates/app.yaml
Due: none

chore: Update MongoDB from 12.1.31 to 13.3.1
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-12.1.31.tgz
  installer/manifests/keptn/charts/mongodb-13.3.1.tgz
  installer/manifests/keptn/charts/nats-0.17.2.tgz
  installer/manifests/keptn/charts/nats-0.18.2.tgz
Due: none

fix(resource-service): Use go-git master version
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
Due: resource-service

fix: Add new mongo ver to script
  installer/airgapped/pull_and_retag_images.sh
Due: none

ci: Fix link to mongodb-version-check.yml (#9155)
  .github/workflows/mongodb-version-check.yml
Due: none

chore: Update MongoDB from 12.1.31 to 13.3.1 (#9158)
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-12.1.31.tgz
  installer/manifests/keptn/charts/mongodb-13.3.1.tgz
  installer/manifests/keptn/charts/nats-0.17.2.tgz
  installer/manifests/keptn/charts/nats-0.18.2.tgz
Due: none

test: Disable K3s 1.24 integration tests due to port-forwarding issues
  .github/workflows/integration_tests.yml
Due: none

test: Disable K3s 1.24 integration tests due to port-forwarding issues (#9165)
  .github/workflows/integration_tests.yml
Due: none

feat(shipyard-controller): Clean up logs/errors
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/shipyardcontroller.go
Due: shipyard-controller

feat(api): Clean up logs/errors
  api/handlers/event.go
  api/handlers/metadata.go
  api/middleware/tokenauth.go
Due: api

feat(bridge): Unify logging
  bridge/server/app.ts
  bridge/server/package.json
Due: bridge2, bridge-server

adjust wording
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore(lighthouse-service): Clean up logs
  lighthouse-service/event_handler/configure_monitoring_handler.go
  lighthouse-service/event_handler/handler.go
  lighthouse-service/event_handler/start_evaluation_handler.go
Due: lighthouse-service

adapt yarn.lock
  bridge/server/yarn.lock
Due: bridge2, bridge-server

Add Nitin Mewar to contributors
  CONTRIBUTORS.md
Due: none

chore(mongodb-datastore): Clean up logs
  mongodb-datastore/db/mongodb_connection.go
  mongodb-datastore/db/mongodb_event_repo.go
Due: mongodb-datastore

docs: Add info about auto-signoff (#9105)
  CONTRIBUTING.md
  CONTRIBUTORS.md
Due: none

chore(approval-service): Clean up logs
  approval-service/pkg/handler/approval_triggered_event_handler.go
  approval-service/pkg/handler/handler.go
Due: approval-service

feat(bridge): Unify logging (#9166)
  bridge/server/app.ts
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency supertest to v6.3.1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(release): 0.20.0-next.0
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(resource-service): Clean up logs
  resource-service/common/files.go
  resource-service/common/git.go
  resource-service/handler/project_manager.go
  resource-service/main.go
Due: resource-service

fix: upgrade @dynatrace/barista-components from 10.7.7 to 10.9.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore(secret-service): Clean up logs
  secret-service/pkg/backend/secretbackend_k8s.go
Due: secret-service

chore(webhook-service): Clean up logs
  webhook-service/handler/handler.go
  webhook-service/lib/denylist_provider.go
  webhook-service/lib/ip_resolver.go
  webhook-service/main.go
Due: webhook-service
