Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

revert only tests
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
Due: none

fix
  .github/workflows/integration_tests.yml
Due: none

increase init container resources
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

decrease init container memory to 16Mi
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

decrease init container cpu limit to 50m
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

bump to go-utils 0.20.0
  .github/workflows/integration_tests.yml
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Update go-utils dependency (#9278)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  installer/manifests/keptn/templates/_helpers.tpl
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/go-git/go-git/v5 to v5.5.0
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build(deps): update module github.com/invopop/jsonschema to v0.7.0
  cli/go.mod
Due: cli

build(deps): update dependency loader-utils to v3
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang.org/x/exp digest to 44028be
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
Due: api

build(deps): update golang.org/x/exp digest to 732eee0
  api/go.mod
  api/go.sum
Due: api

debug
  installer/manifests/keptn/templates/_helpers.tpl
  resource-service/common/credentials.go
  resource-service/common/git.go
Due: resource-service

fix: Add logs dumps
  .github/workflows/integration_tests.yml
  test/go-tests/k8s_utils.go
  test/go-tests/test_resourceservice.go
Due: none

fix: Add test cluster
  .github/workflows/integration_tests.yml
Due: none

fix: added oom test
  .github/workflows/integration_tests.yml
Due: none

fix logs
  resource-service/common/git.go
Due: resource-service

logs
  resource-service/common/credentials.go
  resource-service/common/git.go
Due: resource-service

enhance debugging
  resource-service/common/git.go
Due: resource-service

fix
  resource-service/common/git.go
Due: resource-service

fix tests back
  .github/workflows/integration_tests.yml
  test/go-tests/test_resourceservice.go
Due: none

added logs to tests
  test/go-tests/test_backuprestore.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
Due: none

test: add extra runs and logs (#9303)
  .github/workflows/integration_tests.yml
  resource-service/common/credentials.go
  resource-service/common/git.go
  test/go-tests/k8s_utils.go
  test/go-tests/test_backuprestore.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
Due: resource-service

Fixed indentation issue
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

fix: Indentation issue in Installer Modue (#9301)
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

build(deps): update dependency prettier to v2.8.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency supertest to v6.3.3
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency typescript to v4.9.4
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency typescript to v4.9.4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

ci: Add comment on why we skip bot PR from integration tests
  .github/workflows/integration_tests.yml
Due: none

ci: Add comment on why we skip bot PR from integration tests (#9316)
  .github/workflows/integration_tests.yml
Due: none

chore: Move to full release (#9044)
  .versionrc.json
  CHANGELOG.md
  release-please-config.json
Due: none

ci: Fix error when unreleased commits are on master
  .github/workflows/CI.yml
Due: none

debugging
  .github/workflows/CI.yml
Due: none
