Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

test
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

cleanup
  resource-service/common/gitsuite_test.go
Due: resource-service

polish comments
  resource-service/common/gitsuite_test.go
Due: resource-service

remove unneeded methods of libgit2 implementation
  resource-service/common/fake/gogit_mock.go
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common/go-git.go
Due: resource-service

fix(resource-service): Force checkout event if unstaged changes are present (#9107)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

try to install libgit2
  .github/workflows/CI.yml
  resource-service/common/fake/gogit_mock.go
  resource-service/common/gitsuite_test.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/service_manager_test.go
Due: resource-service

try to install libgit2
  .github/workflows/CI.yml
Due: none

try to install libgit2
  .github/workflows/test-and-build-docker-images.yml
Due: none

fix(resource-service): Force checkout event if unstaged changes are present (#9113)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

fix tests
  .github/workflows/test-and-build-docker-images.yml
Due: none

fix(bridge): Fix relative weight calculation (#9099)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.info-evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/shared/models/result-types.ts
Due: bridge2

fix tests
  resource-service/handler/stage_manager_test.go
Due: resource-service

fixed UI test
  bridge/cypress/support/intercept.ts
Due: bridge2

fix(bridge): Fix relative weight calculation (#9099) (#9114)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.info-evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/shared/models/result-types.ts
Due: bridge2

fix unit tests
  .github/workflows/test-and-build-docker-images.yml
  resource-service/Dockerfile
  resource-service/common/gitsuite_test.go
  resource-service/handler/common_test.go
Due: resource-service

fix unit tests
  resource-service/handler/common_test.go
Due: resource-service

fix unit tests
  resource-service/handler/project_manager_test.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

added instructions for installing libgit2
  resource-service/README.md
Due: none

ci: Remove cosign image signing for now
  .github/workflows/release.yml
Due: none

ci: Remove cosign image signing for now (#9115)
  .github/workflows/release.yml
Due: none
