Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

delete continuousDelivery
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

feat(bridge): Use ktb-chart component (#8550)
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_interfaces/chart.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/client/app/_views/ktb-evaluation-view/ktb-evaluation-view.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.mock.json
  bridge/cypress/fixtures/typed/evaluationFinishedScoreMock.ts
  bridge/cypress/integration/components/line-chart.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/LineChartComponentPage.ts
Due: bridge2

fix
  .github/workflows/integration_tests.yml
Due: none

Updated navigation to blocking sequence
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/client/styles.scss
Due: bridge2

minor fix
  installer/airgapped/install_keptn.sh
Due: none

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

adapt new subscriptions
  shipyard-controller/handler/uniformintegrationhandler.go
Due: shipyard-controller

pr fixes
  shipyard-controller/debug-ui/blocking.html
  shipyard-controller/debug-ui/fetch_blockingsequences.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/loghandler_test.go
  shipyard-controller/internal/routing/debugcontroller.go
Due: shipyard-controller

pr fixes v2
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
Due: shipyard-controller

build(deps): update helm release mongodb to v12
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

removed unused struct
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

wrong error message
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

Improved subscription deletion implementation
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.ts
  bridge/client/app/_interfaces/delete.ts
  bridge/client/app/_services/event.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

feat(api): Provide structured output for successful import operations (#8515)
  api/handlers/fake/projectchecker_mock.go
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/models/import_summary.go
  api/models/task.go
  api/restapi/embedded_spec.go
  api/restapi/operations/import_operations/import_responses.go
  api/swagger.yaml
Due: api

feat(bridge): Improve indicator result score visualization
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/client/app/_interfaces/sli-result.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

chore: Remove Jmeter and Helm services from pipelines (#8560)
  .github/workflows/CI.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/validate-semantic-pr.yml
  .github/workflows/zero-downtime-tests.yml
  codecov.yml
  docs/developer/install_master.md
  gh-actions-scripts/build-helm-charts.sh
  gh-actions-scripts/detect_stale_images.sh
  gh-actions-scripts/prepare_changed_artifacts.sh
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/templates/ingress-config.yaml
  installer/manifests/keptn/values.yaml
  test/zero-downtime/assets/test-values.yml
Due: none

build(deps): update github.com/keptn/keptn/webhook-service digest to ce231e8
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update golang.org/x/time digest to e5dcc9c
  api/go.mod
  api/go.sum
Due: api

replace webhook
  cli/go.mod
  cli/go.sum
Due: cli

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

go mod tidy
  api/go.sum
Due: api

go mod tidy
  cli/go.sum
  distributor/go.sum
Due: cli, distributor

build(deps): Update keptn/go-utils to 5ff2d4010e671b0e3fc14e55dd8214bd5643bede
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): Auto-update go-utils to latest version (#8539)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Added UI tests
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/HeatmapComponentPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

fix(shipyard-controller): Clean up event queue when cancelling a sequence
  shipyard-controller/main.go
Due: shipyard-controller

Added underline to make it clear that there is an overlay
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.scss
Due: bridge2

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

fix(shipyard-controller): Update Integration when Subscriptions field is null
  shipyard-controller/db/mongodb_uniform_repo.go
Due: shipyard-controller

add test
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix test
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix: Merge integration subscriptions into one, apply newly supplied subscriptions if existing ones are empty (#8566)
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

pr review
  shipyard-controller/db/mongodb_uniform_repo.go
  shipyard-controller/db/mongodb_uniform_repo_test.go
Due: shipyard-controller

fix: updates webhook svc config to support user obj
  webhook-service/lib/webhook_config.go
Due: webhook-service

supports test case for user obj
  webhook-service/lib/webhook_config_test.go
Due: webhook-service

adds my name on contrib list
  CONTRIBUTORS.md
  webhook-service/lib/webhook_config.go
  webhook-service/lib/webhook_config_test.go
Due: webhook-service

feat(api-service): implemented better event validation of /event endpoint
  api/go.mod
  api/go.sum
  api/handlers/event.go
  api/handlers/event_test.go
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
Due: api

typos
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
Due: api

adds usr test cases on handler_test pkg
  webhook-service/handler/handler_test.go
Due: webhook-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
