Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix: Remove newline
  release-please-config.json
Due: none

fix: Execute tests on release
  .github/workflows/release.yml
Due: none

fix: Disable login steps
  .github/workflows/test-and-build-docker-images.yml
Due: none

fix: Add newline
  release-please-config.json
Due: none

fix(bridge): Fix missing update in project settings on project change
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

build(deps): update golang.org/x/crypto digest to d6f0a8c
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  distributor/go.mod
  distributor/go.sum
Due: distributor

build(deps): update golang.org/x/exp digest to 3a778c5
  api/go.mod
  api/go.sum
Due: api

fix: Do not upload helm charts
  .github/workflows/release.yml
Due: none

fix(bridge): Fix missing update in project settings on project change (#8984)
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

ci: Fix pipeline
  .github/workflows/release.yml
Due: none

fix(bridge): Fix missing update in project settings on project change (#8983)
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

fix: Disable upload helm charts step
  .github/workflows/release.yml
Due: none

fix: Disable attachment to release
  .github/workflows/release.yml
Due: none

ci: Adapt release pipeline trigger
  .github/workflows/release.yml
Due: none

fix: Add two newlines
  release-please-config.json
Due: none

fix: Use dynamic branch for release-please
  .github/workflows/release.yml
Due: none

feat: New file
  random-file
Due: none

ci: Fix release-please config
  release-please-config.json
Due: none

feat: Remove random file
  random-file
Due: none

feat: Add random file
  random-feature-file
Due: none

add back other clusters, remove backup clusters
  .github/workflows/integration_tests.yml
Due: none

remove rebase artifacts
  .github/workflows/CI.yml
  .github/workflows/auto-update-go-utils.yml
  .github/workflows/auto-update-keptn-spec.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/check-docker-image-digests.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/deprecated-version-check.yml
  .github/workflows/detect_stale_images.yml
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-scans.yml
  .github/workflows/shellcheck.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/validate-helm-docs.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

remove debug code
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/skaffold.yaml
  test/go-tests/test_provisioningURL.go
Due: none

revert debug code
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
Due: none

build(release): 0.19.1 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

go mod tidy
  api/go.sum
Due: api

build(deps): update golang.org/x/oauth2 digest to b44042a
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

ci: Integration test clusters (#8926)
  .github/workflows/integration_tests.yml
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projectmanager.go
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
  test/go-tests/test_provisioningURL.go
Due: shipyard-controller

ci: Add release-please manifest file
  .release-please-manifest.json
Due: none

ci: Integration test changes (#8986)
  .github/workflows/integration_tests.yml
  .idea/runConfigurations/keptn_api__Kube_ContDeploy_.xml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projectmanager.go
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
  test/go-tests/test_provisioningURL.go
Due: shipyard-controller

ci: Add release-please manifest file (#8988)
  .release-please-manifest.json
Due: none

ci: Add release-please config file
  release-please-config.json
Due: none

ci: Add release-please config file (#8989)
  release-please-config.json
Due: none
