Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/moby/moby/v20 to v20.10.22
  cli/go.mod
Due: cli

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.9
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update module github.com/swaggo/swag to v1.8.9
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  api/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

go mod tidy
  lighthouse-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: lighthouse-service, shipyard-controller, statistics-service

feat(bridge): Read secrets from volume mount instead from env var (#9335)
  bridge/README.md
  bridge/server/interfaces/configuration.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/server/test/oauth.spec.ts
  bridge/server/user/secrets.spec.ts
  bridge/server/user/secrets.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  installer/manifests/keptn/templates/core.yaml
Due: bridge2, bridge-server

test
  .github/workflows/integration_tests.yml
Due: none

build(deps): rebuild helm charts (#9350)
  .github/workflows/integration_tests.yml
Due: none

build(deps): update helm release nats to v0.19.4
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.10
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update module go.mongodb.org/mongo-driver to v1.11.1
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update dependency rxjs to v7.8.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update docker.io/nginxinc/nginx-unprivileged docker tag to v1.23.3
  installer/manifests/keptn/values.yaml
Due: none

adapt
  installer/airgapped/pull_and_retag_images.sh
  installer/manifests/keptn/README.md
Due: none

adapt
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.19.3.tgz
  installer/manifests/keptn/charts/nats-0.19.4.tgz
Due: none

adapt airgapped
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): rebuild helm charts
  .github/workflows/integration_tests.yml
Due: none

build(deps): update jasonetco/create-an-issue action to v2.9.0
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update tj-actions/changed-files action to v35
  .github/workflows/CI.yml
Due: none

change permissions
  installer/airgapped/pull_and_retag_images.sh
Due: none

added test
  shipyard-controller/internal/controller/sequencestate_test.go
Due: shipyard-controller

build(deps): rebuild helm charts (#9357)
  .github/workflows/integration_tests.yml
  installer/airgapped/pull_and_retag_images.sh
Due: none

fix(shipyard-controller): Add new stage to sequence state immediately after receiving triggered event (#9334)
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/main_test.go
Due: shipyard-controller

build(deps): update dependency mongodb to v4.13.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update module github.com/go-test/deep to v1.1.0
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: lighthouse-service, shipyard-controller, statistics-service

build(deps): update dependency minimatch to v5
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency adm-zip to v0.5.10
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update storybook monorepo to v6.5.15
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency d3-shape to v3.2.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @babel/core to v7.20.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update module github.com/gin-gonic/gin to v1.8.2
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: resource-service, shipyard-controller, statistics-service, secret-service

build(deps): update module github.com/nats-io/nats.go to v1.22.1
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): update actions/cache action to v3.2.1
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
