Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore: update docker cleanup script to also clean 2022 and 2023 images (#9504)
  gh-actions-scripts/cleanup_docker_images.sh
Due: none

build(deps): update actions/cache action to v3.2.5
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.25.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update docker/build-push-action action to v4
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update amannn/action-semantic-pull-request digest to b6bca70
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.24.4
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

add helper functions to enable pull secrets generation
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

add global helm value to enable setting pull secrets
  installer/manifests/keptn/values.yaml
Due: none

add pull secrets reference to all deployments
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

update helm docs
  installer/manifests/keptn/README.md
Due: none

bump common chart version
  installer/manifests/common/Chart.yaml
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

add missing chart archive
  installer/manifests/keptn/charts/common-0.2.0.tgz
Due: none

feat(installer): add image pull secrets support (#9513)
  installer/manifests/common/Chart.yaml
  installer/manifests/common/templates/_images.tpl
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/README.md
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/common-0.2.0.tgz
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

docs: add AlexsJones and AnaMMedina21 as maintainers
  MAINTAINERS
Due: none

docs: add AlexsJones and AnaMMedina21 as maintainers (#9515)
  MAINTAINERS
Due: none

build(deps): update module golang.org/x/net to v0.7.0 [security]
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: fix bridge UI tests Node compatibility
  .github/workflows/test-and-build-docker-images.yml
Due: none

ci: fix bridge UI tests Node compatibility (#9520)
  .github/workflows/test-and-build-docker-images.yml
Due: none

fix: added tmpl to shippy
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix: updated README
  gh-actions-scripts/generate-helm-docs.sh
  installer/manifests/keptn/README.md
Due: none

fix: updated README
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix: test first version
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  mongodb-datastore/db/mongodb_connection.go
  shipyard-controller/internal/config/envconfig.go
  shipyard-controller/internal/db/mongodb_connection.go
  statistics-service/config/config.go
  statistics-service/db/mongodb_connection.go
Due: mongodb-datastore, shipyard-controller, statistics-service

fix: test first version
  mongodb-datastore/db/mongodb_connection.go
  shipyard-controller/internal/db/mongodb_connection.go
  statistics-service/db/mongodb_connection.go
Due: mongodb-datastore, shipyard-controller, statistics-service

fix: test first version
  shipyard-controller/internal/db/mongodb_connection.go
  statistics-service/db/mongodb_connection.go
Due: shipyard-controller, statistics-service

fix: test first version
  installer/manifests/keptn/templates/mongodb-datastore.yaml
Due: none

fix: put back old func
  mongodb-datastore/db/mongodb_connection.go
  shipyard-controller/internal/db/mongodb_connection.go
  statistics-service/db/mongodb_connection.go
Due: mongodb-datastore, shipyard-controller, statistics-service

fix: put go-utils
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

fix: put go-utils
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: added mongo secrets as volumes (#9524)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  gh-actions-scripts/generate-helm-docs.sh
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/internal/config/envconfig.go
  statistics-service/config/config.go
  statistics-service/db/mongodb_connection.go
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update golang.org/x/exp digest to c95f2b4
  api/go.mod
  api/go.sum
Due: api

fix(installer): fixed mongo connectivity in bridge
  installer/manifests/keptn/templates/core.yaml
Due: none

build(deps): update github.com/docker/distribution digest to e5d5810 [security]
  cli/go.mod
  cli/go.sum
Due: cli

ci: ignore secretad permissions
  .github/kics-config.yml
Due: none

ci: ignore secret permissions (#9530)
  .github/kics-config.yml
Due: none

build(deps): update actions/cache action to v3.2.6
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update dawidd6/action-download-artifact action to v2.26.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix(installer): add missing NATS init container to API service
  installer/manifests/keptn/templates/api-service.yaml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
