Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

Extracted getIcon functionality into function. Added UI tests
  bridge/client/app/_models/sequence.spec.ts
  bridge/client/app/_models/sequence.ts
Due: bridge2

removed second change listener
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
Due: bridge2

Removed code smells. Fixed eslint errors
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/shared/fixtures/service-state-response.mock.ts
Due: bridge2

refactor(bridge): Rename D3 feature flag (#8499)
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_services/_mockData/api-responses/bridgeInfo-response.mock.ts
  bridge/client/app/_services/feature-flags.service.spec.ts
  bridge/client/app/_utils/test.utils.ts
  bridge/cypress/fixtures/bridgeInfo.mock.json
  bridge/cypress/fixtures/bridgeInfoAuthMsg.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableD3Heatmap.mock.json
  bridge/cypress/fixtures/bridgeInfoEnableResourceService.mock.json
  bridge/cypress/integration/project-create.spec.ts
  bridge/server/feature-flags.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/shared/interfaces/feature-flags.ts
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/values.yaml
Due: bridge2, bridge-server

feat: Importer manifest validation
  api/importer/execute/executor.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/test/data/import/sample-package/manifest.yaml
Due: api

fix(shipyard-controller): Merge subscriptions of multiple instances of a registration
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

Fix unit tests
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

make things reactive
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

Updated UI tests
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

split create and update tests
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
Due: bridge2

adopt unit tests
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
Due: bridge2

listen for projectCreated in queryParam
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

upgrade to version 0.17.1
  installer/manifests/keptn/Chart.yaml
Due: none

chore(installer): Improve NATS configuration
  installer/manifests/keptn/values.yaml
Due: none

align with master
  helm-service/chart/charts/common-0.1.0.tgz
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  installer/manifests/keptn/charts/nats-0.17.1.tgz
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

update nats to 0.17.2
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.17.1.tgz
  installer/manifests/keptn/charts/nats-0.17.2.tgz
Due: none

fix
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

fix padding
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update github.com/keptn/keptn/webhook-service digest to 6a389df
  cli/go.mod
  cli/go.sum
Due: cli

refactoring
  shipyard-controller/handler/uniformintegrationhandler.go
  shipyard-controller/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

ci: Add back helm repo add commands in pipelines (#8505)
  .github/workflows/CI.yml
  .github/workflows/security-scans.yml
  gh-actions-scripts/build-helm-charts.sh
Due: none

fix token
  installer/manifests/keptn/values.yaml
Due: none

ci: Reduce integration test NATS replicas to 1
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

try to add extra values for nats
  .github/workflows/integration_tests.yml
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
  test/assets/helm-charts/keptn/values-int-tests.yaml
Due: none

remove unnecessary test
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
Due: bridge2

try out different things
  .github/workflows/integration_tests.yml
Due: none

remove unnecessary module
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
Due: bridge2

make filter more readable and map projectName null to undefined
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

chore(installer): Improve NATS configuration (#8475)
  helm-service/chart/charts/common-0.1.0.tgz
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.13.2.tgz
  installer/manifests/keptn/charts/nats-0.17.2.tgz
  installer/manifests/keptn/values.yaml
  jmeter-service/chart/charts/common-0.1.0.tgz
Due: helm-service, jmeter-service

feat(api): Implement create webhook subscription action
  api/importer/execute/executor.go
  api/importer/execute/fake/webhook.go
  api/importer/execute/integrations.go
  api/importer/execute/integrations_test.go
  api/importer/execute/webhook.go
  api/importer/execute/webhook_test.go
Due: api

feat(api): import operation provides structured output for successful import operations
  api/handlers/fake/projectchecker_mock.go
  api/handlers/importer.go
  api/handlers/importer_test.go
  api/importer/model/execute.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/models/import_summary.go
  api/models/task.go
  api/restapi/embedded_spec.go
  api/restapi/operations/import_operations/import_responses.go
  api/swagger.yaml
Due: api

feat(bridge): Show pause icon if sequence is paused (#8471)
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_models/event-icons.ts
  bridge/client/app/_models/sequence.spec.ts
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/pageobjects/DashboardPage.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

Updated change guard and UI test
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

modify notification text
  bridge/client/app/_components/ktb-app-header/ktb-app-header.component.ts
Due: bridge2

Added PendingChangesGuard to subscription edit page
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view-routing.module.ts
Due: bridge2

refactor(cli): introduced project creator component
  cli/cmd/common.go
  cli/cmd/create_project.go
  cli/cmd/create_project_test.go
  cli/cmd/update_project_test.go
  cli/internal/projectcreator/fake/api_v1_interface.go
  cli/internal/projectcreator/projectcreator.go
  cli/internal/projectcreator/projectcreator_test.go
Due: cli

trigger build
  cli/shipyard.yaml
Due: none

reverted unintended commit
  cli/shipyard.yaml
Due: none

ci: Reduce integration test NATS replicas to 1 (#8514)
  .github/workflows/integration_tests.yml
Due: none

debug-ui init
  shipyard-controller/controller/debugcontroller.go
  shipyard-controller/debug-ui/favicon.png
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.css
  shipyard-controller/debug-ui/index.html
  shipyard-controller/debug-ui/treeview.css
  shipyard-controller/debug-ui/viewevents.html
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  shipyard-controller/handler/debughandler.go
  shipyard-controller/handler/debugmanager.go
  shipyard-controller/main.go
Due: shipyard-controller
