Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

go mod tidy
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: resource-service, shipyard-controller, statistics-service, secret-service

go mod tidy
  api/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

update charts
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-13.6.1.tgz
  installer/manifests/keptn/charts/mongodb-13.6.2.tgz
Due: none

build(deps): update helm release mongodb to v13.6.2
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update golang.org/x/exp digest to 1b44709
  api/go.mod
  api/go.sum
Due: api

build(deps): update jasonetco/create-an-issue action to v2.9.1
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

go mod tidy
  api/go.sum
Due: api

fix(cli): display incompatible upgrade possibilities even if no minor upgrade possibility is available
  cli/pkg/version/version_checker.go
Due: cli

add test
  cli/pkg/version/version_checker_test.go
Due: cli

enhance test with 1.0.0
  cli/pkg/version/version_checker_test.go
Due: cli

more tests
  cli/pkg/version/version_checker_test.go
Due: cli

fix(cli): display incompatible upgrade possibilities even if no minor upgrade is available (#9381)
  cli/pkg/version/version_checker.go
  cli/pkg/version/version_checker_test.go
Due: cli

build(deps): update actions/cache action to v3.2.2
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

added
  .github/workflows/release.yml
Due: none

build(deps): update dependency @types/node to v14.18.36
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

Test-Sbom
  VERSIONING.MD
Due: none

Changed name
  .github/workflows/release.yml
  VERSIONING.MD
Due: none

Added services Sboms
  .github/workflows/release.yml
Due: none

Made oauth port costomizable
  cli/cmd/auth.go
  cli/internal/auth/mocks.go
  cli/internal/auth/oauth.go
Due: cli

build(deps): update dependency yaml to v2.2.1
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

Made port customizable for oauth authentication
  cli/cmd/auth.go
  cli/cmd/authenticator.go
  cli/internal/api.go
  cli/internal/auth/oauth.go
Due: cli

build(deps): update dependency @types/jest to v29.2.5
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fix(resource-service): override insecureSkipTLS only if proxy is set to nil
  resource-service/common/git.go
Due: resource-service

feat(bridge): Sort registration items by name (#9344)
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

updated as per thisthat suggestions
  cli/cmd/auth.go
  cli/cmd/authenticator.go
  cli/internal/auth/oauth.go
Due: cli

added comment and unit test
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

Updated contributor.md
  CONTRIBUTORS.md
Due: none

build(deps): update module golang.org/x/net to v0.5.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(resource-service): override insecureSkipTLS only if proxy is set to nil (#9395)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

build(deps): update module github.com/go-git/go-billy/v5 to v5.4.0
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build(deps): update module gopkg.in/yaml.v2 to v3
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  resource-service/go.sum
Due: resource-service

build(deps): update dawidd6/action-download-artifact action to v2.24.3
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update golang.org/x/exp digest to eab7a2c
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fixed snyk issues
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix replace in go.mod files
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/go-git/go-git/v5 to v5.5.1
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service
