Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: upgrade @dynatrace/barista-components from 10.10.0 to 10.12.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: upgrade @storybook/angular from 6.5.15 to 6.5.16
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: upgrade yaml from 2.1.3 to 2.2.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: upgrade @dynatrace/barista-icons from 7.24.1 to 7.25.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): bump dependencies (#9565)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore: Move adopters page to community repo (#9552)
  ADOPTERS.md
Due: none

build(deps): update golang docker tag to v1.19.7
  api/Dockerfile
  approval-service/Dockerfile
  cli/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

build(deps): update module github.com/tryvium-travels/memongo to v0.9.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

fix: upgrade axios from 1.2.1 to 1.3.3
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

fix: upgrade openid-client from 5.3.1 to 5.4.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

fix: upgrade mongodb from 4.12.1 to 4.14.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update helm release mongodb to v13.6.8
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

feat(bridge): Add support for NodeJS18 with a caching dir
  bridge/Dockerfile
  installer/manifests/keptn/templates/core.yaml
Due: none

feat(bridge): Add support for NodeJS18 introducing a caching dir on an emptydir volume (#9582)
  bridge/Dockerfile
  installer/manifests/keptn/templates/core.yaml
Due: none

build(deps): update actions/cache action to v3.3.1
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: Fix security checks - allow resource-service to read secrets
  .github/kics-config.yml
Due: none

chore: Fix security checks - allow resource-service to read secrets (#9588)
  .github/kics-config.yml
Due: none

build(deps): update golang.org/x/exp digest to 10a5072
  api/go.mod
  api/go.sum
Due: api

build(deps): update amannn/action-semantic-pull-request digest to ff373f4
  .github/workflows/validate-semantic-pr.yml
Due: none

build(deps): update anchore/sbom-action action to v0.13.4
  .github/workflows/release.yml
Due: none

build(deps): update actions/setup-go action to v4
  .github/workflows/auto-update-go-utils.yml
  .github/workflows/build-cli.yml
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/reviewdog.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: security pipeline
  .github/workflows/security-scans.yml
Due: none

fix: security pipeline (#9597)
  .github/workflows/security-scans.yml
Due: none

fix pipelines by using the correct image registries and removing conditions that changed to keptndev instead of keptn as container registry
  .github/workflows/CI.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
  gh-actions-scripts/build-helm-charts.sh
  installer/airgapped/pull_and_retag_images.sh
  test/assets/helm-charts/keptn/values-int-tests-dev.yaml
Due: none

change test image in unit test from docker to ghcr
  bridge/client/app/_services/data.service.spec.ts
Due: bridge2

remove file pushed by accident
  common-1.0.tgz
Due: none

change container registry in helm values from docker to ghcr
  installer/manifests/keptn/values.yaml
Due: none

more text replacements
  gh-actions-scripts/check-image-digests.sh
Due: none

update more docs
  docs/developer/debugging.md
  docs/developer/install_master.md
Due: none

remove unneeded occurrences of docker and unneeded comments
  bridge/Dockerfile
  lighthouse-service/Dockerfile
  remediation-service/Dockerfile
Due: none

change variable names in pipelines, remove pushing to dockerhub from release pipeline
  .github/workflows/check-docker-image-digests.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

change variable names from docker to container
  .github/workflows/detect_stale_images.yml
  .github/workflows/integration_tests.yml
  gh-actions-scripts/build-helm-charts.sh
  gh-actions-scripts/cleanup_docker_images.sh
  gh-actions-scripts/detect_stale_images.sh
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
Due: none

update test files
  approval-service/pkg/handler/approval_triggered_event_handler_test.go
  cli/cmd/get_event_approvalTriggered_test.go
  cli/cmd/send_event_approvalFinished_test.go
  cli/pkg/docker/docker_utils_test.go
  test/zero-downtime/testsuite_zerodowntime_test.go
Due: cli, approval-service

remove occurrences of docker where possible, change docker to ghcr in command examples
  CONTRIBUTING.md
  README.md
  cli/README.md
Due: none

regenerate helm docs
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

fix typo
  cli/pkg/docker/docker_utils.go
Due: cli

move skaffold files to ghcr
  api/deploy/service.yaml
  api/skaffold.yaml
  approval-service/deploy/service.yaml
  approval-service/skaffold.yaml
  bridge/skaffold.yaml
  distributor/README.md
  distributor/deploy/distributor.yaml
  distributor/skaffold.yaml
  lighthouse-service/deploy/service.yaml
  lighthouse-service/skaffold.yaml
  mongodb-datastore/deploy/mongodb-datastore.yaml
  mongodb-datastore/skaffold.yaml
  remediation-service/deploy/service.yaml
  remediation-service/skaffold.yaml
  resource-service/deploy/service.yaml
  resource-service/skaffold.yaml
  secret-service/deploy/service.yaml
  secret-service/skaffold.yaml
  shipyard-controller/deploy/service.yaml
  shipyard-controller/skaffold.yaml
  statistics-service/deploy/service.yaml
  statistics-service/skaffold.yaml
  webhook-service/deploy/service.yaml
  webhook-service/skaffold.yaml
Due: none

try to fix unit tests
  cli/pkg/docker/docker_utils_test.go
Due: cli

revert cleanup script, since it actually works only with docker
  gh-actions-scripts/cleanup_docker_images.sh
Due: none

test: adapt uniform integration tests to restart echo service after subscription change
  test/go-tests/test_uniform.go
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
