Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

bump go to 1.20
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix
  api/Dockerfile
  approval-service/Dockerfile
  cli/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

update mongodb
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.2.0.tgz
  installer/manifests/keptn/charts/mongodb-13.6.3.tgz
  installer/manifests/keptn/charts/mongodb-13.9.4.tgz
Due: none

bump go version
  .github/workflows/CI.yml
  .github/workflows/auto-update-go-utils.yml
  .github/workflows/build-cli.yml
  .github/workflows/build-helm-charts.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  .github/workflows/security-scans.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

adapt dockerfiles
  mongodb-datastore/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
Due: none

fix k3d
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): update module github.com/nats-io/nats.go to v1.25.0
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

fix build
  api/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): bump dependencies
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  test/go-tests/go.mod
  test/zero-downtime/go.mod
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update helm release nats to v0.19.12
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
  installer/manifests/keptn/charts/common-0.2.0.tgz
  installer/manifests/keptn/charts/nats-0.19.12.tgz
  installer/manifests/keptn/charts/nats-0.19.5.tgz
Due: none

update charts
  installer/manifests/keptn/charts/common-0.2.0.tgz
Due: none

change retag image tag
  installer/airgapped/pull_and_retag_images.sh
Due: none

build(deps): bump dependencies (#9627)
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
  api/go.mod
  api/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  test/go-tests/go.mod
  test/zero-downtime/go.mod
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update golang.org/x/exp digest to 0354be2
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/cloudevents/sdk-go/protocol/nats/v2 to v2.14.0
  distributor/go.mod
  distributor/go.sum
Due: distributor

go mod tidy
  distributor/go.sum
Due: distributor

go mod tidy
  api/go.sum
Due: api

build(deps): update golang.org/x/exp digest to 864b3d6
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/cloudevents/sdk-go/v2 to v2.14.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, cli, approval-service, lighthouse-service, shipyard-controller

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.sum
Due: api, cli, approval-service, lighthouse-service, shipyard-controller

build(deps): update docker.io/nginxinc/nginx-unprivileged docker tag to v1.23.4
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update docker.io/nginxinc/nginx-unprivileged docker tag to v1.24.0
  installer/manifests/keptn/values.yaml
Due: none

airgapped
  installer/airgapped/pull_and_retag_images.sh
Due: none

adapt docs
  installer/manifests/keptn/README.md
Due: none

build(deps): update golang.org/x/exp digest to 133eef4
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.16
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update google-github-actions/auth action to v1.1.0
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update module github.com/go-openapi/runtime to v0.26.0
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update node.js to v20
  bridge/Dockerfile
Due: none

build(deps): update module github.com/otiai10/copy to v1.11.0
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build: rebuild master
  .gitignore
Due: none

build: rebuild master (#9642)
  .gitignore
Due: none
