Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix unit test
  cli/cmd/trigger_delivery_test.go
Due: cli

test(bridge): Remove git commit from model and mocks (#8381)
  bridge/client/app/_services/_mockData/api-responses/deployment-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/evaluation-results-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/event-result-response.mock.ts
  bridge/client/app/_services/_mockData/api-responses/traces-response.mock.ts
  bridge/client/app/_services/_mockData/deployments.mock.ts
  bridge/client/app/_services/_mockData/evaluation-chart-item.mock.ts
  bridge/client/app/_services/_mockData/evaluations-keySli.mock.ts
  bridge/client/app/_services/_mockData/evaluations-top10.mock.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/client/app/_services/_mockData/trace.mock.ts
  bridge/cypress/fixtures/get.approval-evaluation.mock.json
  bridge/cypress/fixtures/get.approval.json
  bridge/cypress/fixtures/get.environment.evaluation.history.carts-db.mock.json
  bridge/cypress/fixtures/get.environment.evaluation.history.limited.mock.json
  bridge/cypress/fixtures/get.environment.evaluation.history.mock.json
  bridge/cypress/fixtures/get.events.cfaadbb1-3c47-46e5-a230-d0f055f4f518.mock.json
  bridge/cypress/fixtures/get.service.deployment.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.with.remediations.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.10metrics.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.manyscores.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.twohighlights.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.keysli.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.mock.json
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequence.traces.mock.json
  bridge/cypress/fixtures/service/get.eval.data.json
  bridge/cypress/fixtures/service/get.event.data.json
  bridge/cypress/fixtures/service/get.event.keptn.context.json
  bridge/cypress/fixtures/service/get.event2.data.json
  bridge/cypress/fixtures/typed/evaluationFinished.mock.ts
  bridge/server/fixtures/project-details-response.mock.ts
  bridge/shared/fixtures/open-remediations-response.mock.ts
  bridge/shared/fixtures/project-response.mock.ts
  bridge/shared/fixtures/service-deployment-response.mock.ts
  bridge/shared/fixtures/traces-response.mock.ts
  bridge/shared/models/trace.ts
Due: bridge2, bridge-server

fix(resource-service): Return 404 with trailing slashes (#8265)
  resource-service/main.go
Due: resource-service

chore(bridge): Fix Sonar issues (#8384)
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_models/json-serializable.ts
  bridge/client/app/_services/clipboard.service.spec.ts
  bridge/client/app/_services/clipboard.service.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/styles.scss
Due: bridge2

implement review feedback
  .github/kics-config.yml
  .github/workflows/security-scans.yml
Due: none

feat(api): Add create-secret api action to import endpoint (#8348)
  api/deploy/service.yaml
  api/importer/execute/default_api.go
  api/importer/execute/default_api_test.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/executor_mock.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
  installer/manifests/keptn/templates/api-service.yaml
Due: api

Merged master
  bridge/client/app/app.module.ts
Due: bridge2

ci: Security Scans (#8321)
  .github/kics-config.yml
  .github/kubescape-config.json
  .github/workflows/security-scans.yml
Due: none

fix(bridge): Navigating to service from stage-details
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

fix(cli): Print ID of Keptn context after sending events (#8392)
  cli/cmd/send_event.go
  cli/cmd/trigger_delivery.go
  cli/cmd/trigger_delivery_test.go
  cli/cmd/trigger_evaluation.go
Due: cli

chore(bridge): Fix Sonar issues part 2
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-selectable-tile/ktb-selectable-tile.component.ts
  bridge/cypress/support/intercept.ts
  bridge/server/api/index.ts
  bridge/server/interfaces/shipyard.ts
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

feat(api): implement import package resource task
  api/importer/execute/default_api.go
  api/importer/execute/executor.go
  api/importer/execute/executor_test.go
  api/importer/execute/fake/executor_mock.go
  api/importer/execute/keptn_endpoints.go
  api/importer/execute/keptn_endpoints_test.go
  api/importer/execute/resource.go
  api/importer/execute/resource_test.go
  api/importer/execute/utils.go
  api/importer/fake/package_processor_mock.go
  api/importer/model/execute.go
  api/importer/model/manifest.go
  api/importer/model/parser_test.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/restapi/configure_keptn.go
Due: api

feat(api): push resource to all stages if not specified in manifest
  api/handlers/project_checker.go
  api/handlers/project_checker_test.go
  api/importer/execute/keptn_endpoints.go
  api/importer/fake/stage_retriever_mock.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
  api/restapi/configure_keptn.go
Due: api

feat(api): add sanity checks for import manifest tasks
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

refactor(api): split package processor api and resource task processing
  api/importer/package_processor.go
Due: api

refactor(api): rename ControlPlaneProjectChecker
  api/handlers/project_retriever.go
  api/handlers/project_retriever_test.go
  api/restapi/configure_keptn.go
Due: api

Removed cypress only calls.
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/integration/environment.spec.ts
Due: bridge2

test(bridge): Fix flaky UI test in dashboard.spec
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

Renamed dashboard-legacy to dashboard
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view-routing.module.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.module.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.ts
  bridge/client/app/app.routing.ts
Due: bridge2

Removed unneeded RouterModule import
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.module.ts
Due: bridge2

test(bridge): Fix flaky UI test in dashboard.spec (#8402)
  bridge/cypress/integration/dashboard.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

chore(bridge): Fix Sonar issues part 2 (#8398)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-selectable-tile/ktb-selectable-tile.component.ts
  bridge/cypress/support/intercept.ts
  bridge/server/api/index.ts
  bridge/server/interfaces/shipyard.ts
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

fix(webhook-service): Do not respond to anything else than .triggered event on pre execution error (#8337)
  webhook-service/handler/handler.go
  webhook-service/handler/handler_test.go
Due: webhook-service

fix(bridge): Fix incorrect API URL for auth command (#8386)
  bridge/server/interfaces/configuration.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
Due: bridge2, bridge-server

Added alias for mongodb-datastore
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/intercept.ts
Due: bridge2

Renamed dashboard unit test block
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.spec.ts
Due: bridge2

feat(bridge): Modularize dashboard view and introduce lazy loading (#8315)
  bridge/client/app/_components/ktb-project-list/ktb-project-list.module.ts
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.module.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view-routing.module.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-dashboard-view.module.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

feat(bridge): Show user info for OAuth "Insufficient permission " error message
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
  bridge/client/app/_interceptors/http-error-interceptor.ts
  bridge/cypress/integration/auth.spec.ts
Due: bridge2

chore(bridge): Generalization of showing a running sequence (#8379)
  bridge/client/app/_models/deployment.spec.ts
  bridge/client/app/_models/deployment.ts
  bridge/client/app/_models/sequence.ts
  bridge/client/app/_models/service-state.spec.ts
  bridge/client/app/_models/service-state.ts
  bridge/client/app/_services/_mockData/api-responses/service-states-results-response.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.scss
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.running.mock.json
  bridge/cypress/integration/service-remediations.spec.ts
  bridge/cypress/integration/services-page.spec.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/server/api/index.ts
  bridge/server/services/data-service.ts
  bridge/server/test/service-deployment.spec.ts
  bridge/server/test/service-states.spec.ts
  bridge/shared/fixtures/service-deployment-response.mock.ts
  bridge/shared/fixtures/service-state-response.mock.ts
  bridge/shared/models/service-state.ts
Due: bridge2, bridge-server

rearrange tests
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

build(deps): Update keptn/go-utils to 5415a61d819bd94f5fd9b388cb7af46ac85cf707
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix imports
  bridge/client/app/_components/ktb-notification/ktb-notification.component.spec.ts
  bridge/client/app/_components/ktb-notification/ktb-notification.module.ts
Due: bridge2

fix unit tests
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.spec.ts
Due: bridge2

fix unit tests
  bridge/client/app/_components/ktb-notification/ktb-notification.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.spec.ts
Due: bridge2

fix wrong menu button label
  bridge/cypress/support/pageobjects/SettingsPage.ts
Due: bridge2

fix wrong menu selection by id
  bridge/client/app/_views/ktb-settings-view/ktb-settings-view.component.html
  bridge/cypress/support/pageobjects/SettingsPage.ts
Due: bridge2

stop propagation on click
  bridge/client/app/_components/ktb-no-service-info/ktb-no-service-info.component.html
Due: bridge2
