Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

cleanup
  cli/cmd/trigger_sequence.go
  cli/cmd/trigger_sequence_test.go
Due: cli

cleanup
  cli/cmd/trigger_sequence.go
Due: cli

refactoring
  cli/cmd/add_resource.go
Due: cli

review
  cli/cmd/trigger_sequence.go
Due: cli

feat(cli): Support adding resources to all stages without defining a service + refactoring (#8822)
  cli/cmd/add_resource.go
  cli/cmd/add_resource_test.go
Due: cli

build(deps): Auto-update go-utils to latest version (#8829)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(shipyard-controller): Only update specific properties when updating projects MV on event (#8817)
  shipyard-controller/internal/controller/fake/sequencetaskevent.go
  shipyard-controller/internal/controller/fake/sequencetaskfinished.go
  shipyard-controller/internal/controller/fake/sequencetaskstarted.go
  shipyard-controller/internal/controller/hooks.go
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/sequencestate_test.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_hooks.go
  shipyard-controller/internal/controller/shipyardcontroller_test.go
  shipyard-controller/internal/db/common.go
  shipyard-controller/internal/db/common/common.go
  shipyard-controller/internal/db/common/common_test.go
  shipyard-controller/internal/db/migration/project_mv_migration.go
  shipyard-controller/internal/db/mock/projectmvrepo_mock.go
  shipyard-controller/internal/db/mock/projectrepo_mock.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv.go
  shipyard-controller/internal/db/models/projects_mv/projects_mv_test.go
  shipyard-controller/internal/db/mongodb.go
  shipyard-controller/internal/db/mongodb_event_repo.go
  shipyard-controller/internal/db/mongodb_eventqueue_repo.go
  shipyard-controller/internal/db/mongodb_log_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/internal/db/mongodb_project_repo.go
  shipyard-controller/internal/db/mongodb_project_repo_test.go
  shipyard-controller/internal/db/mongodb_sequence_execution_repo.go
  shipyard-controller/internal/db/mongodb_state_repo.go
  shipyard-controller/internal/db/mongodb_uniform_repo.go
  shipyard-controller/internal/db/repos.go
  shipyard-controller/internal/handler/fake/projectmanager.go
  shipyard-controller/main.go
Due: shipyard-controller

return error when trying to changing an already set value
  cli/internal/textutils.go
  cli/internal/textutils_test.go
Due: cli

build(release): 0.19.0 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

build(deps): update dependency @types/node to v14.18.28
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fix: upgrade mongodb from 4.8.1 to 4.9.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update golang.org/x/exp digest to 5c715a9
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/spf13/viper to v1.13.0
  cli/go.mod
Due: cli

feat(resource-service): Compute git auth method once per API request
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

added missing go.sum entries
  api/go.sum
Due: api

chore(installer): Adapt resource limits
  installer/manifests/keptn/values.yaml
Due: none

build(deps): update golang.org/x/net digest to bea034e
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

added missing go.sum entries
  remediation-service/go.mod
  remediation-service/go.sum
Due: remediation-service

added missing go.sum entries
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

added missing go.sum entries
  api/go.mod
  api/go.sum
Due: api

pr review
  resource-service/errors/errors.go
  resource-service/handler/project_manager.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/stage_manager.go
Due: resource-service

build(deps): update golang.org/x/oauth2 digest to f213421
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

build(deps): update module go.mongodb.org/mongo-driver to v1.10.2
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: mongodb-datastore

added missing go.sum entries
  mongodb-datastore/go.sum
Due: mongodb-datastore

chore(installer): Adapt resource limits (#8840)
  installer/manifests/keptn/values.yaml
Due: none

added missing go.sum entries
  cli/go.mod
  cli/go.sum
Due: cli

added missing go.sum entries
  cli/go.mod
  cli/go.sum
  distributor/go.sum
Due: cli, distributor

additional tests
  resource-service/handler/common_test.go
Due: resource-service

feat(resource-service): Compute git auth method once per API request (#8824)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common_models/git.go
  resource-service/errors/errors.go
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/service_manager.go
  resource-service/handler/service_manager_test.go
  resource-service/handler/stage_manager.go
  resource-service/handler/stage_manager_test.go
Due: resource-service

feat(cli): Introduce `--data` option for `trigger sequence` command (#8830)
  cli/cmd/trigger_sequence.go
  cli/cmd/trigger_sequence_test.go
  cli/internal/textutils.go
  cli/internal/textutils_test.go
Due: cli

Resolve conflict of antiAffinity and affinity between service and default configuration
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

pass component variable to inner functions
  installer/manifests/keptn/README.md
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/values.yaml
Due: none

Resolve merge conflicts
  installer/manifests/keptn/README.md
Due: none

templating improvements for readability
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/core.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

fix(resource-service): Map go-git specific error types to keptn error types understood by the resource service error handler
  resource-service/common/git.go
  resource-service/handler/common.go
Due: resource-service

build(deps): update dependency @types/marked to v4.0.7
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang docker tag to v1.18.6
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

fix(resource-service): Map go-git specific error types to keptn error types understood by the resource service error handler
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
