Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build
  installer/manifests/keptn/templates/shipyard-controller.yaml
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
  shipyard-controller/main.go
Due: shipyard-controller

cleanup rbac
  installer/manifests/keptn/templates/rbac.yaml
Due: none

fix
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

create configmap before shipyard deployment
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

close used file
  shipyard-controller/common/denylistprovider.go
Due: shipyard-controller

remove rbac changes
  installer/manifests/keptn/templates/rbac.yaml
Due: none

cover handler by tests
  shipyard-controller/handler/projecthandler_test.go
Due: shipyard-controller

introduce remoteurlvalidator
  shipyard-controller/common/fake/remoteurl_validator_mock.go
  shipyard-controller/common/remoteurl_validator.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/main.go
Due: shipyard-controller

covered validator with tests
  shipyard-controller/handler/fake/remoteurl_validator_mock.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/remoteurl_validator.go
  shipyard-controller/handler/remoteurl_validator_test.go
  shipyard-controller/main.go
Due: shipyard-controller

create configmap
  installer/manifests/keptn/templates/rbac.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

refactor
  installer/manifests/keptn/templates/shipyard-controller.yaml
  shipyard-controller/main.go
Due: shipyard-controller

align with master
  shipyard-controller/handler/projecthandler.go
Due: shipyard-controller

fix shippy tests + add new tests
  shipyard-controller/handler/projecthandler_test.go
Due: shipyard-controller

working configmap mounted as volume
  installer/manifests/keptn/templates/shipyard-controller.yaml
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
Due: shipyard-controller

try
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
  shipyard-controller/main.go
Due: shipyard-controller

working version
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
Due: shipyard-controller

feat(shipyard-controller): Introduce RemoteURL denyList
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/error.go
  shipyard-controller/common/fake/denylistprovider_mock.go
  shipyard-controller/handler/common.go
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/main.go
Due: shipyard-controller

fix volumes
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

add features.gitRemoteURLDenyList helm value
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

fix
  installer/manifests/keptn/templates/shipyard-controller.yaml
  shipyard-controller/main.go
Due: shipyard-controller

add more tests
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
Due: shipyard-controller

final version
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
  shipyard-controller/common/fake/denylistprovider_mock.go
  shipyard-controller/common/fake/filereader_mock.go
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
  shipyard-controller/handler/remoteurl_validator.go
  shipyard-controller/handler/remoteurl_validator_test.go
  shipyard-controller/main.go
Due: shipyard-controller

fix component tests
  shipyard-controller/main_test.go
Due: shipyard-controller

working version without tests
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
Due: shipyard-controller

go to start before every read
  shipyard-controller/common/denylistprovider.go
Due: shipyard-controller

cover denylistprovider with tests
  shipyard-controller/common/denylistprovider.go
  shipyard-controller/common/denylistprovider_test.go
  shipyard-controller/main.go
Due: shipyard-controller

go mod tidy
  resource-service/go.sum
Due: resource-service

get rid of local projectName
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

feat(bridge): Add use-case for 100 projects
  bridge/stories/components/Mockup.stories.ts
Due: bridge2

feat(bridge): Fix Sonar issue
  bridge/stories/components/WebhookSettings.stories.ts
Due: bridge2

feat(bridge): Fix yarn lockfile
  bridge/yarn.lock
Due: bridge2

feat(bridge): Fix Sonar code smell
  bridge/stories/components/Mockup.stories.ts
Due: bridge2

fix(installer): Disable nats cluster due to unreliable behavior
  installer/manifests/keptn/values.yaml
Due: none

feat(bridge): Fix Sonar issue
  bridge/stories/components/Mockup.stories.ts
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
