Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Modularized common use cases view
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.module.ts
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.spec.ts
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.module.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.html
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.scss
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.spec.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.component.ts
  bridge/client/app/_components/ktb-keptn-services-list/ktb-keptn-services-list.module.ts
  bridge/client/app/_components/ktb-loading/ktb-loading.module.ts
  bridge/client/app/_components/ktb-markdown/ktb-markdown.component.scss
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view-routing.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.scss
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.component.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.html
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.scss
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-markdown/ktb-markdown.component.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.ts
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.scss
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

Fixed module import in tests
  bridge/client/app/_views/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
Due: bridge2

fix(bridge): Fix 'view more' of quick filter
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.scss
  bridge/cypress/fixtures/sequence.filter-many.mock.json
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

build(deps): Auto-update go-utils to latest version (#8303)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  configuration-service/go.mod
  configuration-service/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fixed code style
  bridge/cypress/fixtures/sequence.filter-many.mock.json
Due: bridge2

build(deps): update dependency @dynatrace/barista-icons to v7.23.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

use distributor values namespace and hostname in svc env vars
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

add back downward api version
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

debugging
  .github/workflows/integration_tests.yml
  test/go-tests/test_uniform.go
  test/go-tests/testsuite_gke_test.go
Due: none

replace tabs with spaces
  test/go-tests/test_uniform.go
Due: none

revert debugging changes
  test/go-tests/test_uniform.go
Due: none

- Implement requested changes
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.ts
  bridge/client/app/_models/secret.spec.ts
  bridge/client/app/_models/secret.ts
  bridge/server/models/webhook-config.utils.ts
  bridge/shared/interfaces/secret.ts
Due: bridge2, bridge-server

add flag to decide between control plane and remote exec plane
  test/go-tests/test_uniform.go
Due: none

activate other uniform integration tests
  test/go-tests/testsuite_gke_test.go
Due: none

mistake
  test/go-tests/test_uniform.go
Due: none

- Fix unit test
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
Due: bridge2

remove check for location
  test/go-tests/test_uniform.go
Due: none

adjust docs comments
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

revert debugging changes
  .github/workflows/integration_tests.yml
  test/go-tests/testsuite_gke_test.go
Due: none

- Remove secret utility functions in client
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_models/secret.spec.ts
  bridge/client/app/_models/secret.ts
Due: bridge2

fix(bridge): Fix missing menu icon selection
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/ProjectBoardPage.ts
Due: bridge2

Fixed imports inside test files
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.component.spec.ts
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.spec.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_views/ktb-common-use-cases-view/ktb-common-use-cases-view.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
Due: bridge2

fix(bridge): Fix missing sequence menu icon selection (#8308)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/ProjectBoardPage.ts
Due: bridge2

fix(bridge): Fix 'view more' of quick filter (#8306)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.scss
  bridge/cypress/fixtures/sequence.filter-many.mock.json
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
Due: bridge2

fix: Use distributor values namespace and hostname in svc env vars (#8297)
  installer/manifests/keptn/templates/_helpers.tpl
  test/go-tests/test_uniform.go
Due: none

fix: Use distributor values namespace and hostname in svc env vars
  installer/manifests/keptn/charts/control-plane/templates/_helpers.tpl
  test/go-tests/test_uniform.go
Due: none

Moved dashboard-legacy to view/ktb-dashboard-legacy
  bridge/client/app/_views/ktb-dashboard-legacy/ktb-dashboard-legacy.component.html
  bridge/client/app/_views/ktb-dashboard-legacy/ktb-dashboard-legacy.component.scss
  bridge/client/app/_views/ktb-dashboard-legacy/ktb-dashboard-legacy.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy/ktb-dashboard-legacy.component.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

test(bridge): Fix dashboard unit tests - Refactor the unit tests which were not asserting and therefore always incorrectly succeed
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.spec.ts
Due: bridge2

feat(bridge): Modularize environment view and introduce lazy loading
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.spec.ts
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.module.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.component.spec.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.module.ts
  bridge/client/app/_components/ktb-loading/ktb-loading.module.ts
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.spec.ts
  bridge/client/app/_components/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view-routing.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.spec.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.spec.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

updated README.md
  README.md
Due: none

build(release): 0.17.0 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

review
  README.md
Due: none

refactor(bridge): Refactor secrets page (#8300)
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.html
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.spec.ts
  bridge/client/app/_components/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.html
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.spec.ts
  bridge/client/app/_components/ktb-secrets-list/ktb-secrets-list.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
  bridge/client/app/_models/secret.spec.ts
  bridge/client/app/_models/secret.ts
  bridge/client/app/_services/_mockData/api-responses/secrets-response.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/server/models/webhook-config.utils.spec.ts
  bridge/server/models/webhook-config.utils.ts
  bridge/server/services/api-service.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/secret.ts
Due: bridge2, bridge-server

Modularized dashboard view I
  bridge/client/app/_components/ktb-loading/ktb-loading.module.ts
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view-routing.module.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.html
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.scss
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.component.ts
  bridge/client/app/_views/ktb-dashboard-legacy-view/ktb-dashboard-legacy-view.module.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.spec.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2

test(bridge): Fix dashboard unit tests (#8312)
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.spec.ts
Due: bridge2

fixed imports to be relative again
  bridge/client/app/_components/_dialogs/ktb-delete-confirmation/ktb-delete-confirmation.component.scss
  bridge/client/app/_components/ktb-date-input/ktb-datetime-picker.component.scss
  bridge/client/app/_components/ktb-date-input/ktb-time-input.component.scss
  bridge/client/app/_components/ktb-loading/ktb-loading-spinner.component.scss
  bridge/client/app/_components/ktb-project-list/ktb-project-tile.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.scss
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
