Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

feat: adds concurrency to release job to avoid race condition
  .github/workflows/release.yml
Due: none

fix: upgrade mongodb from 4.12.1 to 4.13.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency prettier to v2.8.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update actions/setup-node action to v3.6.0
  .github/workflows/dependencies-and-licenses.yml
  .github/workflows/integration_tests.yml
  .github/workflows/release.yml
  .github/workflows/validate-helm-docs.yml
Due: none

build(deps): update golang docker tag to v1.19.5
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

build(deps): update haveyoudebuggedit/gotestfmt-action action to v2.1.0
  .github/workflows/zero-downtime-tests.yml
Due: none

fix: upgrade d3-shape from 3.1.0 to 3.2.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: upgrade d3 from 7.7.0 to 7.8.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix: upgrade yaml from 2.1.3 to 2.2.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

ci: add concurrency group to release pipeline to avoid race conditions (#9420)
  .github/workflows/release.yml
Due: none

build(deps): update typescript-eslint monorepo to v5.48.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Updated test cli/internal/oauth_test.go
  cli/internal/auth/oauth_test.go
  cli/internal/auth/redirect.go
Due: cli

Added Dockerfile and .dockerignore file
  cli/.dockerignore
  cli/Dockerfile
Due: cli

completed Dockerfile for builder image
  cli/Dockerfile
Due: none

Finished Dockerfile completely
  cli/Dockerfile
Due: none

build(deps): update helm release mongodb to v13.6.3
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

Added additional line at the end
  cli/.dockerignore
  cli/Dockerfile
Due: cli

build(deps): update dependency d3 to v7.8.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

rename according to github org change notice
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update dependency @types/express to v4.17.15
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency axios to v1.2.2
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

Updated as per suggestions
  cli/.dockerignore
  cli/Dockerfile
Due: cli

updated auth/oauth_test.go
  cli/internal/auth/oauth_test.go
Due: cli

ci: Disable renovate for JS updates
  .github/renovate.json
Due: none

ci: Disable renovate for JS updates (#9435)
  .github/renovate.json
Due: none

build(deps): update actions/cache action to v3.2.3
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update gotesttools/gotestfmt action to v2.4.1
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update helm release nats to v0.19.5
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

bump nats image version in airgapped installer
  installer/airgapped/pull_and_retag_images.sh
Due: none

ci: Fix concurrency settings in release pipeline
  .github/workflows/release.yml
Due: none

ci: Fix concurrency settings in release pipeline (#9439)
  .github/workflows/release.yml
Due: none

build(deps): update golang.org/x/exp digest to 1de6713
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/cloudevents/sdk-go/v2 to v2.13.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, cli, distributor, approval-service, lighthouse-service, shipyard-controller

fix(installer): Use correct image after dependency update
  installer/airgapped/pull_and_retag_images.sh
Due: none

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.sum
Due: api, cli, distributor, approval-service, lighthouse-service, shipyard-controller

fix go.sum
  api/go.sum
Due: api

build(deps): update k8s.io/utils digest to 391b47c
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
Due: api

fix(installer): Use correct image after dependency update (#9442)
  installer/airgapped/pull_and_retag_images.sh
Due: none
