Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

Updated dialog selection
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

Removed unwanted version from package.json
  bridge/package.json
Due: bridge2

Change ResourceExists implementation
  api/handlers/zip_package.go
  api/handlers/zip_package_test.go
  api/importer/fake/package_processor_mock.go
  api/importer/package_processor.go
  api/importer/package_processor_test.go
Due: api

Add supported action function
  api/importer/execute/executor.go
  api/importer/package_processor.go
Due: api

Add supported action function to unit tests
  api/importer/fake/package_processor_mock.go
  api/importer/package_processor_test.go
Due: api

Added delete section to subscription edit page
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/client/app/_interfaces/delete.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

pagination
  shipyard-controller/Dockerfile
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.html
  shipyard-controller/handler/debughandler.go
  shipyard-controller/handler/debughandler_test.go
  shipyard-controller/handler/debugmanager.go
  shipyard-controller/handler/debugmanager_test.go
  shipyard-controller/handler/fake/debugmanager.go
Due: shipyard-controller

test case
  shipyard-controller/handler/debughandler_test.go
  shipyard-controller/handler/debugmanager_test.go
Due: shipyard-controller

Add tests for incorrect import
  test/go-tests/test_importer_test.go
  test/go-tests/testsuite_gke_test.go
Due: none

Add tests to K3S testsuite
  test/go-tests/testsuite_k3s_test.go
Due: none

- Changes due to code review
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

build(release): 0.18.1 [skip ci]
  CHANGELOG.md
  VERSION.txt
Due: none

Added unit and UI tests
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

Added unit and UI tests
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-line-chart-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details-utils.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-detials-line-chart-utils.ts
  bridge/client/app/_services/_mockData/evaluations.mock.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.evaluations.heatmap.mock.json
  bridge/cypress/fixtures/typed/evaluationFinishedScoreMock.ts
  bridge/cypress/integration/components/line-chart.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/LineChartComponentPage.ts
Due: bridge2

- Fix
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

debugcontroller routing package
  shipyard-controller/internal/handler/debughandler.go
  shipyard-controller/internal/handler/debughandler_test.go
  shipyard-controller/internal/handler/debugmanager.go
  shipyard-controller/internal/handler/debugmanager_test.go
  shipyard-controller/internal/routing/debugcontroller.go
  shipyard-controller/main.go
Due: shipyard-controller

swagger ui debughandler
  shipyard-controller/internal/handler/debughandler.go
Due: shipyard-controller

Added additional ui tests
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/pageobjects/SecretsPage.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

build(deps): update golang.org/x/oauth2 digest to 128564f
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

fix: upgrade rxjs from 7.5.5 to 7.5.6
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Removed console.log statement
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

Code cleanup
  test/go-tests/test_importer_test.go
  test/go-tests/test_utils.go
Due: none

removed cd integration test
  test/go-tests/test_continuous_delivery.go
  test/go-tests/testsuite_gke_test.go
Due: none

started implementing component test
  shipyard-controller/main_test.go
Due: shipyard-controller

- Fixes
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

fix(shipyard-controller): Merge subscriptions of multiple instances of a registration (#8509)
  shipyard-controller/internal/handler/uniformintegrationhandler.go
  shipyard-controller/internal/handler/uniformintegrationhandler_test.go
Due: shipyard-controller

feat(bridge): Link secret creation from secret selection (#8478)
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.html
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.component.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.spec.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view-routing.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
  bridge/cypress/integration/uniform-integrations.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/SecretsPage.ts
  bridge/cypress/support/pageobjects/UniformPage.ts
Due: bridge2

changed the way triggered events are fetched in project mv
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_component_test.go
  shipyard-controller/internal/db/mongodb_project_mv_repo.go
  shipyard-controller/internal/db/mongodb_project_mv_repo_test.go
  shipyard-controller/main.go
  shipyard-controller/main_test.go
Due: shipyard-controller

javascript fixes
  shipyard-controller/debug-ui/fetch_events.js
  shipyard-controller/debug-ui/fetch_sequences.js
  shipyard-controller/debug-ui/index.html
  shipyard-controller/debug-ui/viewevents.html
Due: shipyard-controller

eliminated artificial sleep in test
  shipyard-controller/main_test.go
Due: shipyard-controller

Created sequence-execution-result interface. Added /sequence-execution API call. Added navigation to current running sequence
  bridge/client/app/_components/_dialogs/ktb-confirmation-dialog/ktb-confirmation-dialog.component.ts
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.ts
  bridge/client/app/_interfaces/service-remediation-information.ts
  bridge/client/app/_models/deployment.spec.ts
  bridge/client/app/_models/deployment.ts
  bridge/client/app/_models/sequence-result.ts
  bridge/client/app/_models/sequence.spec.ts
  bridge/client/app/_models/sequenceState.ts
  bridge/client/app/_models/service-remediation-information.ts
  bridge/client/app/_models/service.ts
  bridge/client/app/_services/_mockData/deployments.mock.ts
  bridge/client/app/_services/_mockData/sequences.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-list.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-project-list/ktb-project-tile.component.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.spec.ts
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.utils.ts
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.ts
  bridge/server/models/sequence.ts
  bridge/server/services/data-service.ts
  bridge/server/test/project.spec.ts
  bridge/shared/interfaces/deployment.ts
  bridge/shared/interfaces/sequence-execution-result.ts
  bridge/shared/interfaces/sequence-result.ts
  bridge/shared/interfaces/sequence.ts
  bridge/shared/interfaces/service-remediation-information.ts
  bridge/shared/interfaces/shipyard.ts
  bridge/shared/models/remediation.ts
  bridge/shared/models/service.ts
Due: bridge2, bridge-server

removed refs to helm and jmeter serice in integration tests workflow
  .github/workflows/integration_tests.yml
Due: none

javascript comment
  shipyard-controller/debug-ui/fetch_events.js
Due: shipyard-controller

also removed custom user managed endpoint test
  test/go-tests/testsuite_gke_test.go
Due: none

- Refactoring
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
Due: bridge2

also removed custom user managed endpoint test file
  test/go-tests/test_customendpoints.go
Due: none

feat(bridge): Improve ktb-chart - Clean API model - Fix right tick values - Adopt unit test - Adopt implementations
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-chart/ktb-chart.component.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-chart-test-data.ts
  bridge/client/app/_components/ktb-chart/testing/ktb-test-chart.component.ts
  bridge/client/app/_interfaces/chart.ts
Due: bridge2

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
