Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update dependency webpack-bundle-analyzer to v4.7.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update typescript-eslint monorepo to v5.45.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency axios to v1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency babel-loader to v9
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency cypress to v11
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency helmet to v6
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency uuid to v9
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update helm release nats to v0.19.1
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

update values for nats according to updated version
  installer/airgapped/install_keptn.sh
  installer/airgapped/pull_and_retag_images.sh
Due: none

update chart archives
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/nats-0.18.2.tgz
  installer/manifests/keptn/charts/nats-0.19.1.tgz
Due: none

update chart archives
  installer/manifests/keptn/charts/common-0.1.0.tgz
Due: none

fixed typescript error
  bridge/server/utils/print-utils.ts
Due: bridge2, bridge-server

build(deps): update jest monorepo to v29
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

fixed jest setup
  bridge/server/jest.config.js
  bridge/server/yarn.lock
Due: bridge2, bridge-server

Bump loader-utils
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update golang.org/x/exp digest to 47842c8
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/libgit2/git2go/v33 to v33.0.9
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build(deps): update module github.com/swaggo/swag to v1.8.8
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

build(deps): update alpine docker tag to v3.17
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  resource-service/go.sum
Due: resource-service

go mod tidy
  api/go.sum
Due: api

build(deps): Merge bump open renovate PRs (Part 3) (#9269)
  bridge/package.json
  bridge/server/jest.config.js
  bridge/server/package.json
  bridge/server/utils/print-utils.ts
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

update to latest go-git release
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build(deps): update dependency rxjs to v7.6.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix(resource-service): Use go-git master version (#9159)
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
Due: resource-service

deps(bridge): Bump versions
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update to latest libgit2 version
  resource-service/Dockerfile
  resource-service/common/go-git.go
  resource-service/common_models/git.go
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
Due: resource-service

build(deps): update to latest libgit2 version
  .github/workflows/test-and-build-docker-images.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
