Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

added readonly attribute to volumemounts
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

refactor project settings
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

feat(bridge): Bump version of compodoc
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

common.errors debughandler test
  shipyard-controller/handler/debughandler_test.go
Due: shipyard-controller

rename
  shipyard-controller/common/fake/filereader_mock.go
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
  shipyard-controller/handler/remoteurl_validator.go
  shipyard-controller/handler/remoteurl_validator_test.go
Due: shipyard-controller

set replicas back to 3
  installer/manifests/keptn/values.yaml
Due: none

fox
  shipyard-controller/common/filereader.go
Due: shipyard-controller

fix(installer): Disable nats cluster due to unreliable behavior (#8523)
  installer/manifests/keptn/values.yaml
Due: none

fix(bridge): Fix evaluation badge wrapping
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.html
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.ts
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.scss
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.module.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.spec.ts
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.utils.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.html
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.scss
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.spec.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.module.ts
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.html
  bridge/client/app/_components/ktb-sequence-state-info/ktb-sequence-state-info.component.ts
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.html
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.scss
  bridge/client/app/_components/ktb-stage-badge/ktb-stage-badge.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.ts
  bridge/cypress.config.ts
  bridge/cypress/fixtures/get.environment.evaluation.history.mock.json
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.evaluation.badge.mock.json
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/fixtures/sequences.sockshop.json
  bridge/cypress/integration/components/evaluation-badge.spec.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/commands.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
Due: bridge2

feat(bridge): Pin versions to fix vulnerabilities in dependencies
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

removed commented out code
  bridge/cypress/support/intercept.ts
Due: bridge2

fix unit tests
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
Due: bridge2

removed unused css class
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.scss
Due: bridge2

removed unused modules
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.module.ts
Due: bridge2

removed redundant checks
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

feat(bridge): Revert unnecessary changes
  bridge/client/app/_components/ktb-date-input/ktb-date-input.module.ts
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.module.ts
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap.module.ts
  bridge/client/app/_components/ktb-tree-list-select/ktb-tree-list-select.module.ts
  bridge/client/app/_components/ktb-variable-selector/ktb-variable-selector.module.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.module.ts
  bridge/stories/components/DateInput.stories.ts
  bridge/stories/components/DatetimePicker.stories.ts
Due: bridge2

pr review
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
  shipyard-controller/handler/projecthandler_test.go
  shipyard-controller/handler/remoteurl_validator_test.go
Due: shipyard-controller

refactor(bridge): Refactor project settings (#8510)
  bridge/client/app/_views/ktb-project-view/ktb-project-view-common.module.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.ts
Due: bridge2

try to use distroless image for api
  api/Dockerfile
Due: none

try out more images
  approval-service/Dockerfile
  bridge/Dockerfile
Due: none

revert webhook service back to alpine
  webhook-service/Dockerfile
Due: none

more distroless services
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

change more services to distroless images
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
Due: none

test(bridge): Fix ignored UI tests in trigger-sequence.spec
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/trigger-sequence.spec.ts
  bridge/cypress/support/pageobjects/TriggerSequenceSubPage.ts
Due: bridge2

adjust images
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
Due: none

refactor
  shipyard-controller/handler/projecthandler.go
  shipyard-controller/handler/projecthandler_test.go
Due: shipyard-controller

test case fix
  shipyard-controller/handler/debughandler_test.go
  shipyard-controller/handler/debugmanager.go
  shipyard-controller/handler/debugmanager_test.go
  shipyard-controller/handler/fake/debugmanager.go
  shipyard-controller/main.go
Due: shipyard-controller

remove unit tests for now
  .github/workflows/CI.yml
Due: none

swagger ui
  shipyard-controller/handler/debughandler.go
Due: shipyard-controller

removed not needed unit tests
  bridge/client/app/_services/data.service.spec.ts
Due: bridge2

html table
  shipyard-controller/debug-ui/index.html
Due: shipyard-controller

adjust more images
  jmeter-service/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

pr review
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/values.yaml
Due: none

refactored unsubscribe for position updates
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.ts
Due: bridge2

add test case
  shipyard-controller/common/filereader.go
  shipyard-controller/common/filereader_test.go
Due: shipyard-controller

test(api): Add Importer integration tests
  test/assets/import/.gitignore
  test/assets/import/invalid-package/api/create-secret.json
  test/assets/import/invalid-package/api/create-service.json
  test/assets/import/invalid-package/api/create-subscription.json
  test/assets/import/invalid-package/resources/webhook.yaml
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-secret.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/api/create-subscription.json
  test/assets/import/rendered-sample-package/full-manifest-rendering/input.yaml
  test/assets/import/rendered-sample-package/full-manifest-rendering/resources/webhook.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-service.json
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-subscription.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/api/create-subscription.json
  test/assets/import/rendered-sample-package/simple-task-rendering/resources/webhook.context.yaml
  test/assets/import/rendered-sample-package/simple-task-rendering/resources/webhook.yaml
  test/assets/import/sample-package/api/create-secret.json
  test/assets/import/sample-package/api/create-service.json
  test/assets/import/sample-package/api/create-subscription.json
  test/assets/import/sample-package/manifest.yaml
  test/assets/import/sample-package/resources/webhook.yaml
  test/go-tests/test_importer_test.go
  test/go-tests/test_utils.go
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
Due: none

chore(cli): Remove warning that no Git upstream is set (#8518)
  cli/cmd/common.go
  cli/cmd/create_project.go
  cli/cmd/create_project_test.go
  cli/cmd/update_project_test.go
  cli/internal/projectcreator/fake/api_v1_interface.go
  cli/internal/projectcreator/projectcreator.go
  cli/internal/projectcreator/projectcreator_test.go
Due: cli

build(deps): Update keptn/go-utils to c15488f2145b2c0235687a0e3884123f4ec47354
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

added retry strategy
  bridge/cypress.config.ts
Due: bridge2
