Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

test: Fix expected error message for importer
  test/go-tests/test_importer_test.go
Due: none

Added unit test
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
Due: bridge2

feat(api): Enable import endpoint (#8629)
  api/README.md
  api/models/import_summary.go
  api/restapi/embedded_spec.go
  api/restapi/operations/event/post_event.go
  api/restapi/operations/import_operations/import.go
  api/restapi/operations/metadata/metadata.go
  api/restapi/server.go
  api/swagger.yaml
Due: api

ci: Improve CI pipeline performance (#8634)
  .github/workflows/CI.yml
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  bridge/cypress/run-tests.sh
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

added unit test
  shipyard-controller/handler/eventdispatcher_test.go
Due: shipyard-controller

chore: update tablemark-cli to version 3.0.0
  .github/workflows/integration_tests.yml
  gh-actions-scripts/generate-k8s-resource-stats.sh
Due: none

Fix error message to be compatible with Keptn master
  test/go-tests/test_importer_test.go
Due: none

test: Fix expected error message for importer (#8656)
  test/go-tests/test_importer_test.go
Due: none

fix(bridge): Stop navigation overwrite on trace load (#8617)
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
Due: bridge2

chore: Update tablemark-cli to version 3.0.0 (#8659)
  .github/workflows/integration_tests.yml
  gh-actions-scripts/generate-k8s-resource-stats.sh
Due: none

fix(resource-service): Store name of default branch in local init.defaultBranch config
  resource-service/common/git.go
Due: resource-service

adapted error messages
  resource-service/common/git.go
Due: resource-service

Store name of default branch in local init.defaultBranch config after initial clone
  resource-service/common/git.go
Due: resource-service

refactor
  resource-service/common/git.go
Due: resource-service

docs: Added component test
  shipyard-controller/handler/shipyardcontroller_component_test.go
Due: shipyard-controller

docs: Added registry override info in README.md
  README.md
  docs/developer/install_master.md
Due: none

docs: Added registry override info in README.md
  README.md
Due: none

Update docs/developer/install_master.md
  docs/developer/install_master.md
Due: none

Update README.md
  README.md
Due: none

update webhook service to 0.18.1
  cli/go.mod
  cli/go.sum
Due: cli

store name of default branch in init.defaultBranch config after initial clone
  resource-service/common/git.go
Due: resource-service

fix(lighthouse-service): If result is nil return a failed Evaluation Result
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

fix(lighthouse-service): If result is nil return a failed Evaluation Result
  shipyard-controller/handler/eventdispatcher.go
Due: shipyard-controller

docs: Added registry override info in README.md (#8658)
  README.md
Due: none

ci: Create a new workflow to monitor the Helm Chart version of bitnami/mongodb
  .github/workflows/mongodb-version-check.yml
Due: none

ci: Fix workflow bug
  .github/workflows/mongodb-version-check.yml
Due: none

ci: Add missing checkout
  .github/workflows/mongodb-version-check.yml
Due: none

fix: check that both get are called in try to send event
  shipyard-controller/handler/eventdispatcher_test.go
Due: shipyard-controller

ci: Fix bug in issue template
  .github/workflows/mongodb-version-check.yml
Due: none

ci: Upload markdown as artifact
  .github/workflows/mongodb-version-check.yml
Due: none

ci: Remove critical label
  .github/workflows/mongodb-version-check.yml
Due: none

ci: debug template issue
  .github/workflows/mongodb-version-check.yml
Due: none

updated dependency to go-git
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
