Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

more docs
  installer/manifests/keptn/values.yaml
Due: none

- RX-ify
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

fix some helm value docs
  installer/manifests/keptn/values.yaml
Due: none

generated helm value docs
  installer/manifests/keptn/README.md
Due: none

- Improvements
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

typos
  installer/manifests/keptn/values.yaml
Due: none

use correct path in pipeline check
  .github/workflows/validate-helm-docs.yml
Due: none

- Improvements
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.html
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
Due: bridge2

introduced new logs and print old ones only on debug level
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/sequencestate.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_utils.go
  shipyard-controller/internal/db/mongodb_event_repo.go
Due: shipyard-controller

fix(resource-service): Use values provided by GIT_KEPTN_USER and GIT_KEPTN_EMAIL for commits to the upstream (#8676)
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
Due: resource-service

test: Fix check in secret api integration test
  test/go-tests/test_secrets.go
Due: none

- Refactor ktb-payload-viewer
  bridge/client/app/_components/ktb-payload-viewer/ktb-payload-viewer.component.ts
Due: bridge2

fix(resource-service): GetDefaultBranch looks for HEAD before fallback to master (#8628)
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

fix(resource-service): GetDefaultBranch looks for HEAD before fallback to master (#8627)
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

fix(resource-service): Determine default branch using HEAD after initial clone
  resource-service/common/git.go
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

docs: Add @philipp-hinteregger to members
  MAINTAINERS
Due: none

cleanup
  shipyard-controller/internal/common/error.go
  shipyard-controller/internal/controller/shipyardcontroller.go
  shipyard-controller/internal/controller/shipyardcontroller_utils.go
  shipyard-controller/internal/controller/shipyardcontroller_utils_test.go
Due: shipyard-controller

Update MAINTAINERS
  MAINTAINERS
Due: none

chore: Add @philipp-hinteregger to members (#8692)
  MAINTAINERS
Due: none

ci: Add pipeline to check helm docs against master (#8661)
  .github/workflows/validate-helm-docs.yml
  gh-actions-scripts/generate-helm-docs.sh
  installer/README.md
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

cleanup
  shipyard-controller/internal/controller/eventdispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher.go
  shipyard-controller/internal/controller/sequencedispatcher_test.go
  shipyard-controller/internal/controller/shipyardcontroller.go
Due: shipyard-controller

some random change
  api/Dockerfile
Due: none

debugging
  .github/workflows/validate-helm-docs.yml
Due: none

fix readme
  installer/manifests/keptn/README.md
Due: none

revert random changes
  api/Dockerfile
Due: none

try adding a rich diff
  .github/workflows/validate-helm-docs.yml
Due: none

cleanup
  api/handlers/event.go
  api/handlers/eventvalidation.go
  api/handlers/eventvalidation_test.go
Due: api

fix diff checker
  .github/workflows/validate-helm-docs.yml
Due: none

add npm cache
  .github/workflows/validate-helm-docs.yml
Due: none

remove cache again
  .github/workflows/validate-helm-docs.yml
Due: none

remove master checkout since its not needed anymore
  .github/workflows/validate-helm-docs.yml
Due: none

add newline
  .github/workflows/validate-helm-docs.yml
Due: none

regenerated helm docs
  installer/manifests/keptn/README.md
  installer/manifests/keptn/values.yaml
Due: none

add npm ci command
  gh-actions-scripts/generate-helm-docs.sh
Due: none

ci: Fix Helm Docs validation pipeline (#8698)
  .github/workflows/validate-helm-docs.yml
  gh-actions-scripts/generate-helm-docs.sh
  installer/manifests/keptn/README.md
Due: none

build(deps): update dependency @types/jest to v28.1.7
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

- Only use interfaces
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.html
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.ts
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.html
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.ts
  bridge/client/app/_models/uniform-registration.ts
  bridge/client/app/_models/uniform-subscription.ts
  bridge/client/app/_services/_mockData/uniform-registrations.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/server/models/uniform-registration.ts
  bridge/server/services/api-service.ts
  bridge/server/services/data-service.ts
  bridge/shared/interfaces/uniform-registration.ts
  bridge/shared/interfaces/uniform-subscription.ts
  bridge/shared/models/uniform-registration.ts
Due: bridge2, bridge-server
