Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix(bridge): Fix incorrect score-bar representation in evaluation
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
Due: bridge2

fix(lighthouse-service): handling no SLO objectives
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/main_test.go
Due: lighthouse-service

polishing
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

polishing tests
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
Due: lighthouse-service

fix(shipyard-controller): provide Git provisioning error information
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/provisioner/repository_provisioner.go
Due: shipyard-controller

fix(shipyard-controller): provide Git provisioning error information
  shipyard-controller/internal/provisioner/repository_provisioner_test.go
Due: shipyard-controller

fix: upgrade zone.js from 0.11.8 to 0.12.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix(shipyard-controller): provide Git provisioning error information (#9204)
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/provisioner/repository_provisioner.go
  shipyard-controller/internal/provisioner/repository_provisioner_test.go
Due: shipyard-controller

fix(lighthouse-service): handling no SLO objectives (#9203)
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/main_test.go
Due: lighthouse-service

fix(lighthouse-service): fail with descriptive error message when SLO criteria and target cannot be parsed
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/main_test.go
Due: lighthouse-service

simplify expression
  lighthouse-service/event_handler/evaluate_sli_handler.go
Due: lighthouse-service

s/minutes/seconds in waiting for the event
  lighthouse-service/main_test.go
Due: lighthouse-service

build(deps): update dependency @dynatrace/barista-components to v10.10.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix(lighthouse-service): fail with descriptive error message when SLO criteria and target cannot be parsed (#9206)
  lighthouse-service/event_handler/evaluate_sli_handler.go
  lighthouse-service/event_handler/evaluate_sli_handler_test.go
  lighthouse-service/main_test.go
Due: lighthouse-service

addressed feedback
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
Due: bridge2

Added UI test
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
Due: bridge2

fix(bridge): Fix incorrect score-bar representation in evaluation (#9202)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
Due: bridge2

fix(bridge): Fix navigation to blocking sequence (#9200)
  bridge/client/app/_services/_mockData/sequence-filter.mock.ts
  bridge/client/app/_services/_mockData/sequences.mock.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.ts
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/intercept.ts
Due: bridge2

remove some headers
  bridge/server/app.ts
Due: bridge2, bridge-server

Unit tests
  bridge/server/app.ts
  bridge/server/utils/print-utils.spec.ts
  bridge/server/utils/print-utils.ts
Due: bridge2, bridge-server

Remove IP logging
  bridge/server/app.ts
Due: bridge2, bridge-server

chore(bridge): Improve Bridge logging levels and messages (#9183)
  bridge/server/api/index.ts
  bridge/server/app.ts
  bridge/server/server.ts
  bridge/server/services/api-service.ts
  bridge/server/user/oauth-routes.ts
  bridge/server/user/session.ts
  bridge/server/utils/print-utils.spec.ts
  bridge/server/utils/print-utils.ts
Due: bridge2, bridge-server

build(deps): update golang.org/x/exp digest to 6dcec33
  api/go.mod
  api/go.sum
Due: api

add missing go sum entries
  api/go.sum
Due: api

build(deps): update jasonetco/create-an-issue action to v2.8.1
  .github/workflows/integration_tests.yml
  .github/workflows/mongodb-version-check.yml
  .github/workflows/security-scans.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update helm release nats to v0.18.3
  installer/manifests/keptn/Chart.lock
  installer/manifests/keptn/Chart.yaml
Due: none

build(deps): update kubernetes packages to v0.24.8
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

add missing go sum entries
  api/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module github.com/go-openapi/runtime to v0.24.2
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

build(deps): update angular monorepo to v15
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update angular-cli monorepo to v15
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update angular-eslint monorepo to v15
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update angularmaterial monorepo to v15
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update module github.com/stretchr/testify to v1.8.1
  api/go.mod
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

add missing go sum entries
  api/go.sum
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.sum
  gh-actions-scripts/auto-update-utils.sh
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/text to v0.3.8
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/emicklei/go-restful/v3 to v3.10.1
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  mongodb-datastore/go.sum
Due: mongodb-datastore
