Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

- Refactor code and unit test - Fix UI test
  bridge/client/app/_services/data.service.ts
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.spec.ts
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.ts
Due: bridge2

adapted bridge readme
  bridge/README.md
Due: none

correctly base64 encode k8s secret and default to empty string
  installer/manifests/keptn/templates/core.yaml
Due: none

feat(bridge): Bundle size report
  bridge/README.md
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

use auth provider instead of access token
  .github/workflows/integration_tests.yml
Due: none

comment out tests
  .github/workflows/integration_tests.yml
Due: none

add nameOverride to helm chart readmes, reformat markdown tables
  helm-service/chart/README.md
  jmeter-service/chart/README.md
Due: none

remove gcloud cli setup step
  .github/workflows/integration_tests.yml
Due: none

fix: Change name label to respect the nameOverride (#8249)
  helm-service/chart/README.md
  helm-service/chart/templates/deployment.yaml
  helm-service/chart/templates/service.yaml
  helm-service/chart/templates/serviceaccount.yaml
  helm-service/chart/templates/tests/test-api-connection.yaml
  helm-service/chart/values.yaml
  jmeter-service/chart/README.md
  jmeter-service/chart/templates/deployment.yaml
  jmeter-service/chart/templates/service.yaml
  jmeter-service/chart/templates/serviceaccount.yaml
  jmeter-service/chart/templates/tests/test-api-connection.yaml
  jmeter-service/chart/values.yaml
Due: none

build(deps): update actions/upload-artifact action to v3
  .github/workflows/zero-downtime-tests.yml
Due: none

chore(bridge): Removed remediation config, only poll remediations when needed (#8217)
  bridge/client/app/_components/ktb-deployment-stage-timeline/ktb-deployment-stage-timeline.component.html
  bridge/client/app/_components/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_components/ktb-service-details/ktb-service-details.component.html
  bridge/client/app/_components/ktb-service-details/ktb-service-details.component.spec.ts
  bridge/client/app/_interfaces/service-remediation-information.ts
  bridge/client/app/_models/deployment.spec.ts
  bridge/client/app/_models/deployment.ts
  bridge/client/app/_models/service-remediation-information.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.spec.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.deployment.with.remediations.mock.json
  bridge/cypress/fixtures/get.sockshop.service.states.with.remediation.mock.json
  bridge/cypress/integration/evaluations.spec.ts
  bridge/cypress/integration/service-remediations.spec.ts
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/server/api/index.ts
  bridge/server/services/data-service.ts
  bridge/server/test/service-deployment.spec.ts
  bridge/server/test/service-remediations.spec.ts
  bridge/server/test/service-states.spec.ts
  bridge/shared/fixtures/open-remediations-response.mock.ts
  bridge/shared/fixtures/service-deployment-response.mock.ts
  bridge/shared/fixtures/service-state-response.mock.ts
  bridge/shared/interfaces/deployment.ts
  bridge/shared/interfaces/service-remediation-information.ts
Due: bridge2, bridge-server

fix(bridge): Save client secret in k8s secret (#8269)
  bridge/README.md
  bridge/server/.jest/setupServer.ts
  bridge/server/.jest/test.utils.ts
  bridge/server/interfaces/configuration.ts
  bridge/server/server.ts
  bridge/server/test/bridge-info.spec.ts
  bridge/server/test/oauth.spec.ts
  bridge/server/user/oauth.ts
  bridge/server/user/secrets.spec.ts
  bridge/server/user/secrets.ts
  bridge/server/user/session.ts
  bridge/server/utils/configuration.spec.ts
  bridge/server/utils/configuration.ts
  installer/manifests/keptn/templates/core.yaml
Due: bridge2, bridge-server

test(bridge): Removed dev dependency and unnecessary test (#8270)
  bridge/cypress/integration/user-menu.e2e.spec.ts
  bridge/cypress/support/e2e.ts
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

feat(bridge): Support new webhook.yaml version v1beta1 (#8247)
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.spec.ts
  bridge/client/app/_components/ktb-webhook-settings/ktb-webhook-settings.component.ts
  bridge/client/app/_models/secret.ts
  bridge/client/app/_models/uniform-subscription.ts
  bridge/client/app/_services/_mockData/webhook-config.mock.ts
  bridge/client/app/_services/api.service.mock.ts
  bridge/client/app/_services/api.service.ts
  bridge/client/app/_services/data.service.ts
  bridge/cypress/support/pageobjects/EvaluationBoardPage.ts
  bridge/server/interfaces/webhook-config-yaml-result.ts
  bridge/server/interfaces/webhook-config.ts
  bridge/server/models/secret.ts
  bridge/server/models/webhook-config-yaml.spec.ts
  bridge/server/models/webhook-config-yaml.ts
  bridge/server/models/webhook-config.utils.spec.ts
  bridge/server/models/webhook-config.utils.ts
  bridge/server/services/api-service.ts
  bridge/server/services/data-service.ts
  bridge/server/utils/curl.utils.spec.ts
  bridge/server/utils/curl.utils.ts
  bridge/shared/interfaces/secret.ts
  bridge/shared/interfaces/uniform-registration-result.ts
  bridge/shared/interfaces/uniform-subscription.ts
  bridge/shared/interfaces/webhook-config.ts
  bridge/shared/models/uniform-registration.ts
  bridge/shared/models/webhook-config.ts
Due: bridge2, bridge-server

chore: Bump swagger-ui to version 4.12.0
  api/swagger-ui/index.html
  api/swagger-ui/oauth2-redirect.html
  api/swagger-ui/swagger-ui-bundle.js
  api/swagger-ui/swagger-ui-bundle.js.map
  api/swagger-ui/swagger-ui-standalone-preset.js
  api/swagger-ui/swagger-ui-standalone-preset.js.map
  api/swagger-ui/swagger-ui.css
  api/swagger-ui/swagger-ui.css.map
  api/swagger-ui/swagger-ui.js
  api/swagger-ui/swagger-ui.js.map
Due: api

test(bridge): Fix flaky UI test in project-delete.spec
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.html
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

chore: Bump swagger-ui to version 4.12.0
  api/swagger-ui/oauth2-redirect.html
  api/swagger-ui/swagger-ui-bundle.js
  api/swagger-ui/swagger-ui-bundle.js.map
  api/swagger-ui/swagger-ui-standalone-preset.js
  api/swagger-ui/swagger-ui-standalone-preset.js.map
  api/swagger-ui/swagger-ui.css
  api/swagger-ui/swagger-ui.css.map
  api/swagger-ui/swagger-ui.js
  api/swagger-ui/swagger-ui.js.map
Due: api

fix(bridge): Handle invalid bridge versions
  bridge/client/app/_pipes/keptn-url.pipe.ts
Due: bridge2

test(bridge): Fix flaky UI test in project-delete.spec (#8280)
  bridge/client/app/_components/ktb-danger-zone/ktb-danger-zone.component.html
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

added tests
  bridge/client/app/_pipes/keptn-url.pipe.spec.ts
  bridge/client/app/_pipes/keptn-url.pipe.ts
Due: bridge2

Reran yarn install with newest version. Added build:stats to package.json. Used yarn instead of npm inside README
  bridge/README.md
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

comment in tests
  .github/workflows/integration_tests.yml
Due: none

- Improve code
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.ts
Due: bridge2

ci: Use gcloud auth provider instead of access token for k8s access (#8285)
  .github/workflows/integration_tests.yml
Due: none

yarn.lock update
  bridge/yarn.lock
Due: bridge2

chore: Bump swagger-ui to version 4.12.0 (#8279)
  api/swagger-ui/index.html
  api/swagger-ui/oauth2-redirect.html
  api/swagger-ui/swagger-ui-bundle.js
  api/swagger-ui/swagger-ui-bundle.js.map
  api/swagger-ui/swagger-ui-standalone-preset.js
  api/swagger-ui/swagger-ui-standalone-preset.js.map
  api/swagger-ui/swagger-ui.css
  api/swagger-ui/swagger-ui.css.map
  api/swagger-ui/swagger-ui.js
  api/swagger-ui/swagger-ui.js.map
Due: api

adapt error message
  shipyard-controller/handler/projectmanager.go
Due: shipyard-controller

feat(bridge): Refactor DataService's loadProjects (#8268)
  bridge/client/app/_components/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.spec.ts
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.spec.ts
  bridge/client/app/_components/ktb-project-settings/ktb-project-settings.component.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.spec.ts
  bridge/client/app/_services/data.service.spec.ts
  bridge/client/app/_services/data.service.ts
  bridge/client/app/app.component.spec.ts
  bridge/client/app/app.component.ts
  bridge/client/app/app.routing.ts
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.html
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.spec.ts
  bridge/client/app/dashboard-legacy/dashboard-legacy.component.ts
  bridge/client/app/project-board/project-board.component.ts
Due: bridge2

feat(bridge): Bundle size report (#8274)
  bridge/README.md
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fix(bridge): Handle invalid bridge versions (#8283)
  bridge/client/app/_pipes/keptn-url.pipe.spec.ts
  bridge/client/app/_pipes/keptn-url.pipe.ts
Due: bridge2

Removed .tap from project$ observable
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
Due: bridge2

Added alias for selectedStageName$ to avoid multiple subscriptions
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.html
Due: bridge2

Reverted setFilter changes
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
Due: bridge2

update go-utils in webhook svc
  webhook-service/go.mod
  webhook-service/go.sum
  webhook-service/main.go
Due: webhook-service

update go-utils in remmediation service
  remediation-service/go.mod
  remediation-service/go.sum
  remediation-service/main.go
Due: remediation-service

feat(bridge): Modularize sequence and logout view and introduce lazy loading
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.module.ts
  bridge/client/app/_components/ktb-loading/ktb-loading.module.ts
  bridge/client/app/_components/ktb-root-events-list/ktb-root-events-list.module.ts
  bridge/client/app/_components/ktb-sequence-controls/ktb-sequence-controls.module.ts
  bridge/client/app/_components/ktb-sequence-tasks-list/ktb-sequence-tasks-list.module.ts
  bridge/client/app/_components/ktb-sequence-timeline/ktb-sequence-timeline.module.ts
  bridge/client/app/_views/ktb-logout-view/ktb-logout-view.module.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-controls/ktb-sequence-controls.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-sequence-tasks-list.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.scss
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.module.ts
  bridge/client/app/app.module.ts
  bridge/client/app/app.routing.ts
Due: bridge2
