Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

make paths relative again
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-integration-view/ktb-integration-view.component.scss
  bridge/client/app/_views/ktb-settings-view/ktb-project-settings/ktb-project-settings.component.scss
Due: bridge2

Added additional unit and ui tests
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
  bridge/client/app/_interceptors/http-error-interceptor.ts
  bridge/cypress/integration/auth.spec.ts
Due: bridge2

Removed only method call in environment.spec.ts
  bridge/cypress/integration/environment.spec.ts
Due: bridge2

build(deps): Auto-update go-utils to latest version (#8404)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  helm-service/go.mod
  helm-service/go.sum
  jmeter-service/go.mod
  jmeter-service/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  test/go-tests/go.mod
  test/go-tests/go.sum
  test/zero-downtime/go.mod
  test/zero-downtime/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

feat(bridge): Show user info for OAuth "Insufficient permission" error message (#8403)
  bridge/client/app/_interceptors/http-error-interceptor.spec.ts
  bridge/client/app/_interceptors/http-error-interceptor.ts
  bridge/cypress/integration/auth.spec.ts
Due: bridge2

fix(bridge): Navigating to service from stage-details (#8399)
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/cypress/fixtures/project.mock.json
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/EnvironmentPage.ts
Due: bridge2

build(deps): update dependency golang to v1.18.4
  api/Dockerfile
  approval-service/Dockerfile
  distributor/Dockerfile
  helm-service/Dockerfile
  jmeter-service/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

disable parallel execution
  .github/workflows/integration_tests.yml
  test/go-tests/test_backuprestore.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_customendpoints.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
  test/go-tests/test_webhook.go
Due: none

remove k8s automount prop
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

add back automount prop
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

revert more security stuff
  installer/manifests/keptn/templates/resource-service.yaml
Due: none

enable write to fs for mongo
  installer/manifests/keptn/values.yaml
Due: none

feat(installer): Security Adjustments
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

remove snyk config file
  .snyk
Due: none

add snyk config file
  .snyk
Due: none

delete temp dirs after test execution
  test/go-tests/test_backuprestore.go
  test/go-tests/test_continuous_delivery.go
Due: none

chore: fix webhook test
  test/zero-downtime/assets/test-values.yml
  test/zero-downtime/webhook_test.go
Due: none

chore: fix webhook test
  .github/workflows/zero-downtime-tests.yml
Due: none

chore: fix webhook test
  test/go-tests/test_webhook.go
  test/zero-downtime/webhook_test.go
Due: none

revert obsolete changes
  .github/workflows/integration_tests.yml
Due: none

fix(webhook-service): Typo in component tests
  webhook-service/handler/handler_test.go
Due: webhook-service

revert obsolete changes
  test/go-tests/kubectl.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_utils.go
Due: none

chore: fix according to review
  .github/workflows/zero-downtime-tests.yml
  test/go-tests/test_utils.go
  test/go-tests/test_webhook.go
Due: none

fix: Zero Downtime test for the webhook-service (#8408)
  .github/workflows/zero-downtime-tests.yml
  test/go-tests/test_utils.go
  test/go-tests/test_webhook.go
  test/zero-downtime/assets/test-values.yml
  test/zero-downtime/webhook_test.go
Due: none

fix(webhook-service): Typo in component tests (#8409)
  webhook-service/handler/handler_test.go
Due: webhook-service

feat(installer): Security Improvements (#8373)
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/values.yaml
Due: none

revert obsolete changes
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

chore(bridge): Remove second labels tag list for remediation sequences
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.ts
  bridge/client/app/_utils/app.utils.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.ts
  bridge/cypress/fixtures/get.events.29355a07-7b65-47fa-896e-06f656283c5d.mock.json
  bridge/cypress/integration/remediation-sequences.spec.ts
Due: bridge2

revert obsolete changes
  test/go-tests/test_backuprestore.go
  test/go-tests/test_continuous_delivery.go
  test/go-tests/test_utils.go
Due: none

Moved isValidUrl unit tests into app.utils.spec.ts. Added test cases for isValidJson
  bridge/client/app/_utils/app.utils.spec.ts
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.spec.ts
Due: bridge2

chore: fix dev repo
  test/zero-downtime/testsuite_zerodowntime_test.go
Due: none

chore: Fix dev repo registry in ZeroDowntime test
  test/go-tests/test_resourceservice.go
Due: none

chore: Fix dev repo registry in zd test (#8411)
  test/go-tests/test_resourceservice.go
  test/zero-downtime/testsuite_zerodowntime_test.go
Due: none

refactor(bridge): Remove global project polling and remove project dependency in integrations view
  bridge/client/app/_components/ktb-approval-item/ktb-approval-item.component.ts
  bridge/client/app/_components/ktb-evaluation-info/ktb-evaluation-info.component.ts
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.html
  bridge/client/app/_components/ktb-subscription-item/ktb-subscription-item.component.ts
  bridge/client/app/_components/ktb-uniform-subscriptions/ktb-uniform-subscriptions.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-environment-view.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-details/ktb-stage-details.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.ts
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.html
  bridge/client/app/_views/ktb-integration-view/ktb-modify-uniform-subscription/ktb-modify-uniform-subscription.component.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view-routing.module.ts
  bridge/client/app/_views/ktb-project-view/ktb-project-view.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.ts
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-service-view.component.ts
  bridge/cypress/integration/environment.spec.ts
  bridge/cypress/integration/notification.spec.ts
  bridge/cypress/integration/secret-add-delete.spec.ts
  bridge/cypress/support/intercept.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
  bridge/cypress/support/pageobjects/SecretsPage.ts
  bridge/cypress/support/pageobjects/ServicesSettingsPage.ts
  bridge/tsconfig.json
Due: bridge2

removed code smell
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-stage-overview.component.ts
Due: bridge2

ci: Change stalebot configuration
  .github/stale.yml
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
