Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix(installer): Use correct image after dependency update (#9442)
  installer/airgapped/pull_and_retag_images.sh
Due: none

fix: Fix generation of SBOMs during releases of Keptn
  .github/workflows/release.yml
Due: none

fix: Fix generation of SBOMs during releases of Keptn (#9445)
  .github/workflows/release.yml
Due: none

build(deps): update golang.org/x/exp digest to a68e582
  api/go.mod
  api/go.sum
Due: api

build(deps): update go-openapi packages
  api/go.mod
  api/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

Added env variables to the .gihub/workflows/CI.yml
  .github/workflows/CI.yml
Due: none

Removed conditional statement from gh-actions-scripts/prepare_changed_artifacts.sh for CLI_ARTIFACTS
  .github/workflows/release.yml
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

build(deps): update module github.com/moby/moby/v20 to v20.10.23
  cli/go.mod
Due: cli

build(deps): update module k8s.io/apimachinery to v0.25.6
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

go mod tidy
  api/go.sum
Due: api

go mod tidy
  api/go.sum
  mongodb-datastore/go.sum
Due: api, mongodb-datastore

go mod tidy
  api/go.sum
  lighthouse-service/go.sum
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

remove unneeded
  cli/go.mod
Due: cli

build(deps): update k8s apimachinery to v0.25.6
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update k8s apimachinery to v0.25.6 (#9453)
  cli/go.mod
  cli/go.sum
Due: cli

fix some cli build settings, restore special cli build flag to still build the cli as binaries, remove special unit test section for cli
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

feat: remove webhook migration command from CLI
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
  cli/go.mod
  cli/go.sum
Due: cli

feat: remove webhook migration command from CLI (#9463)
  cli/cmd/migrate_webhooks.go
  cli/cmd/migrate_webhooks_test.go
  cli/go.mod
  cli/go.sum
Due: cli

Added Dockerfile and .dockerignore file
  cli/.dockerignore
  cli/Dockerfile
Due: cli

completed Dockerfile for builder image
  cli/Dockerfile
Due: none

Finished Dockerfile completely
  cli/Dockerfile
Due: none

Updated as per suggestions
  cli/.dockerignore
  cli/Dockerfile
Due: cli

Added additional line at the end
  cli/.dockerignore
  cli/Dockerfile
Due: cli

fix some bugs in pipelines and dockerfile
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  cli/Dockerfile
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

fix some bugs in pipelines and dockerfile
  cli/Dockerfile
Due: none

remove prepare script condition again
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: none

fix minor issues in release pipeline
  .github/workflows/release.yml
Due: none

feat(cli): CLI containerization (#9432)
  .github/workflows/CI.yml
  .github/workflows/build-cli.yml
  .github/workflows/release.yml
  cli/.dockerignore
  cli/Dockerfile
  gh-actions-scripts/prepare_changed_artifacts.sh
Due: cli

chore(deps): upgrade to libgit2-dev v1.5.1-r0
  resource-service/Dockerfile
Due: none

build(deps): upgrade to libgit2-dev v1.5.1-r0 (#9466)
  resource-service/Dockerfile
Due: none

test: Remove unneeded webhook migration integration test
  test/go-tests/test_webhook_migration.go
Due: none

test: Remove unneeded webhook migration integration test (#9469)
  test/go-tests/test_webhook_migration.go
Due: none

fix(installer): Respect MongoDB name override correctly
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

remove mongo service name override, revert back to some hardcoded parts
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/values.yaml
Due: none

update readme accordingly
  installer/manifests/keptn/README.md
Due: none

update helm deps
  installer/manifests/keptn/charts/common-0.1.0.tgz
  installer/manifests/keptn/charts/mongodb-13.6.2.tgz
  installer/manifests/keptn/charts/mongodb-13.6.3.tgz
  installer/manifests/keptn/charts/nats-0.19.4.tgz
  installer/manifests/keptn/charts/nats-0.19.5.tgz
Due: none

Path conditions:
  api: any of: api/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge2: any of: bridge/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  bridge-server: any of: bridge/server/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  cli: any of: cli/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  resource-service: any of: resource-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  distributor: any of: distributor/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  approval-service: any of: approval-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  helm-service: any of: helm-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  jmeter-service: any of: jmeter-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  lighthouse-service: any of: lighthouse-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  mongodb-datastore: any of: mongodb-datastore/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  remediation-service: any of: remediation-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  shipyard-controller: any of: shipyard-controller/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  statistics-service: any of: statistics-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  webhook-service: any of: webhook-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
  secret-service: any of: secret-service/, but not: **/*.yaml, **/*.yml, **/*.md, **/Dockerfile, **/*.sh
