Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

build(deps): update module github.com/masterminds/semver/v3 to v3.2.0
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: shipyard-controller

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.8
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

chore: add @TannerGilbert to Bridge Code Owners
  CODEOWNERS
Due: none

build(deps): update module github.com/nats-io/nats.go to v1.20.0
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): update module github.com/otiai10/copy to v1.9.0
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

build(deps): update module github.com/spf13/viper to v1.14.0
  cli/go.mod
Due: cli

go mod tidy
  api/go.sum
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  gh-actions-scripts/auto-update-utils.sh
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/crypto to v0.3.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  cli/go.mod
  cli/go.sum
Due: cli

build(deps): update module golang.org/x/time to v0.3.0
  api/go.mod
  api/go.sum
Due: api

build(deps): update k8s.io/utils digest to 99ec85e
  api/go.mod
  api/go.sum
Due: api

build(deps): update dependency mongodb to v4.12.1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update module github.com/spf13/cobra to v1.6.1
  cli/go.mod
Due: cli

build(deps): update module github.com/tryvium-travels/memongo to v0.8.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update module go.mongodb.org/mongo-driver to v1.11.0
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.36.4
  api/go.mod
  api/go.sum
Due: api

build(deps): update module golang.org/x/net to v0.2.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module golang.org/x/oauth2 to v0.2.0
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

go mod tidy
  mongodb-datastore/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update module golang.org/x/text to v0.5.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module gopkg.in/yaml.v2 to v2.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/moby/moby to v20
  cli/go.mod
Due: cli

build(deps): update module k8s.io/client-go to v11
  api/go.mod
  lighthouse-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  webhook-service/go.mod
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module gopkg.in/yaml.v2 to v2.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.mod
Due: api

build(deps): update module golang.org/x/text to v0.5.0
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

chore: add @TannerGilbert to Bridge Code Owners (#9219)
  CODEOWNERS
Due: none

build(deps): update module golang.org/x/net to v0.2.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module go.mongodb.org/mongo-driver to v1.11.0
  mongodb-datastore/go.mod
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: mongodb-datastore, shipyard-controller, statistics-service

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.36.4
  api/go.mod
Due: api

build(deps): update k8s.io/utils digest to 99ec85e
  api/go.mod
Due: api

build(deps): update module golang.org/x/time to v0.3.0
  api/go.mod
Due: api

build(deps): update module golang.org/x/crypto to v0.3.0
  api/go.mod
  approval-service/go.mod
  cli/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  mongodb-datastore/go.mod
  remediation-service/go.mod
  resource-service/go.mod
  secret-service/go.mod
  shipyard-controller/go.mod
  statistics-service/go.mod
  webhook-service/go.mod
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

build(deps): update module github.com/nats-io/nats.go to v1.20.0
  api/go.mod
  distributor/go.mod
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): update module github.com/go-openapi/runtime to v0.25.0
  api/go.mod
  mongodb-datastore/go.mod
Due: api, mongodb-datastore
