Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix(shipyard-controller): Fixed NilPointerExeption due to typo in SequenceDispatcher (#9079)
  shipyard-controller/internal/controller/sequencedispatcher.go
Due: shipyard-controller

fix(shipyard-controller): Fixed NilPointerExeption due to typo in SequenceDispatcher (#9080)
  shipyard-controller/internal/controller/sequencedispatcher.go
Due: shipyard-controller

build(deps): update dependency eslint-plugin-jsdoc to v39.3.22
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore: Add @bradmccoydev as maintainer (#9061)
  MAINTAINERS
Due: none

chore: Add @DavidPHirsch as maintainer
  MAINTAINERS
Due: none

fix(distributor): Datarace range variable is captured in goroutine (#8973)
  CONTRIBUTORS.md
  distributor/pkg/receiver/receiver.go
Due: distributor

build(deps): update dependency cypress to v10.11.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

chore: Add @DavidPHirsch as maintainer (#9088)
  MAINTAINERS
Due: none

docs: Add info about auto-signoff
  CONTRIBUTING.md
Due: none

installer: Resolve security scan issues
  .github/kics-config.yml
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

drop all capabilities
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

Add resource limits and requests to initContainers
  .github/kics-config.yml
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

set cpu from 10 to 25
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

reorder init containers
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

fix: Resolve security scan issues (#9094)
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
Due: none

feat(bridge): Added autofocus to deletion dialog input field (#9056)
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.html
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.spec.ts
  bridge/client/app/_components/_dialogs/ktb-deletion-dialog/ktb-deletion-dialog.component.ts
  bridge/cypress/integration/project-delete.spec.ts
  bridge/cypress/support/pageobjects/ProjectSettingsPage.ts
Due: bridge2

fix(bridge): Fix relative weight calculation
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.info-evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/shared/models/result-types.ts
Due: bridge2

Fixed formatting issues
  bridge/cypress/fixtures/get.sockshop.service.carts.info-evaluations.mock.json
Due: bridge2

Refactored if statements inside trace.ts
  bridge/shared/models/trace.ts
Due: bridge2

fix(bridge): Show correct border color for task items in sequence view (#9055)
  bridge/client/app/_components/ktb-expandable-tile/ktb-expandable-tile.component.scss
  bridge/cypress/fixtures/sequence.traces.mock.json
  bridge/cypress/integration/sequences.spec.ts
  bridge/cypress/support/pageobjects/SequencesPage.ts
  bridge/shared/models/trace.ts
Due: bridge2

fix(bridge): Fix relative weight calculation (#9099)
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.ts
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.ts
  bridge/cypress/fixtures/get.sockshop.service.carts.info-evaluations.mock.json
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/cypress/support/pageobjects/ServicesPage.ts
  bridge/shared/models/result-types.ts
Due: bridge2

fix(shipyard-controller): Decode input payload strictly when creating or updating project
  shipyard-controller/internal/handler/common.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

build(deps): update tj-actions/changed-files action to v34
  .github/workflows/CI.yml
Due: none

feat(resource-service): add git2go implementation
  resource-service/Dockerfile
  resource-service/common/git.go
  resource-service/config/config.go
Due: resource-service

fix(resource-service): Delete tmp-origin before migrating repository
  resource-service/common/git.go
Due: resource-service

fix(shipyard-controller): Decode input payload strictly when creating or updating project (#9102)
  shipyard-controller/internal/handler/common.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix(resource-service): Delete tmp-origin before migrating repository (#9104)
  resource-service/common/git.go
Due: resource-service

fix(shipyard-controller): Decode input payload strictly when creating or updating project (#9101)
  shipyard-controller/internal/handler/common.go
  shipyard-controller/internal/handler/projecthandler.go
  shipyard-controller/internal/handler/projecthandler_test.go
Due: shipyard-controller

fix(resource-service): Delete tmp-origin before migrating repository (#9106)
  resource-service/common/git.go
Due: resource-service

fix(resource-service): Force checkout event if unstaged changes are present
  resource-service/common/git.go
Due: resource-service

use libgit2go as a fallback for remote operations
  resource-service/Dockerfile
  resource-service/common/fake/gogit_mock.go
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common/go-git.go
  resource-service/common_models/git.go
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
  resource-service/handler/project_manager.go
  resource-service/handler/project_manager_test.go
  resource-service/handler/resource_manager.go
  resource-service/handler/stage_manager.go
Due: resource-service

build(deps): update dependency @cypress/schematic to v2.3.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

update warning
  resource-service/common/git.go
Due: resource-service

reset hard when changes could no be commited
  resource-service/common/git.go
Due: resource-service

use libgit2go as a fallback for remote operations
  resource-service/Dockerfile
  resource-service/common/git.go
  resource-service/common/gitsuite_test.go
  resource-service/common/go-git.go
  resource-service/common_models/git.go
  resource-service/go.mod
  resource-service/go.sum
  resource-service/handler/common.go
  resource-service/handler/common_test.go
  resource-service/handler/service_manager.go
Due: resource-service
