Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

fix replace in go.mod files
  resource-service/go.mod
  resource-service/go.sum
Due: resource-service

ci: fix docker caching by ordering the ARG steps correctly in all dockerfiles
  .github/workflows/test-and-build-docker-images.yml
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

Updated port sharing login
  cli/cmd/auth.go
  cli/cmd/authenticator.go
  cli/internal/api.go
  cli/internal/auth/oauth.go
Due: cli

build(deps): update dependency eslint-config-prettier to v8.6.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

updated
  .github/workflows/release.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

fix: upgrade rxjs from 7.6.0 to 7.8.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

Added message in the error of port busy to configure port
  cli/internal/auth/redirect.go
Due: cli

build(deps): update golang.org/x/exp digest to 4b8118a
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.mod
  api/go.sum
Due: api

build(deps): update module github.com/nats-io/nats-server/v2 to v2.9.11
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

feat(resource-service): reduce git fetch operations
  resource-service/common/git.go
  resource-service/handler/resource_manager.go
Due: resource-service

added comment
  resource-service/handler/resource_manager.go
Due: resource-service

ci: move version build arg and label to end of production stages in all dockerfiles
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

go mod tidy
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, mongodb-datastore, shipyard-controller

build(deps): update module golang.org/x/text to v0.6.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

move some env var replacement to after the go build command since they introduce unnecessary cache invalidations
  api/Dockerfile
  mongodb-datastore/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
Due: none

added more unit tests
  resource-service/handler/resource_manager_test.go
Due: resource-service

ci: fix docker build caching (#9403)
  .github/workflows/test-and-build-docker-images.yml
  api/Dockerfile
  approval-service/Dockerfile
  bridge/Dockerfile
  distributor/Dockerfile
  lighthouse-service/Dockerfile
  mongodb-datastore/Dockerfile
  remediation-service/Dockerfile
  resource-service/Dockerfile
  secret-service/Dockerfile
  shipyard-controller/Dockerfile
  statistics-service/Dockerfile
  webhook-service/Dockerfile
Due: none

chore: fixed false positive security errors
  .github/.kubescape/exceptions.json
Due: none

feat(resource-service): reduce git fetch operations (#9410)
  resource-service/common/git.go
  resource-service/handler/resource_manager.go
  resource-service/handler/resource_manager_test.go
Due: resource-service

build(deps): update dependency @babel/core to v7.20.12
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency babel-loader to v9.1.2
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

more exceptions
  .github/.kubescape/exceptions.json
Due: none

pr review
  .github/.kubescape/controls-inputs.json
  .github/.kubescape/exceptions.json
  installer/manifests/keptn/templates/_helpers.tpl
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/bridge.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

ci: Only report security scan result on scheduled runs
  .github/workflows/security-scans.yml
Due: none

minor fix
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

fix
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

ci: Only report security scan result on scheduled runs (#9417)
  .github/workflows/security-scans.yml
Due: none

remove namespace from init containers
  installer/manifests/keptn/templates/_helpers.tpl
Due: none

chore: fixed false positive security errors (#9411)
  .github/.kubescape/controls-inputs.json
  .github/.kubescape/exceptions.json
  installer/manifests/keptn/templates/api-gateway-nginx.yaml
  installer/manifests/keptn/templates/api-service.yaml
  installer/manifests/keptn/templates/approval-service.yaml
  installer/manifests/keptn/templates/bridge.yaml
  installer/manifests/keptn/templates/lighthouse-service.yaml
  installer/manifests/keptn/templates/mongodb-datastore.yaml
  installer/manifests/keptn/templates/remediation-service.yaml
  installer/manifests/keptn/templates/resource-service.yaml
  installer/manifests/keptn/templates/secret-service.yaml
  installer/manifests/keptn/templates/shipyard-controller.yaml
  installer/manifests/keptn/templates/statistics-service.yaml
  installer/manifests/keptn/templates/webhook-service.yaml
Due: none

ci: Generate SBOMs for all container images on release
  .github/workflows/release.yml
Due: none

ci: Generate SBOMs for all container images on release (#9419)
  .github/workflows/release.yml
Due: none
