Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

build(deps): update dependency d3 to v7.7.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency eslint-plugin-jsdoc to v39.6.4
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency eslint-plugin-no-only-tests to v3.1.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency eslint-plugin-promise to v6.1.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency openid-client to v5.3.1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency prettier to v2.8.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency zone.js to v0.12.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @babel/core to v7.20.5
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @cypress/schematic to v2.4.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @dynatrace/barista-icons to v7.24.1
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency @types/dompurify to v2.4.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency babel-loader to v8.3.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

fixed package.json
  bridge/package.json
Due: bridge2

fix server/package.json
  bridge/server/package.json
Due: bridge2, bridge-server

Fixed linting
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-tooltip.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.html
  bridge/cypress/integration/sli-breakdown.spec.ts
Due: bridge2

fix: according to review
  test/go-tests/test_multiple_integrations.go
  test/go-tests/test_utils.go
  test/go-tests/test_webhook.go
  test/go-tests/testsuite_k3s_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

fix: changed name of queue group
  test/go-tests/test_multiple_integrations.go
Due: none

fix: changed name of queue group
  test/go-tests/testsuite_gke_test.go
  test/go-tests/testsuite_openshift_test.go
Due: none

build(deps): consolidate all open renovate PRs for go dependencies (#9234)
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

fix: Add new mongo ver to script
  test/go-tests/test_multiple_integrations.go
  test/go-tests/testsuite_gke_test.go
Due: none

build(deps): Merge bump open renovate PRs (Part 2) (#9258)
  bridge/client/app/_components/ktb-chart/ktb-chart.component.html
  bridge/client/app/_components/ktb-evaluation-badge/ktb-evaluation-badge.component.html
  bridge/client/app/_components/ktb-evaluation-details/ktb-evaluation-details.component.html
  bridge/client/app/_components/ktb-event-item/ktb-event-item.component.html
  bridge/client/app/_components/ktb-heatmap/ktb-heatmap-tooltip.component.html
  bridge/client/app/_components/ktb-sli-breakdown/ktb-sli-breakdown.component.html
  bridge/client/app/_views/ktb-dashboard-view/ktb-sequence-state-list/ktb-sequence-state-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-services-list/ktb-services-list.component.html
  bridge/client/app/_views/ktb-environment-view/ktb-stage-overview/ktb-trigger-sequence/ktb-trigger-sequence.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-root-events-list/ktb-root-events-list.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-tasks-list/ktb-task-item.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-timeline/ktb-sequence-timeline.component.html
  bridge/client/app/_views/ktb-sequence-view/ktb-sequence-view.component.html
  bridge/client/app/_views/ktb-service-view/ktb-deployment-list/ktb-deployment-list.component.html
  bridge/client/app/_views/ktb-service-view/ktb-sequence-list/ktb-sequence-list.component.html
  bridge/client/app/_views/ktb-settings-view/ktb-create-secret-form/ktb-create-secret-form.component.html
  bridge/cypress/integration/sli-breakdown.spec.ts
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency typescript to v4.9.3
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency webpack-bundle-analyzer to v4.7.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update typescript-eslint monorepo to v5.45.0
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency axios to v1
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency babel-loader to v9
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency cypress to v11
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency eslint to v8
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update dependency helmet to v6
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency uuid to v9
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

build(deps): update jest monorepo to v29
  bridge/package.json
  bridge/server/package.json
  bridge/server/yarn.lock
  bridge/yarn.lock
Due: bridge2, bridge-server

revert bridge typescript bump
  bridge/package.json
  bridge/yarn.lock
Due: bridge2
