Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

debugging
  .github/workflows/CI.yml
Due: none

remove debug output
  .github/workflows/CI.yml
Due: none

ci: Fix error when unreleased commits are on master (#9318)
  .github/workflows/CI.yml
Due: none

ci: Fix generic version when no upcoming version can be used
  .github/workflows/CI.yml
Due: none

ci: Fix generic version when no upcoming version can be used (#9319)
  .github/workflows/CI.yml
Due: none

test: remove extra runs and enhance logs for debugging reasons
  .github/workflows/integration_tests.yml
  resource-service/common/credentials.go
  resource-service/common/git.go
  test/go-tests/test_backuprestore.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
  test/go-tests/test_uniform.go
  test/go-tests/test_utils.go
  test/go-tests/test_webhook.go
  test/go-tests/test_webhook_migration.go
Due: resource-service

fix: Fix some shellcheck issues in pipeline related shell scripts
  gh-actions-scripts/build-helm-charts.sh
Due: none

fix: Fix some shellcheck issues in pipeline related shell scripts (#9322)
  gh-actions-scripts/build-helm-charts.sh
Due: none

test: remove extra runs and enhance logs for debugging reasons (#9314)
  .github/workflows/integration_tests.yml
  resource-service/common/credentials.go
  resource-service/common/git.go
  test/go-tests/test_backuprestore.go
  test/go-tests/test_custom_git_branch_name.go
  test/go-tests/test_deliveryassistant.go
  test/go-tests/test_gitcommitid.go
  test/go-tests/test_importer.go
  test/go-tests/test_provisioningURL.go
  test/go-tests/test_proxyauth.go
  test/go-tests/test_qualitygate.go
  test/go-tests/test_resourceservice.go
  test/go-tests/test_secrets.go
  test/go-tests/test_sequencequeue.go
  test/go-tests/test_sshpublickeyauth.go
  test/go-tests/test_uniform.go
  test/go-tests/test_utils.go
  test/go-tests/test_webhook.go
  test/go-tests/test_webhook_migration.go
Due: resource-service

build(deps): update kubernetes packages to v0.26.0
  api/go.mod
  api/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, lighthouse-service, shipyard-controller, webhook-service, secret-service

build(deps): update module golang.org/x/oauth2 to v0.3.0
  cli/go.mod
  distributor/go.mod
  distributor/go.sum
Due: cli, distributor

build(deps): update dependency cypress to v12
  bridge/package.json
  bridge/yarn.lock
Due: bridge2

feat(bridge): Sort registration items by name. Signed-off-by: Shardul Srivastava<shardul.srivastava007@gmail.com>
  bridge/server/services/data-service.ts
Due: bridge2, bridge-server

ci: Fix integration tests auth against GCP
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

try fixing auth
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

debugging
  .github/workflows/integration_tests.yml
Due: none

debugging
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

add sudo
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

add apt-get update
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

docs: Document /import OAuth scopes
  api/swagger.yaml
Due: none

fix format
  api/swagger.yaml
Due: none

docs: Document `/import` OAuth scopes (#9330)
  api/swagger.yaml
Due: none

try something else
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

remove gcloud setup action
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

go mod tidy
  cli/go.mod
  cli/go.sum
  distributor/go.sum
Due: cli, distributor

build(deps): update module github.com/nats-io/nats.go to v1.21.0
  api/go.mod
  api/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

add missing updates
  distributor/go.sum
  shipyard-controller/go.sum
Due: distributor, shipyard-controller

add missing updates
  api/go.sum
  lighthouse-service/go.sum
Due: api, lighthouse-service

go mod tidy
  api/go.sum
  distributor/go.sum
  lighthouse-service/go.sum
  shipyard-controller/go.sum
Due: api, distributor, lighthouse-service, shipyard-controller

build(deps): update module golang.org/x/net to v0.4.0
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

kubectl should be fixed now
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

build(deps): update module go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp to v0.37.0
  api/go.mod
  api/go.sum
Due: api

go mod tidy
  api/go.sum
Due: api

go mod tidy
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service
