Repository keptn/keptn: changes, and which Codecov flags are due for each by the changed paths.
All: api, bridge2, bridge-server, cli, resource-service, distributor, approval-service, helm-service, jmeter-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

codecov.yml:

coverage:
  status:
    project:
      default:
        # basic
        target: auto
        threshold: 2% # allow cov to drop by 2% (just in case)
    patch:
      default:
        threshold: 1% # allow patch

ignore:
  - "**/*.yaml"       # ignore all yaml files (Kubernetes manifests, etc...)
  - "**/*.yml"        # same as above
  - "**/*.md"         # ignore all markdown files, those are not relevant for building/testing
  - "**/Dockerfile"   # ignore Dockerfiles, those are build with GH Actions
  - "**/*.sh"         # ignore shell scripts

comment:
  layout: "diff, files, flags"

github_checks:
  annotations: false

flags:
  api:
    paths:
      - api/
    carryforward: true
  bridge2:
    paths:
      - bridge/
    carryforward: true
  bridge-server:
    paths:
      - bridge/server/
    carryforward: true
  cli:
    paths:
      - cli/
    carryforward: true
  resource-service:
    paths:
      - resource-service/
    carryforward: true
  distributor:
    paths:
      - distributor/
    carryforward: true
  approval-service:
    paths:
      - approval-service/
    carryforward: true
  helm-service:
    paths:
      - helm-service/
    carryforward: true
  jmeter-service:
    paths:
      - jmeter-service/
    carryforward: true
  lighthouse-service:
    paths:
      - lighthouse-service/
    carryforward: true
  mongodb-datastore:
    paths:
      - mongodb-datastore/
    carryforward: true
  remediation-service:
    paths:
      - remediation-service/
    carryforward: true
  shipyard-controller:
    paths:
      - shipyard-controller/
    carryforward: true
  statistics-service:
    paths:
      - statistics-service/
    carryforward: true
  webhook-service:
    paths:
      - webhook-service/
    carryforward: true
  secret-service:
    paths:
      - secret-service/
    carryforward: true

Pipeline test
  .github/workflows/CI.yml
Due: none

pipeline test
  .github/workflows/test-and-build-docker-images.yml
Due: none

pipeline test
  .github/workflows/build-docker-images.yml
Due: none

Reuse new workflow in release pipeline
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

Reuse workflow for pre-release pipeline
  .github/workflows/CI.yml
  .github/workflows/pre-release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

Add flag to specify if tests should be executed
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

Resolve discussions
  .github/workflows/test-and-build-docker-images.yml
Due: none

Fix pipeline
  .github/workflows/test-and-build-docker-images.yml
Due: none

Pipeline test
  .github/workflows/CI.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

ci: Extract and reuse existing workflow steps (#8850)
  .github/workflows/CI.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update sigstore/cosign-installer action to v2.6.0
  .github/workflows/test-and-build-docker-images.yml
Due: none

build(deps): update dependency nodemon to v2.0.20
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update dependency mongodb to v4.10.0
  bridge/server/package.json
  bridge/server/yarn.lock
Due: bridge2, bridge-server

build(deps): update module github.com/swaggo/swag to v1.8.6
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

update to new GKE cluster location, update k8s versions
  .github/workflows/integration_tests.yml
Due: none

change from zone to region
  .github/workflows/integration_tests.yml
Due: none

use correct cluster names
  .github/workflows/integration_tests.yml
Due: none

github ip ranges
  .github/workflows/bla.txt
Due: none

build(deps): update golang.org/x/net digest to d0c6ba3
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

go mod tidy
  secret-service/go.sum
  shipyard-controller/go.sum
  statistics-service/go.sum
Due: shipyard-controller, statistics-service, secret-service

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

update cidr ranges
  .github/workflows/bla.txt
Due: none

add colored output to kubescape scans
  .github/workflows/security-scans.yml
Due: none

revert unnecessary changes
  .github/workflows/bla.txt
  .github/workflows/integration_tests.yml
Due: none

go mod tidy
  api/go.mod
  api/go.sum
  approval-service/go.mod
  approval-service/go.sum
  cli/go.mod
  cli/go.sum
  distributor/go.mod
  distributor/go.sum
  lighthouse-service/go.mod
  lighthouse-service/go.sum
  mongodb-datastore/go.mod
  mongodb-datastore/go.sum
  remediation-service/go.mod
  remediation-service/go.sum
  resource-service/go.mod
  resource-service/go.sum
  secret-service/go.mod
  secret-service/go.sum
  shipyard-controller/go.mod
  shipyard-controller/go.sum
  statistics-service/go.mod
  statistics-service/go.sum
  webhook-service/go.mod
  webhook-service/go.sum
Due: api, cli, resource-service, distributor, approval-service, lighthouse-service, mongodb-datastore, remediation-service, shipyard-controller, statistics-service, webhook-service, secret-service

ci: Enable colored output for kubescape security scans (#8871)
  .github/workflows/security-scans.yml
Due: none

remove unneeded file
  .github/workflows/bla.txt
Due: none

update ZD pipeline to fit with new clusters
  .github/workflows/zero-downtime-tests.yml
Due: none

update cluster location
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Update to new GKE cluster location, update k8s versions (#8870)
  .github/workflows/integration_tests.yml
  .github/workflows/zero-downtime-tests.yml
Due: none

ci: Remove duplicated docker login step in workflow
  .github/workflows/test-and-build-docker-images.yml
Due: none

ci: Remove duplicated docker login step in workflow (#8874)
  .github/workflows/test-and-build-docker-images.yml
Due: none
